[2017-04-15 21:57] #557 closed

[2017-04-15 21:58] Susurrus opened #583 "Make a new release (0.9.0)"
We should make a new release to help users on all platforms fixed by various recent pull requests. This should also include the following unmerged PRs:

  * #578

This will resolve #567.

[2017-04-15 21:59] kamalmarhubi commented on #567
@alexrg @mmokhi could you try with this in your `Cargo.toml`:

[code]

If it works, I'll release 0.8.1.

[2017-04-15 21:59] Susurrus commented on #567
@kamalmarhubi We have a breaking API change since 0.8.0, I'd recommend going to 0.9.0.

[2017-04-15 22:00] asomers commented on #583
Can we wait for PR #582 as well?

[2017-04-15 22:00] kamalmarhubi commented on #567
@Susurrus that branch has just the fix in a859ee3c cherry-picked. :-)

[2017-04-16 01:02] posborne commented on #580
👍 on moving to Bors!

[2017-04-16 01:20] #580 closed

[2017-04-16 01:33] #578 closed

[2017-04-16 02:23] kamalmarhubi commented on #580
@nix-rust/nix-maintainers FYI @homu is no more. The new way to approve PRs is `bors r+`, or `bors r=username`.

[2017-04-16 03:32] #575 closed

[2017-04-16 04:17] kamalmarhubi commented on #555
I was writing a shell last weekend, and came up against this. The shell was single-threaded, but I found it quite uncomfortable to be doing allocation after `fork`.

Do you know if unsafety can result from allocating after `fork`, or is it just deadlock?

[2017-04-16 16:59] mmokhi commented on #567
@kamalmarhubi , yeah it seems work on my system.
Any other things I can do/test?

[2017-04-16 19:57] kamalmarhubi commented on #567
@mmokhi if it fixes the FreeBSD issues, I'll just make a release. @nix-rust/nix-maintainers can I get a 👍 on releasing https://github.com/kamalmarhubi/nix-rust/tree/fix-bsd-0.8.1 as v0.8.1? The diff vs v0.8.0 is here: https://github.com/nix-rust/nix/compare/v0.8.0...kamalmarhubi:fix-bsd-0.8.1

[2017-04-17 03:01] kamalmarhubi commented on #567
@mmokhi @alexreg I just release 0.8.1 with this fix. I hope that sorts this out for you. Please reopen if it doesn't!

[2017-04-17 03:01] #567 closed

[2017-04-17 03:19] kamalmarhubi opened #586 "Rethinkging he interface for `fork`"
I was writing a shell as an example for nix, and I realised that #555 makes a really good point: the code that runs in the child after `fork(2)` must not allocate if there is more than one thread. I don't know if `fork` should necessarily be made unsafe, but certainly we need to document better what is ok to do afterwards.

This is somewhat related to #90 in that there's an execution context where

[2017-04-17 03:23] kamalmarhubi opened #587 "Provide safe sigaction functions for setting SIG_IGN and SIG_DFL"
#101 made `sigaction` unsafe because of soundness issues for thread-local storage. It's unfortunate that the really common use case of setting signals to default or ignore now requires `unsafe`.

[2017-04-17 07:13] hniksic commented on #555
If the process has only one thread, then you have nothing to worry about. The problem arises if and only if `fork()` is executed while *another* thread holds a lock that will also be needed in the child. One thing you need to consider, though, is that a library or a crate you are using might be spawning threads behind your back.

[2017-04-17 16:48] alexreg commented on #567
@kamalmarhubi All good for me, thanks! Sorry I couldn't reply earlier; was away.

[2017-04-17 17:56] Susurrus commented on #583
I thought this was going to resovle the build failure for #567, but it looks like we're going to do a single-issue 0.8.1 release. So we'll just wait a bit for the 0.9.0 release as we've done in the past.

[2017-04-17 17:56] #583 closed

[2017-04-18 21:25] notriddle commented on #570
According to [the Rust FAQ, they use the MIT/Apache license because](https://www.rust-lang.org/en-US/faq.html#why-a-dual-mit-asl2-license):

[2017-04-18 22:22] Susurrus commented on #570
I'm much more a fan of the Mozilla Public License 2.0. It's basically GPL but the segregation of code occurs at the file level instead at a binary interface, which is problematic for Rust where almost all code is statically compiled. It's what I've licensed all my Rust crates.

[2017-04-20 21:19] Susurrus opened #593 "libc_bitflags doesn't group constants in documentation"
Looking through the documentation generated from the `sys/termios` library for example (see #527) you can see that all the constants are listed in one big lump instead of grouped like how they are in the source. Additionally, when looking at these bitflags in the docs, they don't have any of their constants listed under them. You actually have to read the source to figure out what constants are pa

[2017-04-22 06:30] posborne commented on #570
Although I would not stand in the way of a license change, I see no strong reason to relicense from the MIT license to a dual license scheme given the amount of work that I perceive would be required.

Although I prefer the MPL to the GPL, I am generally most interested in MIT/Apache licensed projects that can provide the greatest value to the greatest number of people/entities.

[2017-04-22 08:54] utkarshkukreti commented on #570
One benefit of having a dual MIT/Apache-2.0 license is that Rust, Cargo, and other projects under rust-lang{,-nursery} will be able to freely take code from nix without having to change their license to say that "this piece of code is just MIT, not MIT/Apache-2.0".

[2017-04-22 15:49] Susurrus commented on #570
@utkarshkukreti That's not how licenses work. Since the MIT license is less restrictive, you can use the MIT license in an MIT/Apache2 project without any issue because you can ass the Apache2 license on top of it. That's one of the things that the MIT license allows you to do. This issue was filed based on a misunderstanding of how licensing works but is actually a nonissue.

I'm closing this iss

[2017-04-22 15:49] #570 closed

[2017-04-22 16:43] utkarshkukreti commented on #570
@Susurrus I'm not sure what you mean by "add" here. You definitely cannot copy MIT licensed code to an MIT/Apache-2.0 dual licensed code and then release the _whole_ code under MIT/Apache-2.0.

[2017-04-22 17:07] Susurrus commented on #570
Sorry, I phrased that oddly. How I should have phrased it is that you can currently distribute MIT-licensed code under the Apache-2.0 license because the terms of the Apache-2.0 license also fulfill the requirements of the MIT license. The same will hold true for a project licensed as MIT/Apache-2.0. In fact, you can distribute MIT-licensed code under any additional license you so choose as long a

[2017-04-22 17:12] utkarshkukreti commented on #570
Yes, you can distribute the resulting code (unlike GPL) but the resulting code will then be licensed as \<old license> for everything except the copied code and MIT license for the copied code.

[2017-04-22 17:20] Susurrus commented on #570
I actually think that you should be able to relicense the code as long as you use an equivalent or more restrictive license such that you still fulfill the obligations of the MIT license. For example, you should be able to relicense MIT code as Apache-2.0 because it fulfills all of the MIT license requirements and therefore treat that code as Apache-2.0 code.

[2017-04-22 17:23] utkarshkukreti commented on #570
The Apache-2.0 license includes a Patent Grant which the MIT license doesn't: https://en.wikipedia.org/wiki/Comparison_of_free_and_open-source_software_licenses

Also, if we could just re-license MIT to Apache-2.0, we wouldn't need any permission from the 100+ contributors. :)

[2017-04-23 06:26] kamalmarhubi commented on #570
I think the only options to consider here are:
1. do nothing (remain MIT-only)
2. attempt to dual-license under MIT/APL-2.0

The first takes no effort. I'm reasonably sure the second would require the permission of all contributors,

[2017-04-23 06:27] kamalmarhubi commented on #570
I missed that this was closed. Ignore me.

[2017-04-24 15:26] kamalmarhubi opened #594 "Taking RawFd by value is not sound"
[Raised by @lucab on #562 ](https://github.com/nix-rust/nix/pull/562#issuecomment-296684917)

This is a problem. A `RawFd` value may be kept long enough to end up referring to a different file. We may wish to provide a non-copy wrapper type similar to `mio`'s `EventedFd` that allows enforcing the borrowing relationship. From [the docs](https://docs.rs/mio/0.6.6/mio/unix/struct.EventedFd.html):

[2017-04-24 15:32] kamalmarhubi opened #595 "Find a better way to add to the changelog"
Every time a PR gets merged, almost all other PRs end up requiring a rebase to fix up the changelog. This is annoying for everyone involved.

[2017-04-24 16:20] lucab commented on #594
Do you know if this concern has been raised within stdlib before? I think `RawFd` may benefit from being `Clone` via `dup(2)`, but I miss the point of `Copy` (at least on linux).

[2017-04-24 20:18] kamalmarhubi commented on #594
`dup(2)` can fail, eg if a file descriptor limit is reached. I don't think it makes sense to have a fallible `Clone` impl. And I don't think the stdlib would be interested in this change. The wording `Raw` indicates moving outside of Rust's guarantees. [Most every occurrence of `raw` in the stdlib](https://doc.rust-lang.org/stable/std/rc/struct.Rc.html?search=raw) has that connotation. For this ca

[2017-04-25 07:30] lucab commented on #595
I definitely agree. If it may help as a source of inspiration, [this](https://github.com/rkt/rkt/blob/v1.25.0/Documentation/devel/release.md) is what we use in rkt: basically a script to collect all PR titles and summaries since last tag. It is up to the release pilot (the one currently owning the GPG key) to do the final cosmetic pass and push the artifacts. I think it could be even further autom

[2017-04-25 15:25] sunng87 commented on #595
Thank you for mentioning. For now cargo-release cannot generate changelog because I still haven't found a standard way to collect changes. In my previous team, we use `(feat)`, `(fix)` to prefix our commit message. But generating meaningful changelog is still difficult with that.

Changelog is an important part of software and maybe we need to write it formally just like our code.

Any suggestion

[2017-04-25 19:49] Susurrus commented on #595
I think there should be a command-line option like `--auto-changelog` that you can opt into that will compile the changelog from commits that use the special syntax. The syntax should follow from that used by keepachangelog.com, which is `Added`, `Changed`, `Fixed`, `Removed`. Maybe something like:

Commit title:

Commit body:

This would then be appended to the end of the "Added" section of the c

[2017-04-25 20:38] lucab commented on #595
@Susurrus I'd be wary of mandating a single syntax, as I already seen multiple attempted proposals and all of them with limited success. Mostly because different projects have different requirements, and a one-size-fits-all quickly becomes too baroque.

To avoid stealing this thread I'm moving this cargo-release discussion over to https://github.com/sunng87/cargo-release/issues/31, so that nix mai

[2017-04-28 21:01] agrover opened #596 "Implement fallocate(2)"
See man 2 fallocate. I think this should be relatively straightforward (at least I hope so.)

[2017-05-04 10:02] cyphar opened #601 "Add prctl(2) support"
I'm working on an [alternative container init and signal forwarder](https://github.com/cyphar/initrs), and a nice feature would be to be able to run it as non-pid1. However, that requires being able to set PR_SET_CHILD_SUBREAPER from within Rust.

While it's possible to do this:

[code]

The `unsafe` is unsightly.

[2017-05-05 15:57] Susurrus commented on #601
Indeed, it seems reasonable to add `prctl(2)`. Would you be willing to submit a PR for this?

[2017-05-06 02:32] cyphar commented on #601
I'm not a very proficient user of Rust yet (I just started picking it up last weekend), but I believe that [the `prctl` crate](https://github.com/viraptor/prctl-rs) could be a reasonable starting point. The biggest thing that makes `prctl(2)` ugly and unsafe is that the arguments are sometimes read and sometimes written to by the kernel.

[2017-05-06 02:39] Susurrus commented on #601
If you want to have a go at it, I'll mentor you. This crate does very low level abstractions, so basically what you already wrote puts you half way there I'd think. We wouldn't try to offer a more comprehensive high-level API as that crate seems to be aiming for. Otherwise I don't know how likely it is for someone to tackle this in the near future.

[2017-05-09 19:44] sector-f opened #602 "Request for safe mkfifo function"
As far as I know, `mkfifo(3)` is just a wrapper around `mknod(3)`. Regardless, a FIFO can be created with `mknod`.

I think a wrapper function (placed in `stat.rs`) would look something like this:

[code]

Alternatively, you could also wrap `nix`'s existing safe `mknod` function like I did in this code:

[code]

[2017-05-09 19:52] asomers commented on #602
Only on Linux is `mkfifo` a wrapper around `mknod`.  Your proposed implementation would be unnecessarily unportable.  What's wrong with using the regular `mkfifo` function?  That one is standardized.

[2017-05-09 20:40] sector-f commented on #602
Come to think of it, that does sound familiar. My mistake.

Probably nothing; I'm just being forgetful and/or ignorant.

[2017-05-14 04:08] asomers opened #603 "Continuous testing for FreeBSD"
I'm working on a buildbot cluster that could support continuous testing on FreeBSD for several projects.  I've got a prototype running, and you can see a PR in action at https://github.com/asomers/mio-aio/pull/2 .  The hardest question is how to secure it.  Since anybody can open a PR, that means that anybody can run arbitrary code on the buildslaves.  The potential damage is limited; each project

[2017-05-16 05:29] notriddle commented on #603
Since nix uses bors, your cluster doesn't need to have its own support for magic comments. All it needs is to be able to build branches on nix's repository and report results using the GitHub Commit Status API. The builds will run if a reviewer calls `bors try` or `bors r+`.

On the other hand, if you want to run all the pull requests, and you want suggestions to be better able to isolate the buil

[2017-05-16 06:05] asomers commented on #603
Interesting.  How would bors request a build from buildbot?

[2017-05-16 13:28] notriddle commented on #603
It drops a merge commit into the right branch, either "trying" for a try build or "staging" for a merge build. BuildBot needs to have a webhook set up so that it automatically builds when those branches change.

[2017-05-16 14:14] asomers commented on #603
Great news!  It's easy to setup that kind of hook, as long as the branch name matches a regex.  I'll try it out tonight.

[2017-05-16 17:06] DanielJoyce opened #604 "underlying libc close() is unreliable on MacOSX"
Should probably switch to the methods reccomended here

https://github.com/lionheart/openradar-mirror/issues/4506

**An alternative version available on Mac OS X, close$NOCANCEL$UNIX2003 (32-bit x86) and close$NOCANCEL (x86_64) is available.**

[2017-05-16 17:13] asomers commented on #604
It sounds like the alternate version has no drawbacks, so you should probably take this up at https://github.com/rust-lang/libc .

[2017-05-16 17:38] Susurrus commented on #604
@DanielJoyce Please close this with a link to an issue against the `rust-lang/libc` repo once you've posted one there.

[2017-05-16 17:41] Susurrus commented on #603
I wanted to point out here that GitLab CI [already supports FreeBSD](https://docs.gitlab.com/runner/install/freebsd.html) with their runners. We'd need to have this repo on GitLab to utilize this, but I wanted to point this out in case it's a reasonable path forward. If they've already solved the hard part and it just requires installing a runner, then that seems pretty low-effort. I do not, howev

[2017-05-16 17:42] DanielJoyce commented on #604
Just saw they're using the right one. :P

[2017-05-16 17:44] Susurrus commented on #604
I don't think they are.

[2017-05-16 17:44] DanielJoyce commented on #604
https://github.com/rust-lang/libc/issues/595

Sorry, too much coffee today. Looks like they are using close$UNIX2003 when they should use the NOCANCEL variants

[2017-05-16 17:44] Susurrus commented on #604
https://github.com/rust-lang/libc/blob/19f3be3638322e343f90c50ec8d30de9e4972940/src/unix/mod.rs#L407

[2017-05-16 17:47] Susurrus commented on #604
Let's change this issue then to be to increase the libc dependency once that's fixed. We'll want to make sure `nix` includes that change.

[2017-05-16 18:22] notriddle commented on #603
BuildBot supports FreeBSD fine, as well. The question is how it should be configured.

[2017-05-16 19:14] asomers commented on #603
@Susurrus that's nice.  I didn't know GitLab had its own CI system.  And it's hosted version looks free, which is nice.  Price will be an issue, though, since you need someplace to host the runners.  Gitlab's free shared runners are all Linux, and it looks like they don't even have container-level isolation.  I'll have to do some more research to see how hard it would be to share a FreeBSD runner

[2017-05-17 05:12] asomers commented on #603
I got a FreeBSD runner setup to work with a GitLab project, and successfully completed a build.  Unfortunately, GitLab doesn't yet have any support for sharing FreeBSD runners between projects in a containerized way.  My next task will be to see how hard it would be to add that feature.
https://gitlab.com/asomers/mio-aio/commit/0323a4ab6a6e299d5930fb7ae628a6a23c90d8cb/pipelines

[2017-05-17 05:12] Susurrus commented on #603
Your GitLab link is broken. Is that repo public there?

[2017-05-17 05:18] asomers commented on #603
Whoops!  Try again.

[2017-05-17 05:22] Susurrus commented on #603
I can see the project, but nothing in it. No files, commits, or pipelines are public.

[2017-05-17 14:20] asomers commented on #603
I'm clearly a beginner at Gitlab.  Try again.  I think you should be able to see everything and submit pull requests, but not trigger CI builds.

[2017-05-17 15:23] Susurrus commented on #603
Interesting, I see everything but the pipelines now on the GitLab page. I see that it "Passed" with their badge, but clicking on it takes me to a 404. Interesting.

[2017-05-17 15:35] asomers commented on #603
@Susurrus Try again.  And if you get another 404, please tell me the URL that failed.

[2017-05-17 15:44] Susurrus commented on #603
Ha! Finally it worked. Did you have to enable permissions on the pipelines or something?

[2017-05-17 15:55] asomers commented on #603
Yes.  But the settings dialog implies that everyone now has the ability to submit pipeline jobs.  It doesn't seem that there's such a thing as read-only access to the pipeline.  I'd be curious if you can submit a pull request and have it attempt to start a build (if so, the build will hang because my runner VM is shut down ATM).

[2017-05-17 17:39] Susurrus commented on #603
Yeah, it's definitely a little weird, but I guess you either want builds for everyone or builds just for you. Would you like me to submit an MR?

[2017-05-17 17:46] asomers commented on #603
Sure.  Let's see what happens.  Just try to merge a syntax error or something.

[2017-05-17 17:49] Susurrus commented on #603
https://gitlab.com/asomers/mio-aio/merge_requests/3

Actually a useful MR. If you'd prefer one that errors, I can do another one.

[2017-05-18 23:19] icorderi commented on #493
The issue still remains, we are missing a way to access the result of **SO_PEERCRED**:
[code]

Based on @fiveop comments, we would need something on the lines of:

[code]

@fiveop is this what you had in mind? If so, I'm happy to get going with this.

[2017-05-18 23:23] Susurrus commented on #493
Usually this is done via newtypes, like `pub struct UserCredentials(libc::ucred)`, so it works like a tuple. Accessing it's internal member can be done with `.0`.

This also brings up the question of setters. Are those necessary for this structure or is there really a read-only structure?

[2017-05-19 17:25] Susurrus commented on #604
rust-lang/libc#596 was merged, so now we're just waiting on a libc release to resolve this.

@DanielJoyce Do you want to take this for a spin and see if this fixes your issues on Mac?

[2017-05-19 17:27] DanielJoyce commented on #604
Well I didn't have an issue on a Mac because I don't own one. I just
noticed that the API docs said vanilla posix close on Macs is potentially
troublesome.

So it may be this may fix some bugs other users of libc on Mac may have
seen wrt to close and file descriptors.

On Fri, May 19, 2017, 10:25 Susurrus <notifications@github.com> wrote:

--
Daniel Joyce

The meek shall inherit the Earth, for the

[2017-05-23 21:32] bugaevc commented on #360
`clone()` also [doesn't impose any limitations](https://nix-rust.github.io/nix/nix/sched/type.CloneCb.html) on the callback -- it can be `!Send`, it can reference variables that go out of scope as soon as the `clone()` call is made... basically, `clone()` enables every unsafety Rust was built to prevent. This is a _very_ serious soundness hole; for a lack of a better solution I propose to make `cl

[2017-05-23 21:50] Susurrus commented on #360
The point of `nix` is to provide safe wrappers around a lot of these primitives. The final suggestion from @arcnmx seems like it's a safe version, even if it has reduced functionality. I think we should offer that use case instead and punt on a complete but safe version for now, unless someone objects to that.

[2017-05-25 15:33] zsck opened #607 "Enable utsname on MacOS"
I'm doing a really quick experiment to try to invoke the `uname` function on macOS. Following [the documentation](https://docs.rs/nix/0.8.1/nix/sys/utsname/fn.uname.html), I wrote the code below.

[code]

My `Cargo.toml` file points to version 0.8.1 of `nix` as a dependency.  When I try to compile this program with `cargo build` I get the following error:

[code]

I'm running this on macOS 10.12.4

[2017-05-25 15:39] zsck commented on #607
I see that `utsname` is actually only exported [for Linux and Android](https://github.com/nix-rust/nix/blob/master/src/sys/mod.rs#L45) targets.  Would it not work on macOS?

[2017-05-25 15:47] asomers commented on #607
@zsck try it and find out.  If it does, submit a PR to enable it.  Include in the PR a link to the relevant man page.

[2017-05-25 16:37] zsck commented on #607
I modified `src/sys/mod.rs` to export `utsname` on macOS like so:

[code]

Now my program compiles and runs, however it terminates silently as soon as `uname` is called. The following `println!` isn't executed.

Unfortunately I am not equipped to figure out how to resolve this issue.

[2017-05-25 16:44] zsck commented on #607
Interestingly, if I modify the wrapper for `uname` so that it looks like so:

[code]

Then re-run my program, I now see the following output:

[code]

The value of `nodename` appears to change every time I run my program, and sometimes there are extra whitespace characters in the value of `version`.

[2017-05-25 16:55] Susurrus commented on #607
@zsck Just wanted to point out that your documentation link is incorrect. It points to the docs for Linux (which is why that function exists). You really want to explore the docs [here](https://docs.rs/nix/0.8.1/x86_64-apple-darwin/nix/). Note the dropdown to select the Platform at the top of the page. This is common with multi-platform crates that have platform-specific functionality. Be sure to

[2017-05-25 19:32] zsck commented on #607
I am not 100% sure if this is in fact a problem with libc.  I wrote the following code using libc, and it seems to work just fine.

[code]

[2017-05-25 19:34] Susurrus commented on #607
You didn't need to write code, just look at libc see and see where it's declared. What platforms do they support using it on?

[2017-05-25 20:02] zsck commented on #607
I don't see anything indicating that `uname` wouldn't be available on both macOS and Linux.  Going through their documentation into the source, it appears [there are no restrictions](https://doc.rust-lang.org/libc/x86_64-apple-darwin/src/libc/unix/mod.rs.html#724) on which platforms `uname` is exported for.

I don't see how it's a problem of libc's if I'm able to use `uname` perfectly fine via lib

[2017-05-25 20:09] asomers commented on #607
There seems to be an assumption that `nix::sys::utsname` has the same memory layout as `libc::utsname`.  That assumption is probably true on Linux but not OSX.  That's the reason that your first experiment didn't work.

[2017-05-25 20:24] Susurrus commented on #607
@somers You're probably right that the memory layout is incorrect in `libc`.

First off you can see that `libc` defines `uname()` for all unix platforms (@zsck it's easiest just to look through the hierarchy in the `libc` source like [here](https://github.com/rust-lang/libc/blob/fda4049c11e75871a9e583fa5eea55f9be0f9972/src/unix/mod.rs#L724)). But `utsname` is defined per-platform ([see here](https

[2017-05-25 20:45] asomers commented on #607
@Susurrus My concern isn't that libc's definition for OSX's `utsname` is wrong, though that may be a problem too.  My main concern is that nix's `uname` passes a pointer to nix's `UtsName` structure directly to an FFI `uname` function.  The only way that can work is if nix's `Utsname` structure has the same layout as the structure that the OS's `uname` function expects.  That's very unlikely to be

[2017-05-25 20:59] icorderi commented on #493
Should be **read-only**, you are querying the values from the OS.
Sure, we can use a _newtype_ instead.

[2017-05-25 21:21] Susurrus commented on #607
Oh, man, our utsname code is completely wrong. We shouldn't have FFI definitions in our code. And really we should have a newtype and then pass that to the FFI function. As long as we specify it's `repr(C)` we should be fine.

[2017-05-25 21:21] Susurrus commented on #607
Sorry, not completely wrong, but definitely not well written.

[2017-05-25 21:31] Susurrus commented on #607
@zsck Would you be interested in filing a PR for this? You'd instead create a newtype for `UtsName` that looks like of like the `PtyMaster` struct I added in #556. Then defer all FFI to the `libc` crate. That will likely fix the issue.

[2017-05-25 21:33] Susurrus commented on #493
@icorderi Then this design makes sense. Would you be interested in filing a PR for this?

[2017-05-26 17:58] icorderi commented on #493
The PR is #608, let me know what other changes are needed.

[2017-05-27 16:38] asomers commented on #603
It's pretty much all working now.  I have asomers/mio-aio setup to use buildbot, and it uses a fresh jail for each build.  That takes a little longer, but it mitigates the security concerns of automatically building PRs.  It also uses more upload bandwidth on the build server, but my host doesn't charge for bandwidth in that direction.  Checkout the latest PR results here:
https://github.com/asome

[2017-05-27 17:32] Susurrus commented on #603
Well it sounds like we have a working solution here. Man I wish there was a CI service that just ran buildbots on the correct systems.

As to GitLab, I'd love to give them this feedback. Would you be interested in emailing them and CCing me? Otherwise I could write this up if you'd like. Because I have the same issues with my cross-platform library crates hosted there. Maybe they should have bough

[2017-05-27 17:43] asomers commented on #603
There might be a buildbot hosting service soon.  This company says they're going to do it, but they aren't open for business yet: https://exana.io/buildbot

Do you have any contact info for GitLab?  I could write it up, but I'm not sure where to send it.

[2017-05-27 18:08] Susurrus commented on #603
sales [at] gitlab.com would be a good place to do it I think.

I might suggest they should work closely with the buildbot team. That'd be great if that was the direction they went with their CI service. Really need that mac testing man.

[2017-05-29 20:51] zsck commented on #607
I wish I could say that I would like to take care of this, but my use case for `uname` is very limited in scope and doesn't add a whole lot of value to the project I'm working on (for my employer).

[2017-05-30 20:25] cyphar opened #609 "*Flags don't implement set-like combinators"
One thing I ran into almost immediately when trying to nicely define a set of flags like you would in C (with something like `CLONE_NEWUSER|CLONE_NEWUTS|CLONE_NEWNS` or whatever) is that you can't do it with the `nix` structs without declaring a variable `mut` and operating on it.

[code]

What if we made it so you could do this instead?

[code]

Which allows you to write it (IMO) more concisely b

[2017-05-30 20:58] Susurrus commented on #609
You should be able to do
[code]

Does that not work for you?

[2017-06-01 00:43] henninglive opened #610 "Failed mount tests on x86_64 Ubuntu 16.04.4"
[code]

[2017-06-01 15:27] jethrogb opened #612 "ioctl uses Errno::result incorrectly"
The ioctl macros automatically call `Errno::result` on the return value of the `ioctl` syscall. This is not correct. As indicated in [the documentation for `Errno::result`](https://docs.rs/nix/0.8.1/nix/enum.Errno.html#method.result), this must only be used if `-1` is returned as an error value. ioctls can return any value directly from the kernel driver and there are no semantics an arbitrary ioc

[2017-06-01 15:46] jethrogb opened #613 "No conversion between Errno and std::io::Error/i32"
There are situation where you want to have the raw error value of an error, e.g. for passing back into C code. Also, there is already a perfectly good type for holding errno in Rust, `std::io::Error`. It does support getting the raw error value. I suggest deprecating `Errno` in favor of `std::io::Error` or at least adding the necessary conversions.

[2017-06-02 19:45] Susurrus commented on #612
Yeah, that does seem problematic. I'd be a fan of transitioning the implemented `ioctl` code to have dedicated function calls per ioctl (like the [ioctl-rs](https://github.com/dcuddeback/ioctl-rs)) crate does it. Then we could be specific about the error cases for each one instead of having to be generic.

[2017-06-02 19:46] Susurrus commented on #610
Can you give me any more details that this? Ideally you could provide enough details for us to reproduce this, like a code sample we could run.

[2017-06-02 19:46] jethrogb commented on #612
Possibly. It's not possible to support all ioctls with dedicated functions, so a generic framework still needs to be supported.

[2017-06-02 20:08] Susurrus commented on #612
Would you be able to write up a PR for this? I'd be happy to review it. I'm very familiar with `ioctl`s and would prefer to have someone more familiar lead the charge here.

[2017-06-03 02:46] posborne commented on #612
I landed the initial version of ioctls which had more of a function approach (https://github.com/nix-rust/nix/blob/c4a9598ec16a01e11e66bea1eb34cea9b4646326/src/sys/ioctl.rs) and then it went through some subsequent changes  which I helped facilitate to some degree to move toward the macros.

I was never quite satisfied with where we ended up.  Ioctls are fickle because there is almost nothing in t

[2017-06-03 03:36] Susurrus commented on #612
Thanks, @posborne. This seems pretty closed then. @jethrogb go ahead and re-open if you think this is still a problem.

[2017-06-03 03:36] #612 closed

[2017-06-03 03:47] posborne commented on #609
Closing as I'm assuming this meets or exceeds @cyphar's requirements.

[2017-06-03 16:27] cyphar commented on #609
Sorry for not responding earlier. No, this code doesn't work:

[code]

My `Cargo.toml`:

[code]

[2017-06-03 16:28] cyphar commented on #609
But the solution would be to implement `BitOr` for `SigSet` and also implementing it for `Signal` such that it produces a `SigSet`.

[2017-06-03 17:43] cyphar commented on #609
I've implemented this in #615, as well as adding a `From` `impl` for `SigSet::from(Signal)`.

[2017-06-04 03:38] asomers commented on #603
I just hooked up buildbot, and it failed every pull request.  It looks like it's trying to pull the PR from the wrong URL.  I'll fix it, but in the meantime don't take a buildbot failure as blocker for any PR.  Everybody can go ahead and merge stuff.

[2017-06-04 17:42] Susurrus commented on #603
Yeah, they passed for #591 tho, but failed for a bunch of other PRs. Looks like we're close. I'm pretty surprised however that all the FreeBSD tests passed since we've never run them.

[2017-06-04 17:50] asomers commented on #603
@Susurrus That's just because since I fixed it, very few PRs have been updated.  #591 is one of them.  And what do you mean "we've" never run the FreeBSD tests?  Speak for yourself ;) .

I think everything should be working now, but we won't know for sure until Bors trys to merge something.

[2017-06-04 17:51] Susurrus commented on #603
Well I'm glad someone's been running those tests, didn't realize you had been. Thanks!

Do you wanna give #591 a review and r+ for Bors if you're okay with it? Let's do a live test!

[2017-06-04 17:59] notriddle commented on #603
You need to modify the bors.toml for it to actually gate on your BuildBot instance.

[2017-06-04 23:09] Susurrus commented on #613
There is `From<Errno> for io::Error`. Does this not work for your use case?

[2017-06-04 23:19] Susurrus commented on #577
I don't quite understand the issue here as I'm not familiar with `setsockopt`. Do you have a proposal for how we might integrate this code example that would fit in with the rest of `nix`? Would exposing `sockopt_impl!` be enough for you?

[2017-06-04 23:29] Susurrus commented on #545
Regarding this, is there any reason to have hard-coded error strings in nix versus uses `strerror_r`? I'm uncertain why we'd want to bloat the binary size and duplicate the descriptions by hard-coding them.

[2017-06-04 23:31] Susurrus commented on #543
Should be resolved by #527.

[2017-06-04 23:33] Susurrus commented on #502
@oconnor663 What kind of documentation is needed that would wrap up this issue? Seems like this is reliant on external docs.

[2017-06-04 23:36] Susurrus commented on #447
This was resolved by #451.

[2017-06-04 23:36] #447 closed

[2017-06-04 23:39] Susurrus commented on #434
@luser Was this resolved to your satisfaction? I'd like to close this issue if it has.

[2017-06-04 23:42] Susurrus commented on #390
I'm going to propose that we leave this at the current 0.5.0 cutoff as this is already almost a year-old issue that hasn't been resolved. As RFC3 doesn't indicate how far back the CHANGELOG should go, just that one is actively maintained, this is also in line with that RFC.

[2017-06-04 23:42] #390 closed

[2017-06-04 23:50] Susurrus commented on #468
I'd actually propose closing this and instead using `cargo-publish` to automate most of the process. It defaults to `-pre` for the next version, but I don't really think that's much of a problem. I use it for a couple of my crates and I expect it to garner widespread use among the Rust community and then it'll be less weird.

[2017-06-04 23:52] Susurrus commented on #476
@zethra I don't believe this was ever implemented, are you still interested in implementing this?

[2017-06-04 23:55] Susurrus commented on #281
Is this still under active discussion given that it's never been implemented? It sounds like there is a use case that's really yet to coalesce and in the meantime the status quo is fine.

[2017-06-04 23:56] Susurrus commented on #268
I believe this has been resolved as of release 0.8.1.

[2017-06-04 23:56] #268 closed

[2017-06-04 23:57] Susurrus commented on #227
`mkdev` no longer exists and there is just `makedev` now.

[2017-06-04 23:57] #227 closed

[2017-06-05 00:00] Susurrus commented on #226
I think this was resolved by #284. Though I do believe `nix` should only export its own datatypes that it uses so that downstream crates don't have this weird hybrid of importing from `nix::libc` or `libc` directly, which is currently the case.

[2017-06-05 00:00] #226 closed

[2017-06-05 00:04] zethra commented on #476
Maybe eventually but I've not the time at the moment.

[2017-06-05 00:06] Susurrus commented on #244
@jamperry Any interest in filing a PR for this? Seems pretty straightforward since the constant is properly defined in libc.

[2017-06-05 00:06] Susurrus commented on #196
@kench Any interest in taking up this task?

[2017-06-05 00:08] Susurrus commented on #308
Why don't we just enable the features in testing? I don't think this is a good rationale for splitting `nix` into several separate crates.

[2017-06-05 00:11] Susurrus commented on #98
I think the current consensus is to defer on this. Should I close this issue and it can be revisited if necessary?

[2017-06-05 00:16] Susurrus commented on #500
It seems like this is something that should be left out of `nix`. @SwagColoredKitteh have you done any work implementing what you need in a separate crate or anything?

[2017-06-05 00:17] Susurrus commented on #481
`clearenv` is already in `libc`, so this just needs a safe wrapper.

[2017-06-05 00:17] Susurrus commented on #495
@SdNssr Any interest in filing a PR for this functionality?

[2017-06-05 07:06] jethrogb commented on #613
I'm sure I looked for that but couldn't find it in the documentation! I now realize that it wouldn't be in the documentation at all. In any case, this is not sufficient because errno doesn't store the original error code, so unknown codes get clobberred into `0`.

[2017-06-05 09:50] luser commented on #434
Yes, https://github.com/nix-rust/nix/pull/438 fixed this and solved my use case.

[2017-06-05 13:41] #434 closed

[2017-06-05 14:01] oconnor663 commented on #502
I guess I was imagining that functions that could return EINTR could be documented as doing that, but maybe that's too platform specific?

[2017-06-05 14:23] Susurrus commented on #502
I don't see that as a role `nix` should be doing, as `nix` generally provides thin wrappers around `libc` functionality and defers most documentation to manpages. I think the manpages should be sufficient for consumers of `nix` to understand the necessary error handling. `EINTR` isn't any different than other possible errors so I don't see why it needs to be explicitly called out when the low-leve

[2017-06-05 14:26] oconnor663 commented on #502
Makes sense. I'll close this one out.

[2017-06-05 14:26] #502 closed

[2017-06-05 14:33] Susurrus commented on #613
Okay, I think I understand the issue here. You want the `i32` of the `Errno` back. Could you provide a code example that demonstrates your issue?

Right now there is `impl From<Errno> for io::Error` that should allow you to do example what you want using `.into()`. Maybe that wasn't discoverable for you or is simply less ergonomic than you like?

[2017-06-05 16:25] #603 closed

[2017-06-06 08:21] henninglive commented on #610
I don’t know what is going on here. I get this error every time I run the test harness. At first I thought my system might be corrupt, but I tested this again on my other laptop that is also running ubuntu, and I get the same error their.

[2017-06-06 16:41] Susurrus commented on #610
That's the same error I get locally, so now we just need someone to dig into this.

[2017-06-06 20:54] jethrogb commented on #613
There are two separate issues.

1. The implementation is not discoverable. This is the Rust issue I linked. I don't think there's anything you can do about this (except maybe add some explicit text to the documentation page for Errno).
2. The conversion from `i32` to `Errno` to `io::Error` to `i32` is lossy:
[code]

[2017-06-06 22:58] Susurrus commented on #613
Regarding the first point, I definitely agree. I think we would be better served to move all error handing into an `error.rs` and then provide module-level documentation explaining the various tools we provide for people to interface with the `Error` class.

As for the second point, that behavior is because `1234` isn't a valid `errno`. I actually think that function should be changed to return a

[2017-06-09 03:29] Susurrus commented on #596
@agrover Would you be willing to submit a PR adding this functionality? I'd be willing to mentor it through the process.

There's also `posix_fallocate(3)` for a more-portable version, but I don't know how similar those are.

[2017-06-12 14:50] sandeep-gh opened #619 "nix path when installed from source for non-root"
Probably I missed something basic but when installing from source (non-root) the nix-channel still looks for /nix.
After installing from source, I sourced the nix environment as follows
[code]

[2017-06-12 14:52] Susurrus commented on #619
I think you have the wrong project here. This repo is for `nix`, a Rust library providing a safe wrapper around POSIX functionality.

[2017-06-12 14:56] sandeep-gh commented on #619
Sorry, will remove my post.

[2017-06-12 14:56] #619 closed

[2017-06-13 11:48] Kixunil commented on #555
Note that `exec` could require `&CStr` in arguments. `&CString` is not needed.

[2017-06-22 09:39] Kixunil opened #627 "Use newtype pattern"
I was looking into this library and noticed it doesn't use newtype pattern. This makes it easily possible to accidentally swap `uid_t`, `gid_t`, `pid_t` and I suppose other s too.

I've experienced such bugs in practice. I'd suggest using newtypes like `Uid`, `Gid`, `Pid` in all interfaces and provide conversion functions (`impl From<Uid> for uid_t`) Such change would minimise chance of someone ac

[2017-06-22 14:35] asomers commented on #627
Yep.  Newer additions always use Newtype, but the older code hasn't all been converted.  Patches welcome!  Please open a pull request for any module you'd like to change.

[2017-06-22 14:35] #627 closed

[2017-06-23 05:49] MarkSwanson opened #628 "siginfo_t needs more fields"
I need to access siginfo_t.si_syscall from inside a sigaction (SIGSYS / SA_SIGINFO).
Unfortunately this doesn't seem to be possible ootb because nix uses libc::siginfo_t, which doesn't provide si_syscall.

Recommendations for accessing si_syscall without forking nix?

Thanks!

[2017-06-23 06:50] Susurrus commented on #628
You'll need to bring this up with the `libc` crate it looks like, since that's actually the root of the issue. It'd also help for here and for the issue you'll open on the `libc` crate to have example code demonstrating what you'd like to do (or maybe a C implementation), which should make things more clear.

But you could use `unsafe` and transmute the memory into a custom designed local struct f

[2017-06-23 16:08] Susurrus commented on #610
@kamalmarhubi Looks like these are tests you wrote that are now failing. They fail locally for me but also on CI on Rust 1.13, so I don't think this was from a CI change or a Rust change. Failure is at `test/test_mount.rs:53` and says we're writing too much data, but it's ~20 bytes. So I don't get what's happening here.

[2017-06-23 16:25] MarkSwanson commented on #628
Ty for your suggestions.
Will try to find the time to submit a PR.

[2017-06-23 16:25] #628 closed

[2017-06-25 16:01] asomers commented on #610
For the record, I can't reproduce these failures in my Ubuntu 16.10 VMs, either on x86 or x86_64.  Both use Rust 1.15.1 and the BHyve hypervisor.

[2017-06-26 14:04] ndusart commented on #313
I cannot compile nix using the target arm-linux-androideabi (beside the mismatched types for the SA_ flags) for some symbols not being defined in libc for that platform.

These are the missing symbols:

- `libc::O_DSYNC` (src/fcntl.rs:227:39)
- `libc::openpty` (src/pty.rs:202:15)
- `libc::CLONE_NEWCGROUP` (src/sched.rs:27:9)
- `libc::EPOLLRDHUP` (src/sys/epoll.rs:20:9)
- `libc::EPOLLWAKEUP` (src/s

[2017-06-26 14:31] asomers commented on #313
Those missing symbols are all issues in libc, if the symbols exist at all on Android.  You should report it to libc.

[2017-06-26 18:41] asomers commented on #610
This is a Linux bug.  https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1659087 .  It looks like the workaround is to access the from within the namespace instead of from without it.  I can reproduce it on a Ubuntu 16.04 physical machine even though I can't on my Ubuntu 16.10 VMs.

[2017-06-27 18:15] Susurrus commented on #610
@asomers Do you know enough about this to apply the workaround in our tests?

[2017-06-27 19:13] asomers commented on #610
No.  I've never used Linux namespaces before.  My first attempt, putting all of the file accesses within an `unshare` block, didn't work.  My next attempt will be to bind `setfsuid` and try to use that in the mount tests.

[2017-06-27 19:16] Susurrus commented on #313
@ndusart When you post a `libc` issue, please also link back to this issue from it so we can track it's progress. Thanks!

[2017-06-27 20:54] roblabla commented on #313
So I just looked at the android NDK headers (which should be, AFAIK, the source of truth). The thing is, none of those symbols are defined in `android-18`, some are defined in android-21, etc... You can find the headers in `$ANDROID_NDK_HOME/platforms/android-18/arch-arm/usr/include/`

Each android version has a minimum version requirement for the kernel. As new version of android got released, th

[2017-06-27 21:18] asomers commented on #313
@roblabla libc's current versioning strategy is to write FFI bindings for the OS's most recent version (for Android I think it's 24) and assume that once a symbol is defined, it will never be removed or changed.  There are obviously some big problems with that approach (see https://github.com/rust-lang/libc/issues/570 ) but we can't fix it in Nix.  The best that we can do is to `#[cfg` away whatev

[2017-06-28 02:23] asomers commented on #610
I spent an hour or so and couldn't find a working workaround.  But the test still passes on Ubuntu 16.10.  I suggest that we check uname(), and skip the test if the kernel is 4.4.0.

[2017-06-28 02:35] asomers opened #632 "Release 0.9.0"
I think it's time to make a new release.  It should definitely include a fix for issue #610, and possibly any other PRs that are close to completion.  But it should not include PR #630 , because that depends on an unreleased version of libc.

 * [x] #527 - Add cmakeraw/cfsetspeed
 * [x] #566 - Add WaitStatus::PtraceSyscall for use with PTRACE_O_TRACESYSGOOD
 * [x] #610 - Failing mount tests
 * [x]

[2017-06-28 03:47] Susurrus commented on #632
#610 doesn't affect things really, it's mostly a test/CI issue, so it doesn't matter if it's in a release so much as it gets fixed in git.

I'd actually suggest we wait until the next `libc` release for this as I'd like to get #527 merged we have a slew of other PRs that are pretty close. Specifically I'd like to nominate #566 and #629 which are pretty close and nice wins for `nix`. There are seve

[2017-06-28 11:44] ndusart commented on #313
Thanks for your feedback, I just posted an issue in libc.

[2017-06-28 14:14] asomers opened #634 "Cross fails with error: `"rustup" "target" "list"` failed with exit code: Some(1)"
On about 25-June, all of our Travis builds started to fail with the error message:

I don't know why it started on 25-June.  It's probably either a change to Travis (they updated their builders, but they claim it was done by 21-June), or Rustup, or Cross.  We should also report this bug upstream to japaric/cross
https://travis-ci.org/nix-rust/nix/builds/246718360

[2017-06-28 15:42] roblabla commented on #313
So there's another symbol that's apparently missing from android : __errno_location. Instead, it stores it in tread local storage, and has a function to retrieve a pointer to it called __errno : https://github.com/LineageOS/android_bionic/blob/cm-14.1/libc/bionic/__errno.cpp

`errno` is simply defined as dereferencing the symbol there : https://github.com/LineageOS/android_bionic/blob/cm-14.1/libc

[2017-06-29 18:47] Susurrus opened #637 "Upstream and use socket constants from libc"
Currently `src/sys/socket/consts.rs` relies on many hard-coded constants. I've recently gone and updated many of these in #636, but there's more work to do here:

 * Get all constants that are still numbers upstreamed in `libc` for all supported `nix` platforms
 * Adapt `src/sys/socket/consts.rs` to use `libc` values
 * Refactor the constant declarations such that all constants are only declared o

[2017-07-01 04:19] asomers commented on #634
Turns out that Travis was cacheing our .cargo and target directories (because we told it to).  When rustup 1.5.0 came out on 24-June, that broke the build.  Something in our .cargo didn't like it, I guess.  Through the Travis control panel, I cleared our caches, and the problem is resolved.

[2017-07-01 04:19] #634 closed

[2017-07-01 16:11] Susurrus opened #641 "Improve documentation for ioctl"
I'm working on converting my crate to use `nix` instead of `ioctl-rs` as `nix` is better maintained. The big issue here is that the documentation for using `ioctl`s with `nix` is not good from a user's point of view. Here are some issues I ran into:

  * The difference between using `ioctl!` and using `ior!`, `iow!`, `iorw!`, and `ioc` is not listed clearly. I'm sure one is preferred over the othe

[2017-07-01 16:18] Susurrus commented on #641
Even the most basic question, of how do I convert an ioctl that looks like `ioctl(fd, TIOCEXCL)` to a proper one using the API defined by `nix` isn't answered. I don't see where I'm supposed to pass a file descriptor to the macro and the example provided, even though there are 12 provided don't ever pass an fd. Looking into this further, it appears that the `ioctl!` macro generates unsafe function

[2017-07-01 16:34] Susurrus commented on #641
Yeah, there's not enough docs for me to convert a simple no-data ioctl to use nix, so I'm going to give up for now. Any help would be appreciated here.

cc @posborne as you wrote a big chunk of the current documentation and probably understand the system enough to help me with my first trivial use case.

[2017-07-01 17:13] Susurrus commented on #641
The docs also refer to a `bad` variant within `ioctl`, which doesn't appear to exist. This should shortcut the various `_IOC` and related macros and use the hardcoded number instead. This is necessary for use with the `TIOCEXCL` and many other constants.

[2017-07-01 18:57] asomers commented on #641
@cmr it looks like you originally wrote the macros.  Could you please add some documentation?

[2017-07-02 04:53] #610 closed

[2017-07-03 01:59] Susurrus commented on #573
@beamspease Just wanted to ping you on this. Would love to get your examples into our documentation.

[2017-07-03 17:21] mmstick opened #643 "Document nix::sys::wait Module"
I'm trying to use `waitpid` in Ion, but I cannot figure out what each of the `WaitStatus` variants and their fields represent.

[2017-07-03 17:31] mmstick opened #644 "Missing killpg"
Needed by Ion to send signals to all members of a process group.

[2017-07-03 17:31] Susurrus commented on #643
Yeah, pretty much everything in `src/sys/wait.rs` needs docs. A lot of this should be discernible by reading the man pages on `waitpid`, as we're just providing a safe interface to that functionality. The main functionality should be identical.

[2017-07-04 04:26] asomers commented on #632
As long as we're committed to bumping libc anyway, then I'd like to finish PR #630 as well.

[2017-07-04 18:42] Susurrus commented on #644
@mmstick Would you be willing to file a PR adding this to `nix`? I'd be happy to mentor you through the process if you would. Always looking for new contributors!

[2017-07-04 18:58] Susurrus commented on #613
@jethrogb Would you be willing to add some docs to the errno module explaining this conversion. As to your second point, I don't think we need to support arbitrary `errno`s, but maybe you have a use case we hadn't considered?

[2017-07-04 18:58] Susurrus commented on #632
So the current list of PRs/issues I/we want addressed for 0.9 is:

 * [ ] #527 - Add cmakeraw/cfsetspeed
 * [ ] #566 - Add WaitStatus::PtraceSyscall for use with PTRACE_O_TRACESYSGOOD
 * [x] #610 - Failing mount tests
 * [ ] #624 -  Enable ptrace on all Linux platforms
 * [x] #629 - Newtypes for uid_t, gid_t and pid_t
 * [ ] #630 - Add wrappers for sysconf(3), pathconf(3), and fpathconf(3)
 * [ ]

[2017-07-04 19:22] #313 closed

[2017-07-04 19:34] jethrogb commented on #613
By “that function” do you mean `Errno::from_i32`? I don't think that's a good idea, this function is used to convert error codes returned when interfacing with C functions. By the time you're calling `Errno::from_i32` you know you have a valid errno value from somewhere else.

Errno's do occasionally change
https://github.com/torvalds/linux/blame/master/include/uapi/asm-generic/errno.h
https://git

[2017-07-04 20:22] mmstick commented on #644
Sure. Where can I start?

[2017-07-04 20:25] mmstick commented on #643
Sadly, the man pages for `waitpid` aren't enough for me to understand how to use it. What's the difference between each of the variants? For example, what's the difference between `Continued` and `StillAlive`, or `Stopped` and `Signaled`?

[2017-07-04 20:42] roblabla commented on #641
I spent some time using the ioctl module, so I have a pretty good understanding of it.

First, the `ioc!`, `io!`, `ior!`, `iow!` and `iorw!` macros correspond to the equivalent macros `_IOC`, `_IO`, ... defined by the linux kernel there : https://github.com/torvalds/linux/blob/f4dd029ee0b92b77769a1ac6dce03e829e74763e/include/uapi/asm-generic/ioctl.h#L68. They allow to calculate, given a direction,

[2017-07-04 20:45] roblabla commented on #571
The `ioctl!` macro generates a `pub` function, so `missing_docs` will require you to document it. I haven't tried, but I'm pretty sure adding some docs above it would fix the issue, e.g. :

[code]

[2017-07-04 21:04] Kixunil commented on #594
I was thinking exactly like this.

* Keep `RawFd` for interfacing with other crates and raw C libraries
* Provide `Fd` which is a newtype for `RawFd` that impls `Drop` and `{From,Into,As}Fd` traits.
* Implement all other wrappers for `Fd` (files, sockets, ...). This has nice benefit of not having to impl `Drop` on all other types
* Methods that are common for all fds could be implemented on `Fd` a

[2017-07-04 21:05] roblabla commented on #573
I'm not sure what `BLKSZGET` is, but for `BLKBSZGET`, here's how it goes.

You can see [here](https://github.com/torvalds/linux/blob/c6b1e36c8fa04a6680c44fe0321d0370400e90b6/include/uapi/linux/fs.h#L213) that it's a *read* ioctl. Meaning the ioctl will return stuff to us.

From this, we know the ioctl should be written like so :

[code]

[2017-07-04 21:20] cmr commented on #641
They aren't just an implementation detail. The `ioctl` macro can't handle a few of the truly obscure ioctl "protocols".

I don't know about "read buf". I'm willing to bet it's buggy, I haven't had to use it. At one point I scraped and auto-generated https://github.com/cmr/ioctl/blob/master/src/platform/linux-generated-x86_64.rs from the Linux headers.

The original idea with my `ioctl` crate was t

[2017-07-04 21:21] cmr commented on #641
(Sorry for slow response, busy at OPLSS)

[2017-07-05 14:56] Susurrus commented on #643
`Continued` probably maps to the `WIFCONTINUED` `wstatus` value. `StillAlive` probably means it hasn't received any signals. `Stopped` and `Signaled` should correspond to `WIFSTOPPED` and `WIFSIGNALED` respectively. those `WIF*` constants are described in the `waitpid` man pages for more details. I'm not familiar with `waitpid`, so hopefully that gives you a little direction. Let me know if you ge

[2017-07-05 14:59] Susurrus commented on #644
The first step is actually to get `killpg` and all related constants into the https://github.com/rust-lang/libc repo for all appropriate targets (see the supported list of targets for `nix` in the README).

Once that's done, you can file a PR here adding `killpg` after `kill` in `src/sys/signal.rs`. Be sure to add doc comments and ideally a test if you could (spawn a new process group of something

[2017-07-06 03:52] Susurrus commented on #573
I'd love to get this written up as a proper example. Something like.
[code]

[2017-07-06 03:58] Susurrus commented on #641
One example that isn't addressed here is for `ioctl`s that have no arguments. For example, I want to do something like `libc::ioctl(fd, TIOCEXCL)`. It doesn't appear that the `ioctl!` macro supports this use case. Neither does the module appear to re-export `libc::ioctl`. Is that correct? Do you think this is a valid use-case that should be supported by the macro, such that that's the only wrapper

[2017-07-06 14:35] marmistrz opened #649 "nix::sys::ptrace desperately needs documentation"
Hi!

First of all - I'm eager to contribute the documentation, once I've understood, how the module should be used.

I was quite new to `ptrace` and I'm still learning, so I might have missed something obvious, keep this in mind please :)

I had this small piece of code, which simply printed a message, whenever a syscall was entered or exited.

[code]

This worked very well. Now I translated this

[2017-07-06 15:11] Susurrus commented on #649
First of all, thanks for offering to contribute docs, unfortunately they're severely lacking for `nix`!

My first questions are what is your platform and what version of `nix` are you using, as it looks like you're using a released version and not `git`.

Looking at your examples, your code looks correct to me from what I understand about `ptrace`. One thing to note is that `nix` uses its own defi

[2017-07-06 15:26] Susurrus commented on #604
This is fixed in upstream, and the next version of nix will use the latest `libc`, so this can be resolved now.

[2017-07-06 15:26] #604 closed

[2017-07-06 15:28] Susurrus commented on #602
@sector-f Would you be willing to contribute a PR adding a safe wrapper for mkfifo? `libc` already has the FFI definition for it, so all it takes is adding a function for it here in `nix`. I'd be happy to mentor you through it.

[2017-07-06 15:31] Susurrus commented on #649
Additionally, I'd also love to have safe functions for all the `ptrace()` (standard) use cases. So for your case I'd like to add a `ptrace_peekuser()` that takes just a `Pid` type and a register, which will be way more usable than calling the general `ptrace()`. I'd be willing to mentor you through filing a PR to add that if you're willing (one of the first steps would be to add `ORIG_RAX` to `lib

[2017-07-06 16:23] marmistrz commented on #649
Yeah, I'll eagerly contribite the example to the testsuite. I'll try using the libc version tomorrow.

To be sure - you mean this crate: https://github.com/rust-lang/libc

Yeah, I wanted to say the same. I think I'd do them anyway, so why not contribute them here.

But let's start small. I'll see if I can utilize libc::ptrace tomorrow

[2017-07-06 16:31] Susurrus commented on #649
@marmistrz Yes, that's the main `libc` crate and it's what `nix` builds on top of. I suggest using the `git` version of that as well when playing with it as it doesn't release too often.

[2017-07-06 16:32] marmistrz commented on #649
What's the best way to add a git version as a dependency? cargo will only download from crates.io

[2017-07-06 16:38] Susurrus commented on #649
`cargo` can use local paths or `git` directly ([see here](http://doc.crates.io/specifying-dependencies.html#specifying-dependencies-from-git-repositories))

[2017-07-06 18:17] vincenthage commented on #649
Hi,
Try this [PR](https://github.com/nix-rust/nix/pull/566), which for me is the only branch that's currently working for ptracing processes.

[2017-07-06 19:52] mwanner opened #650 "missing getifaddrs"
I implemented a trivial wrapper around `getifaddrs`, which I'd like to polish and get into the nix crate, if that's appropriate. Any specific requirements regarding the interface? Otherwise I'd prepare something based on an `Iterator` over the entries returned.

[2017-07-06 20:38] Susurrus commented on #650
Thanks for volunteering your work! I'm sure that interface you find usable will be fine. It can also be modified later if it's hard to use in a specific use case. We do like to have good documentation and tests, so please spend some time on that so that it's easy to use.

[2017-07-07 02:45] mmstick commented on #643
I'm going to work on documenting this module, after having implemented it in the Ion shell and figuring it out.

[2017-07-07 03:42] asomers opened #652 "buildbot screws up pull requests from a "master" branch"
Buildbot is mostly building stuff fine.  But if the source branch of a pull request is named "master", then buildbot will try to build the master branch of the nix repo instead of the source repo.  But it can't find the revision in question, so the build fails.  For example, PR #651, from mmstick/nix:master, led to this broken build: https://alan.ci/buildbot/#/builders/5/builds/229 .

[2017-07-07 04:09] jethrogb commented on #612
Thanks for the explanation @posborne, that seems reasonable enough.

[2017-07-07 07:34] marmistrz commented on #649
thanks!

What's the difference between `nix::libc::ptrace` and `libc::ptrace`?

I see the relevant part in the sources:
[code]
Do I understand correctly that `nix::libc` will always be the same as `libc`?

Btw. https://github.com/rust-lang/rust/issues/26775 has already been closed.

[2017-07-07 10:11] marmistrz commented on #649
Oh, so there was a mistake on my side, that I did not exit the loop after the process has exited :P
Another problem was that the `spawn-ptrace` crate issued an initial `waitpid`, what was not documented at all.

So, `nix::sys::ptrace::ptrace` works correctly. I'll add my wrappers as a PR soon - I have to write them anyway, usage of raw `ptrace` would be atrocious, and `nix` is where the wrappers s

[2017-07-07 10:13] marmistrz opened #655 "`pub extern crate libc` can probably be used now."
https://github.com/nix-rust/nix/blob/master/src/lib.rs#L26
[code]

https://github.com/rust-lang/rust/issues/26775 has already been closed.

[2017-07-07 12:06] marmistrz opened #656 "Converting std::process::Child::id() to struct Pid requires a cast"
Currently we need something like:
[code]
while `id()` returns a `u32`.
[code]
This itself poses no risk on Linux, since the hard PID limit is 2^22, but this cast should not be necessary, imho.

Btw. `nix::unistd::Pid` is not mentioned in the documentation.

[2017-07-07 15:14] Susurrus commented on #656
`i32` should be correct, this looks like a bug with `.id()` in stdlib. I'd suggest bringing it up there. I'd love to reduce friction with the stdlib, but it doesn't make sense that they'd return a `u32` while the underlying `pid_t` type on POSIX is i32. Maybe Windows only deals with `u32`s, so they decided to do that.

Regarding the lack of docs, `Pid` does have docs in the source. It's not been i

[2017-07-07 15:18] Susurrus commented on #655
Actually, it can't. See [here](https://github.com/posborne/nix-rust/commit/99d6a00994183c96b96180907f072d2d0ceb8cbc) for the original issue. And the release notes for Rust 1.4 suggest this is still the case.

I believe the solution is to do:
[code]

[2017-07-07 15:21] Susurrus commented on #649
There isn't one. We just expose the version of `libc` used by `nix` to avoid type breakage if a project uses another version of `libc` somewhere.

I don't know what it does, but probably not. We're trying to be a thin and safe wrapper over `libc`. But of course, i'm not completely familiar with `spawn_ptrace` or even `ptrace`.

Yes, but you shouldn't declare values directly in `nix`, you should us

[2017-07-07 16:43] Susurrus commented on #652
Is this fixed or is there something more to do here?

[2017-07-07 21:52] Susurrus commented on #632
Well `libc` 0.2.25 was just released, so we're good with dependencies on that end. We should make sure we don't merge anything that has required changes to `libc` since 0.2.25.

[2017-07-07 23:23] asomers commented on #652
My buildbot config change seems to have fixed it.

[2017-07-07 23:23] #652 closed

[2017-07-08 09:09] marmistrz commented on #649
Oh, I didn't notice these types are exported vla the libc crate.

But the approach that the end user (i.e. the programmer) only uses `enum Register` and we translate them to integers without user's knowledge is ok to you?

[2017-07-08 09:21] SdNssr commented on #495
No, not really.

[2017-07-08 17:52] asomers opened #659 "Potential double close in PtyMaster"
`PtyMaster` implements `Drop` to close its `RawFd`.  However, it ignores errors, because the caller may have manually closed the `RawFd`.  This is bad, because it can lead to double closes, like this:
[code]

There are three possible solutions:
1) Always check for errors in `PtyMaster::Drop`
2) Don't implement `PtyMaster::Drop`; make the caller responsible for closing it.  If we go this route, we

[2017-07-08 18:04] asomers commented on #659
Also, the exact same problem is present in `SignalFd`.  For consistency, we should fix both classes the same way.

[2017-07-08 18:05] asomers commented on #632
I would like to add issue #659 to the list.  That kind of bug can take a long time to track down.

[2017-07-08 21:57] roblabla commented on #571
So it turns out I'm wrong. See for instance https://stackoverflow.com/questions/41361897/documenting-a-function-created-with-a-macro-in-rust

[2017-07-08 22:05] roblabla commented on #641
Is there value in providing such a wrapper ?

Technically speaking, the module does export `libc::ioctl` (well, as noted above, it's not directly `libc::ioctl`, but it should be), but it hides it from the doc [see here](https://github.com/nix-rust/nix/blob/master/src/sys/ioctl/mod.rs#L118). It probably shouldn't.

After some investigation, it turns out it's impossible to document functions generat

[2017-07-09 16:06] Susurrus commented on #641
@roblabla What do you mean by that comment? You mean we should re-export `libc::ioctl` in addition to our own `ioctl!` macro?

[2017-07-09 16:19] Susurrus commented on #649
We shouldn't do any "translation", as the enum values should be the proper numeric values to start. So you'll want to write the enum like:
[code]

But I searched through the `libc` sources again and didn't see any of these register values. You'll need to get them merged into `libc` first and then we can export them as part of the `Register` enum for use with `ptrace`.

[2017-07-09 16:30] Susurrus commented on #632
I'd also like to modify our release process for 0.9.0. The main thing is to reduce the number of steps by using `cargo-release`. This reduces several of the steps into 1, and basically we only need to modify the CHANGELOG and README for releases.

I don't know if we want to do it for this release, as I don't want to change the process too much in one go, but I'd also like us to use branches for ou

[2017-07-09 16:32] marmistrz commented on #649
Because they're here: https://doc.rust-lang.org/regex/libc/struct.user_regs_struct.html

I didn't know Rust's enums are so clever. And is it possible to do something like this:
[code]
which would be equivalent to your snippet?

I'll contribute that on Monday, besides I already have 3 clean wrappers around `ptrace` without superfluous args, I'll contribute them too.

[2017-07-09 16:49] Susurrus commented on #649
No that syntax won't work. But looking forward to a PR with your contributions!

[2017-07-09 18:08] Susurrus opened #664 "Errnos are available through multiple paths in nix"
The current problem is the errnos (like `EAGAIN`) are exposed at `nix::Errno::EAGAIN` and `nix::errno::EAGAIN`. We should choose one "right" path and only expose these constants there. I'd probably keep `Errno` at `nix::errno::Errno` instead of re-exporting it in the root.

[2017-07-10 08:29] marmistrz commented on #656
Yep, in glibc it's a singed integer: https://www.gnu.org/software/libc/manual/html_node/Process-Identification.html

[2017-07-10 19:10] Susurrus commented on #656
@marmistrz Thanks for raising that with upstream, let's sit on this for a day or so and see where that discussion goes.

[2017-07-10 19:20] Susurrus commented on #659
Note that your example doesn't actually work since `f` goes out of scope when the block drops.

[2017-07-10 19:35] asomers commented on #659
Touche.  How about this:
[code]

[2017-07-10 19:38] Susurrus commented on #659
👍

For option 1, what do we do when we detect an error? I think all you can do in `Drop` is panic, is that what we want to do?

[2017-07-10 19:44] asomers commented on #659
The same issue was discussed in libstd at https://github.com/rust-lang/rust/issues/19028 .  Panicing during `drop` is frowned upon because `drop` runs during stack unwinding.  But in this case I think it's the best option.  Let's panic in `EBADF` and ignore other errors like `EIO`.  And once we're satisfied with our solution, we should file another issue for `FileDesc` at libstd.

[2017-07-11 03:15] asomers opened #669 "TravisCI is too slow"
We have 34 builds in Travis, and it takes over an hour for all of them to finish.  It's causing Bors to timeout.  At a minimum, we need to increase bors's timeout.  Other ways to speed up the builds include:

1. Move i686-unknown-freebsd into BuildBot
2. remove `sudo: required`.  It causes Travis to use a full VM instead of a container, and I don't think we need it.
3. Only test beta and nightly b

[2017-07-11 03:53] Susurrus commented on #669
I agree with 1, 2, 3, and 6. For 3, I'd suggest we just drop nightly, as there's little benefit to us testing on it. I like that these are all pretty low-hanging fruit. We can deal with a custom docker image later if this continues to be problematic.

[2017-07-11 16:52] Susurrus commented on #641
My use case for `TIOCEXCL` is still not supported by `nix` if I understand this discussion. Basically `bad` still assumes that there's data, so should a `bad_none` also be added?

[2017-07-11 19:11] Kixunil opened #671 "The relationship between std and nix"
I've been thinking that `nix` and `std` provide some similar functionality (files, sockets, ...) but they are implemented twice.

Shouldn't `std` be implemented using `nix`? Or vice-versa? Or perhaps they should have a common dependency?

Code de-duplication would bring many benefits IMHO.

[2017-07-11 19:33] Susurrus commented on #671
I don't think there's any *actual* overlap between these crates though many concepts are shared between them. Looking through `std::os::unix` I don't see anything that's also in `nix`. Additionally while I  don't expect that to change as `std` is much more geared towards cross-platform development, while `nix` is not, and as such the platform-specific constructs will likely not grow too much more.

[2017-07-11 21:03] Kixunil commented on #671
I believe that e.g. [FileDesc](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/fd.rs) could be shared and possibly other things.

The way I see it:

* `libc` - platform-dependent C "header"
* `nix` - safe Rust; platform-dependent
* `std` - multi-platform abstraction

So `std` should probably be implemented using `nix`.

[2017-07-11 21:07] Susurrus commented on #671
It could be shared, but it couldn't exist in `nix`. `std` is basically the bottom of the dependency chain, so you can't put other things below it. Now if we wanted to reuse `FileDesc` in `nix`, which we actually might want to do, that's a little different as we do depend on `std` within our lib.

[2017-07-11 21:20] Kixunil commented on #671
I wonder if there is a technical reason for `std` being unable to depend on other crates or it's just a political decision.

[2017-07-11 21:32] Susurrus commented on #671
It's both. Rust is tightly coupled with `std`, as in they support the same systems, have the same development process, and share the same stability guarantees, so having full control of that stack is important for development. I'm going to close this as not really relevant, but if you'd like to continue this discussion I suggest you post on [the internals forums](https://internals.rust-lang.org/)

[2017-07-11 21:32] #671 closed

[2017-07-11 22:09] posborne commented on #671
Yep, I agree with your answers @Susurrus.  Just because `std` could, conceivably, use nix doesn't mean it should.  Recently, mio even used away from using nix and has its own libc bindings where required and I think the choice was reasonable to reduce the number of dependencies for a very core piece of software that is probably at a greater level of maturity now than nix.

As nix continues to matu

[2017-07-12 05:49] Susurrus commented on #669
I've already handled 6 and turned on auto cancel for pull requests. I left it on for branches as it isn't necessary there.

[2017-07-12 08:24] marmistrz commented on #649
As for the registry of syscalls: raised that in `libc`. Let's see what they say, I'm not sure where it belongs better - here or libc
https://github.com/rust-lang/libc/issues/662

[2017-07-12 10:16] Kixunil commented on #671
Thank you for responses!

[2017-07-13 16:19] Susurrus commented on #641
@roblabla If you look at the [rust-spidev source](https://github.com/rust-embedded/rust-spidev/blob/master/src/spidevioctl.rs#L218) you'll see that the `* buf` ioctls expect the user to pass the total size in bytes as `len`, not just the number of elements. I think we should move that into our macro-generated function instead of relying on the user to do that. But at that point why even have these

[2017-07-13 19:15] Susurrus commented on #641
I'm also trying to figure out if the generated `ioctl!` can't be made safe by default if we use `&` and `&mut` references instead of raw pointers. I would think this should work, so I tacked on a commit that changes all of them. Please check out my latest changes to #670. I'd love to get some feedback there.

[2017-07-13 19:25] Susurrus commented on #641
Also, if you wanted to see what the API looks like for a new project, I've added a branch for replacing my `ioctl-rs` dependency with using `nix`'s `ioctl!` macro directly instead. You can see what this looks like [here](https://gitlab.com/susurrus/serialport-rs/commit/e7968921bdbf9af884da8e5c7ff903a4b53b276f).

[2017-07-13 20:42] posborne commented on #641
I don't think we can ever correctly make these generated functions safe.  In order to make the calls safe many system calls require additional semantics (that go well beyond the ioctl call itself) be followed.  A common pattern for libraries will be to use the macros to get the FFI bindings in a convenient, declarative way and then provide safe wrappers around those.

[2017-07-13 20:43] Susurrus commented on #641
This leads me to ask, should these functions take references then or are raw pointers still better semantics? And if we're not providing a safe API here, why is this in `nix`?

[2017-07-14 10:11] roblabla commented on #641
References can't be null. Some ioctl might need this ?

On July 13, 2017 10:43:48 PM GMT+02:00, Susurrus <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2017-07-14 15:32] Susurrus commented on #641
@roblabla That's a good point, I wonder if there are any ioctls that actually do that. Do you know of any other Rust projects using `ioctl` besides `rust-spidev`?

I think it's better that I keep the raw pointers for now in #670. I think after that this should be good to review. Would you have some time soon to look it over @roblabla?

[2017-07-14 17:17] Susurrus commented on #669
With #674 closed, we've knocked out 2 & 3. What do you say @asomers about doing 1? I think it'd be nice to get Buildbot doing a bit more since it runs so quickly!

[2017-07-14 17:23] asomers commented on #669
FreeBSD 11.1 is scheduled to be released on July 26.  I'm going to wait until then so I can kill 2 birds with one stone.

[2017-07-14 17:29] Susurrus commented on #669
Sounds good. Also, do you want to turn this issue's numbered list into checkboxes so we can check off ones that are done?

[2017-07-14 17:29] Susurrus commented on #669
BTW: Good work on #674. An 18% reduction in CI build times is nothing to sneeze at!

[2017-07-14 18:48] asomers commented on #669
Progress report:

- [ ] Move i686-unknown-freebsd into BuildBot (waiting for 11.1-RELEASE)
- [x] remove sudo: required. It causes Travis to use a full VM instead of a container, and I don't think we need it.
- [x] Only test beta and nightly builds on one architecture.
- [ ] Enable parallel tests. This will likely have minimal benefit, because setting up the environment is slower than running tests

[2017-07-14 18:51] asomers opened #675 "Upgrade FreeBSD buildbot images"
The FreeBSD Docker image used by BuildBot could use an upgrade.  Specifically, we should
- [x] Upgrade to 11.1-RELEASE (scheduled for release on 26-July)
- [x] Add an i686 image
- [x] Use Rust 1.13.0 instead of stable
- [x] For extra speed, pre-download dependent crates when constructing the image

[2017-07-15 16:05] Susurrus commented on #659
@asomers Just realized that you assigned this to me. So I guess I'll dig into this :-)

So here's a working version:
[code]

And here's one that fails at the `f.write()` call with error code 9 "Bad file descriptor":
[code]

So I actually think this behavior is correct. Or should `close` have actually failed here?

[2017-07-15 16:06] asomers commented on #659
@Susurrus I just now started working on this myself!  Do you want me to self-assign it and take care of it?  I think your first example is correct.  But I think the second example should've failed when `m` got `drop`ped.

[2017-07-15 16:14] Susurrus commented on #659
@asomers I just want you to use the assign field correctly! :-P

You seem to understand this issue, so you're welcome to take this.

Also, when writing out this code example I think that `unistd::close()` should actually take a `T: IntoRawFd` which improves its ergonomics a bit. Any thoughts on that? Also many other functions should take `AsRawFd` where appropriate. That'll make working with `posi

[2017-07-15 16:20] asomers commented on #659
Making `close` take an `T: IntoRawFd` would certainly prevent some occurrences of this bug.  But as long as `PtyMaster` implements `AsRawFd`, it can't prevent all of them.  Do you think that would confuse any nix consumers who aren't expecting `close` to consume an object?

Separately, I agree that making most Nix functions accept an `T: AsRawFd` instead of a `RawFd` would be a great idea.

[2017-07-15 16:25] Susurrus commented on #659
I think we might want to explicitly address this situation in the docs for `close`, yes. But also when dealing with this stuff the user needs to be careful in general, and there's only so much hand-holding we can do.

Cool, I'll file a PR for the `AsRawFd` stuff. It'll be a nice ergonomics win I'd like to get in the next release.

[2017-07-15 16:33] Susurrus opened #676 "Improve `unistd::Whence`"
Needs a few things here:
 * [ ] Whence needs to be documented
 * [ ] Hardcoded constants for `SEEK_DATA` and `SEEK_HOLE` need to be converted to use `libc` types.
 * [ ] `SeekData` and `SeekHole` should only be available on supported platforms.
 * [ ] Instead of having different enum values and libc values, just use the libc values directly for each enum variant. Maybe improve the `libc_enum!` to

[2017-07-15 16:48] Susurrus commented on #659
Regarding the `AsRawFd`/`IntoRawFd` stuff, this doesn't have very good ergonomics because `RawFd` doesn't implement either of these traits. It was originally merged by @mic92 in rust-lang/rust#40482 and then quickly reverted in rust-lang/rust#41035 because `RawFd` is just an alias for `i32`, so it would have implemented these for that which would've been bad. I'm going to file another ticket with

[2017-07-15 16:51] asomers commented on #659
Good find.  Sounds like a case for a NewType!

[2017-07-15 17:06] Susurrus commented on #613
@jethrogb I'd be happy to consider a more concrete solution here along if it also showed specific use cases the current system doesn't allow or are ergonomic. Please file a PR if you have an idea for what you want and think is reasonable to implement and we can iterate there I think.

[2017-07-15 17:13] Susurrus opened #678 "Replace `RawFd` with `IntoRawFd` or `AsRawFd` as appropriate"
This is blocking on the resolution of rust-lang/rust#43254. Right now you can't have both `RawFd` and `T: AsRawFd` supported as inputs to the same function, so implementing this doesn't actually improve ergonomics. We may be able to create a newtype wrapper in `nix`, but I want to see if there might be a solution from the Rust devs here before we do our own newtype-wrapper based implementation.

[2017-07-15 17:14] Susurrus commented on #678
I think `unistd::close` is the only function that should use `IntoRawFd`, the others can just use `AsRawFd`, but this should be checked.

[2017-07-16 05:44] #659 closed

[2017-07-16 19:20] asomers commented on #97
We currently have ten different ARM builds running in CI, using QEMU.

[2017-07-16 19:20] #97 closed

[2017-07-16 19:57] asomers opened #679 "Intermittent test failures in CI"
The following tests have been observed to fail occasionally in CI.  If you find a fix for one of them, check it off:

- [x] `sys::test_aio::test_aio_cancel_all` times out on powerpc-unknown-linux-gnu (https://travis-ci.org/nix-rust/nix/jobs/252267360 https://travis-ci.org/nix-rust/nix/jobs/251497766 https://travis-ci.org/nix-rust/nix/jobs/253133267)
- [x] `errno::test::test_errno_values` times out

[2017-07-16 23:37] Susurrus commented on #100
I think we can close this then as the consensus is to leave it as-is.

[2017-07-16 23:37] #100 closed

[2017-07-16 23:54] Susurrus commented on #298
This was addressed sometime before #639 landed as this target is now checked during CI.

[2017-07-16 23:54] #298 closed

[2017-07-17 00:04] Susurrus commented on #306
This is still a problem with the current release:
[code]

I just tested all of the other features, and they all work fine at least.

[2017-07-17 00:22] Susurrus commented on #632
We should also deal with #306 at some point, but exposing it to all the appropriate platforms will take another libc release. Maybe instead we limit it to the platforms that libc supports now, even if it's a reduction in platforms (which is better than the current status of it just not compiling).

[2017-07-17 05:00] Susurrus commented on #320
We're no longer uploading docs to S3, given that https://docs.rs seems to be handling the situation just fine.

[2017-07-17 05:00] #320 closed

[2017-07-17 11:59] roblabla commented on #641
Sorry, had a week-end. I'll take a look at #670 :)

[2017-07-17 15:09] Susurrus commented on #319
Docs are generated on every release at [docs.rs](https://docs.rs), so that's no longer an issue here. However, there is still the issue with docs being missing for `nix::sys::signal::SigHandler`. This would be a good situation for a new developer to come in and fix.

[2017-07-17 15:10] Susurrus commented on #214
I don't think this makes sense, primarily from a documentation point of view. It's nice being able to provide docs for entire modules for some of the wrapper types that `nix` implements. It also makes it easier for people from from C to find the man pages. I think it made sense for `libc` to do this given that they don't care about documentation as they're such a low-level dependency, but for `nix

[2017-07-17 15:10] #214 closed

[2017-07-17 18:31] Susurrus commented on #632
#306 is fixed with #681, which was easy because the code was already broken so nobody has been using it for a while. We can add it back after the next libc release because rust-lang/libc#670 was already merged.

[2017-07-17 18:35] Susurrus opened #682 "Add execvpe support"
This was removed in #681 because it was broken. Re-adding it is basically undoing fcc22f22a680233dbeb82d230e35fd54cb6de176 (without the feature support and instead conditionally including it on supported platforms). `libc` has `execvpe` included for `haiku`, `linux`, and `openbsd` platforms. If you are a new contributor, go ahead and read `CONTRIBUTING.md`, assign this to yourself, and file a PR w

[2017-07-17 19:12] panzertime commented on #682
I'd like to be assigned this issue

[2017-07-17 19:16] Susurrus commented on #682
Awesome! Thanks for offering to contribute to `nix`!

I wasn't expecting someone to pick this up so quickly, so this is actually missing a crucial detail that you'll want to make a first commit that changes the `libc` dependency back to git (making that one change as a single commit means it can be easily removed later). And since you got here so quick I also wanted to ask how did you find out abo

[2017-07-17 19:18] panzertime commented on #682
Basically, I stumbled across `nix` while searching for a way to practice my Rust, and when I looked at the issues I was lucky enough to find a fresh beginner issue

[2017-07-17 19:20] Susurrus commented on #682
Awesome, well I'm glad I keep a few of these around! There's plenty of easy work to do around here (see #254 and #264 for more).

[2017-07-17 19:26] Susurrus commented on #533
This has been resolved for a while now I think as these are now Tier 1 platforms.

[2017-07-17 19:26] #533 closed

[2017-07-17 21:26] wezm opened #685 "Add support for OpenBSD"
OpenBSD appears to be not currently supported. Attempting to compile nix v0.8.1 on OpenBSD 6.1 amd64 with rust 1.16.0 produces the errors below. I would like to use nix in a project that I'll be deploying on OpenBSD so will take an initial pass at adding support. I'll update the task list here as I get more details on what needs to be implemented:

- [ ] Determine what is needed to get nix buildin

[2017-07-17 21:42] Susurrus commented on #685
The first priority here is to get OpenBSD supported as a Tier 3 platform, where we automatically test it. We use [cross](https://github.com/japaric/cross) for our testing, and right now it doesn't support OpenBSD. It looks like it'll take a bit of work to make that happen.

We'd also welcome patches to `nix` (likely in the form of `#cfg`ing out certain parts of it on OpenBSD) and `libc` (where mis

[2017-07-17 21:42] Susurrus commented on #685
(Also, if you could condense that list into action items, that'd be great. Seems like there are some improper datatypes and missing constants/functions in libc, so it should be pretty easy).

[2017-07-17 23:10] wezm commented on #685
Hmm cross support seems blocked on, "having official releases of the rust-std component for OpenBSD". https://github.com/japaric/cross/issues/97 I'll proceed with attempting to get nix building for my own purposes and go from there.

[2017-07-17 23:25] Susurrus commented on #685
Looking at the code for `rustup`, I would think this would be supported. Have you tried using `rustup` to install Rust on an OpenBSD machine? If it works doing that, then japaric/cross#97 is fixed and support can be added. That's an awfully old issue, so I wonder if things have changed.

[2017-07-18 01:46] #154 closed

[2017-07-18 02:56] wezm commented on #685
Yep I tried it to try to get a version newer than 1.16.0:

[code]

[2017-07-18 03:46] Susurrus commented on #685
Alright, well looks like rustup is going to need someone who loves OpenBSD to get to work on it! Is that you?! :-)

Anyways, yes, let's confine ourselves to fixing OpenBSD compilation currently and we'll defer on CI for now.

[2017-07-18 04:07] #251 closed

[2017-07-18 19:29] Susurrus commented on #632
I just added #681 and #686 to the list as they both fix runtime and compilation bugs. I think we're stalled on #566 so I'd suggest we punt on it. The other 3 are getting close to merging.

[2017-07-18 20:07] xd009642 opened #687 "Create tests for ptrace"
Ptrace lacks proper tests, partially due to tests hanging due to calls to fork. Below I have some example test functionality I wrote to ensure that ptrace works, due to the fork this could cause a test to hang. (It also ignores the ptrace results which is less than optimal).

    #[test]
    fn ptrace_get_data_test() {
        match fork() {
            Ok(ForkResult::Parent{ child }) => {

[2017-07-19 02:29] Susurrus commented on #669
There's a high variability in the time it takes the Mac builds to run. I think having them all grouped together in the middle is bad for our total processing time. I'd suggest we intersperse the mac/ios builds across the rest of them so we're never stuck if Macs are slow to build (often happens during the day with Travis). Travis CI will only process 5 builds simultaneously, so we should keep to e

[2017-07-19 03:16] Susurrus commented on #679
I'm going to work on the `epoll` ones. I think I know how to solve them, you can create a `signalfd` to then call epoll on and we should be able to consistent results.

[2017-07-19 03:41] Susurrus commented on #679
See #689 for a potential fix to the `epoll` errors.

[2017-07-19 04:53] asomers opened #690 "Support preadv/pwritev on more platforms"
As of https://github.com/rust-lang/libc/commit/3e5b0748fe73c72362ce3ae9ec3c840ae78b5124 , libc defines `preadv` and `pwritev` for all of the BSDs as well as Linux.  Rust should enable it for them in the post-0.9.0 release.

[2017-07-19 06:55] #98 closed

[2017-07-19 06:55] #206 closed

[2017-07-19 06:55] #306 closed

[2017-07-19 06:55] #308 closed

[2017-07-19 14:36] jonas-schievink commented on #586
Also see http://www.linuxprogrammingblog.com/threads-and-fork-think-twice-before-using-them

And the [man page](http://man7.org/linux/man-pages/man2/fork.2.html) says:
[code]

This makes it sound like `fork` *really really* should be made `unsafe`: Spawning threads and calling non-signal-safe function is possible in safe Rust, therefore there must not be a safe way to do so after a `fork`. Instead

[2017-07-19 14:45] jonas-schievink commented on #586
This has come up in the standard library, too: https://github.com/rust-lang/rust/issues/39575

[2017-07-19 15:26] asomers commented on #586
You're right that `fork` is unsafe.  But is it `unsafe` in the Rust sense?  I think we should follow whatever decision rust-lang makes in the issue you linked.

[2017-07-19 15:44] Susurrus commented on #586
@asomers I read through some of the discussion there. The argument is that UB should be assumed to include memory unsafety by default. Specifically for `fork()` there are some more reasonings that should make this more likely.

[2017-07-19 20:58] Susurrus commented on #573
@beamspease Could you check out #670 and let me know if that would be in line with what you'd like in the docs for `ioctl!`?

[2017-07-20 03:53] asomers commented on #679
I checked off everything that was disabled by #689.  I want to wait a few more days to see if `test_wait` rears its ugly head again.  And the component download failed thing actually sounds like a server availability issue.

[2017-07-20 05:33] Susurrus commented on #679
Yeah, but we probably want to add an automatic retry mechanism to cross, rustup, or cargo to try it 3 different times and only bail out then. It's annoying that *we* need to deal with those kinds of failures when those tools should handle it gracefully.

[2017-07-20 15:57] jonas-schievink commented on #655
Nah this should work fine by now

[2017-07-20 16:18] jonas-schievink commented on #664
AFAIK reexporting enum variants is considered bad style (they're scoped for a reason)

[2017-07-20 16:37] Susurrus commented on #664
Indeed. Would you be interested in taking this on and filing a PR to get this all cleaned up? I started working on this but the `errno` module needs more work than I realized.

[2017-07-20 16:49] jonas-schievink commented on #664
I'm currently taking a look at #586, but after that's finished I can check this one out.

[2017-07-20 18:28] asomers commented on #586
Is there any undefined behavior associated with calling async-signal-unsafe functions after forking?  I can't find any.  [fork(2)](http://pubs.opengroup.org/onlinepubs/9699919799/) doesn't mention any undefined behavior.  Instead, it suggests not calling async-signal-unsafe functions in order to prevent deadlocks and the like.

[2017-07-20 21:35] jonas-schievink opened #698 "test_select sporadically fails on x86-64 Linux"
Just randomly hit this after the test seemed to get stuck:
[code]

[2017-07-20 21:37] Susurrus commented on #698
Please post this to #679.

[2017-07-20 21:37] #698 closed

[2017-07-20 21:41] jonas-schievink commented on #679
`test_select` just failed for me on x86-64 Linux after seemingly waiting on a timeout:
[code]

AFAIK, there's no guarantee that file descriptors are allocated monotonically, possibly the `r2 + 1` is [at fault](https://github.com/nix-rust/nix/blob/07e6c2f5c2d2a95fcfcd509556c4d1441a91adfb/test/sys/test_select.rs#L52) and should be replaced by `cmp::max(r1, r2) + 1`?

[2017-07-20 22:10] Susurrus commented on #679
Yeah, that seems right to me. Additionally that value should not even be provided by the user to our version of `select`. We should provide an API that calculates that value for you so the user doesn't make a mistake like this.

[2017-07-20 22:15] Susurrus opened #699 "Support signalfd on Android"
Add `target_os = "android"` to the signalfd code (target_oses are listed in alphabetical order.

[2017-07-21 00:02] asomers commented on #679
Actually, there is a guarantee that file descriptors be allocated monotonically: http://pubs.opengroup.org/onlinepubs/9699919799/functions/V2_chap02.html#tag_15_14 .  The problem is that this one particular test isn't thread safe: it can fail like this:
1) Some other thread opens a file and gets file descriptor 3
2) `test_select` calls the first `pipe` and gets file descriptors 4 and 5
3) the firs

[2017-07-21 02:28] #573 closed

[2017-07-21 02:28] #641 closed

[2017-07-21 03:29] Susurrus commented on #632
@asomers in addition to #566 which is the only one we're blocking on now, there's two PRs addressing platform support. I hate to keep delaying this release, but I'd suggest we try to get #688 in as that's just to support compilation on that target (rustup really need to get support for OpenBSD!). And there's also #693 that would be good to improve our Android support.

My suggestion is to get them

[2017-07-21 04:44] asomers commented on #632
I don't think it's worth holding up the release for #688.  Since we won't be building it in CI, it's likely to break again soon.  So OpenBSD users will probably have to pull in nix by specific known-good git revisions.  Basically, I think that releases aren't very relevant for Tier 3 and lower.  So I wouldn't hold up the release for it, though we can certainly merge it if it's ready in time.  I fe

[2017-07-21 15:58] Susurrus commented on #632
@asomers Alright, I'm fine with that. We gotta cut a release at some point!

So with the release process, what were you thinking about for that? I'm going to be leaving in a few hours and out of town all weekend, but I'm fine with you releasing whenever you want here. As part of that I'd also like to suggest we also post an Announcement on https://users.rust-lang.org that gives a summary of the ch

[2017-07-21 16:00] #550 closed

[2017-07-21 16:08] geofft opened #702 "`cargo test foo` runs tests for mount and ptymaster_drop too"
If I run, say, `cargo test ptrace` to run only tests with "ptrace" in their names, it also runs all the test_mount and test_ptymaster_drop tests. I suppose this is because they define their own `main()` and don't look at `args().nth(1)` to see if it should only run a subset of tests, or something?

(They run fast so this isn't really a problem, it's just confusing.)

[2017-07-21 16:21] asomers commented on #702
Yep.  That's how cargo works.  It runs every test program with the argument "ptrace".  If you only want to run the integration tests,  and you want to pass a filter to them, you can use the confusing command line `cargo test --test test ptrace`

[2017-07-21 16:21] #702 closed

[2017-07-21 20:03] aep opened #703 "nix 0.9.0"
more a question: is 0.9.0 backwards compatible with 0.8.1?
either quite a few things changed or i'm misinterpreting the errors from
https://github.com/oracle/railcar/issues/24

for example a major one:
[code]

[2017-07-21 20:31] asomers commented on #703
Nope.  There are API changes going from 0.8.1 to 0.9.0.  In general, you can expect API changes from any crate when it changes minor versions prior to 1.0.0.  All changes should all be mentioned in the CHANGELOG.  If not, please tell us, because that's a bug.

[2017-07-21 20:31] #703 closed

[2017-07-22 13:21] roblabla commented on #678
I am very much in favor of this. Wouldn't newtype-ing `RawFd` be a good idea anyway ? The fact that it's an int should be, IMO, hidden from the user's view, as a lot of operations on int don't yield interesting results on fds (what does RawFd + int do ?).

We could have our own newtype'd RawFd, and implement AsRawFd/IntoRawFd/FromRawFd ourselves. Is there a good reason not to do this (other than i

[2017-07-22 13:30] roblabla commented on #594
Related to #678

[2017-07-22 13:58] lucab commented on #678
Integer arithmetic on fd is quite common with IPC and socket passing. If you want a specific concrete usecase, see https://www.freedesktop.org/software/systemd/man/sd_listen_fds.html.

In general, I'm in favor of having a more sound `RawFd` replacement (see https://github.com/nix-rust/nix/issues/594) but I still need to do integer arithmetic around it.

[2017-07-22 14:08] roblabla commented on #678
Well, you could still use `AsRawFd` to get the raw integer, and FromRawFd (which is unsafe) to create the new Fd.

[2017-07-23 23:45] #571 closed

[2017-07-24 04:58] asomers commented on #632
Fixed by PR #705

[2017-07-24 04:59] #632 closed

[2017-07-24 05:25] Susurrus commented on #632
Thanks, @asomers! And great job on the post to u.r-l.o. looks great and hopefully it'll recruit some new users and developers!

[2017-07-24 17:35] marmistrz commented on #656
@Susurrus upstream won't change it. Will nix?

[2017-07-25 02:37] #655 closed

[2017-07-25 08:09] marmistrz commented on #687
@xd009642 I think it would be a good idea to wait before merging it until #666 is merged. It's a big change and I'm adding safe, Rusty APIs for ptrace.

[2017-07-25 16:19] Kixunil commented on #678
@lucab such operation is basically `unsafe`.

[2017-07-25 17:13] xd009642 commented on #687
That's fine with me, I've only been planning what it may look like haven't yet put fingers to key :+1: Looking forward to #666

[2017-07-25 21:45] Susurrus opened #707 "The Future of ioctls"
With my recent PR cleaning up the `ioctl` module I saw some references to [cmr/ioctl](https://github.com/cmr/ioctl) and how the `ioctl` module was based on that work. That crate is now deprecated, but I wanted to bring up what we see as the future of nice bindings to `ioctl`s. There is the dcuddeback's `ioctl-rs` crate, but that appears unmaintained as well.

I know that [rust-spidev](https://gith

[2017-07-25 21:49] cmr commented on #707
I'm willing, but I might not have the time :) We'll see! I might come back to it.

[2017-07-25 21:52] asomers commented on #707
What sort of benefits do you think we could get from a centralized ioctl repo?  Ioctls are extremely variable; aside from our `ioctl!` macros I don't think there's much common functionality we could provide.  I have a lot of experience writing Ruby bindings for ioctl-heavy APIs, and I've never come across a single one that I've wanted to reuse elsewhere.  Leaving the bindings in separate domain-sp

[2017-07-25 21:52] cmr commented on #707
Wait, `rust-spidev` uses `ioctl!`. I'm not sure it's a good idea to have all the wrapper code for every ioctl in a single crate. https://github.com/cmr/evdev, the reason I made the original ioctl crate at all, just uses `nix` instead.

[2017-07-25 21:58] Susurrus commented on #707
@asomers That's a fair point. The common functionality between `ioctl`s is mostly handled by `nix`, so other crates would need to create nice APIs that would be pretty specific to the given ioctl. It just seemed more appropriate to have one large crate than a ton of small specifc crates. If we have multiple people using the ioctl crate they might find bugs even if they're using different ioctls th

[2017-07-26 05:20] kahing commented on #678
What about operations that return RawFd? For example, dup2() returns RawFd, how would one pass that to another function if everything takes AsRawFd?

[2017-07-26 05:41] kahing commented on #613
Here's a related issue that doesn't work right now

[code]

[2017-07-26 07:14] Kixunil commented on #678
@kahing The interface should be changed to return `Fd`, just as I did it in case of `Pid`, `Uid`, and `Gid`.

[2017-07-26 07:51] marmistrz opened #708 "Doc tests fail for me on Rust 1.19 due to linking errors"
https://gist.github.com/marmistrz/a6e503a5491df80a493030e0a0e702d2

Using Arch Linux, Rust 1.19 from repositories. It looks like Rust stdlib for some reason has some C++ symbols but is linked using a C compiler. Should I report it against my distro package?

[2017-07-26 13:42] asomers commented on #708
It looks like you have stdlib installed by your distro.  That might interfere with what cargo downloads.  What happens if you simply remove /usr/lib64/rustlib/x86_64-unknown-linux-gnu/lib/libstd-1cca08df8b8463bb.so and try building again?

[2017-07-26 13:57] marmistrz commented on #708
@asomers `rustc` won't find the stdlib as it links dynamically against libstd.

[2017-07-26 14:05] asomers commented on #708
@marmistrz are you using rustc as installed by Arch, or as installed by rustup?  If you're using rustup's rustc, then it shouldn't use any rust libraries in /usr/lib64.

[2017-07-26 14:05] marmistrz commented on #708
I'm using my distro's rustc.

[2017-07-26 14:44] asomers commented on #678
I agree that we should use a Newtype.  But we should name it `FileDesc`, because that's what libstd uses.  The libstd type isn't public now.  But if it ever becomes public in the future, it would be easy for us to delete our own implementation and for our users to change `nix::FileDesc` into `FileDesc`.

[2017-07-26 15:17] marmistrz commented on #708
Reported this against my distro: https://bugs.archlinux.org/task/54933

[2017-07-26 17:35] Susurrus commented on #613
@kahing That *shouldn't* work. Not all error types are compatible between libraries, nor are they designed to be compatible. There is no appropriate mapping that works in all use cases from `nix::Error` to `io::Error`, which is why one is not provided.

In your code example, you should invent a new error type that provides a `From<io::Error>` and a `From<nix::Error>` and use that as the return typ

[2017-07-26 17:36] Susurrus commented on #678
@asomers Why don't we just copy directly the private type from `std` and use that? We can amend it as it evolves in `std`, but that way we can make sure we're nicely integrated.

[2017-07-26 17:40] kahing commented on #613
I understand that they are not compatible but since rust io and nix are often used together, it would be nice if they were compatible out of the box. (yes, I do have my own error type now).

[2017-07-26 17:43] jethrogb commented on #613
I think it makes a lot of sense to provide `From<nix::Error>` for `io::Error`. If the original error is an `Errno`, it's an obvious conversion, otherwise, it can be a `io::ErrorKind::Other`.

I'll look into doing a PR at some point

[2017-07-26 17:45] roblabla commented on #678
Would it be worth making an issue on the rust-lang repo asking if there is any plan to make FileDesc public, and stabilize it ?

[2017-07-26 18:36] Susurrus commented on #613
@jethrogb we removed it in #614, we won't be adding it back in, so need to work on a PR for this. The rust-y way to handle this is to create your own error type and map from all other errors into that error type for export.

@jethrogb If you want to file a PR for the other things we've discussed in this issue, that would definitely be considered.

[2017-07-26 18:37] Susurrus commented on #678
@roblabla Indeed, having this discussion with them would be the smart play before we commit any code to anything.

[2017-07-27 04:24] Susurrus commented on #675
And [11.1 is released](https://www.freebsd.org/news/newsflash.html#event20170726:01).

[2017-07-27 05:12] asomers commented on #675
First build on 11.1: https://alan.ci/buildbot/#/builders/5/builds/555

[2017-07-27 15:50] #707 closed

[2017-07-29 20:33] asomers commented on #675
Pre downloading dependent crates looks like it saves about 20s on the FreeBSD build.

[2017-07-29 21:27] berkowski opened #711 "`nix::poll` not available for bsd targets."
`nix::poll` is not available for bsd targets (excluded with `#cfg` directives).

[2017-07-29 22:51] berkowski commented on #711
#672 addresses this.

[2017-07-30 04:44] asomers commented on #675
PR #713 fixed the final item.  I wasn't able to use Rust 1.13.0 on i386, though, because i686-unknown-freebsd is not supported by Rustup.  So that platform uses FreeBSD's Rust package, which is currently 1.19.0.

[2017-07-30 04:44] #675 closed

[2017-07-30 09:21] chrisvest opened #714 "AIOs that fail to enqueue should not be marked as `in_progress`"
When enqueuing an AIO, such as `read`, `write`, and `fsync`, the `AioCb` is marked as `in_progress` before the system call is made.

However, if the system call returns an error, such as `EAGAIN` or `ENOSYS`, etc. then the AIO is not actually in progress, and the subsequent `drop` will panic in its attempt at doing an orderly termination of the AIO:

[code]

Also note that the `WARNING` printed ab

[2017-07-30 13:53] asomers commented on #714
Good find.  I'll fix it.
What do you think about those "dropped an in-progress AioCb" warnings anyway?  I've been thinking about turning them into a panic, because `stderr` won't always be available or appropriate.

[2017-07-30 16:31] #711 closed

[2017-07-30 18:53] chrisvest commented on #714
In that case, do the panic from within a function that has a name that explains why the panic happens, like the warning currently does. That way, the reason for the panic will be plainly visible from the backtrace.

[2017-07-31 22:45] wezm opened #717 "Enable setresuid and setresgid for more platforms"
`unistd::setresuid` and `unistd::setresgid` are currently wrapped in a module that only is only included on Linux and Android. The functions appear to be present on other systems as well:

- [FreeBSD](https://www.freebsd.org/cgi/man.cgi?query=setresuid&apropos=0&sektion=0&manpath=FreeBSD+11.1-RELEASE+and+Ports&arch=default&format=html)
- [OpenBSD](http://man.openbsd.org/setresuid)

NetBSD and macO

[2017-07-31 22:58] Susurrus commented on #717
Would you be will in to file a PR enabling them on those platforms? You'll need the check that they're all defined in libc beforehand so everything will pass CI.

[2017-07-31 23:01] wezm commented on #717
Yep definitely. Will aim to do it this week.

[2017-08-01 05:04] Susurrus commented on #717
@wezm Excellent, thanks for being willing to contribute! In the future, feel free to just file a PR instead of both an issue and a PR, unless you're uncertain if we'd accept the feature. It generates slightly less noise for us maintainers :-)

[2017-08-01 07:54] wezm commented on #717
Ok, no problem, will do. Turns out neither of these functions are in the libc crate (for FreeBSD and OpenBSD). So I'll have to do the dance of getting them added there first.

[2017-08-01 13:02] kyrias commented on #708
Apparently the build is broken in a weird way if you're using the system jemalloc rather than letting rust build its own.  I'm currently rebuilding rustc and will push a new package in around a few hours.  This issue can be closed.  (Though I need to remember to open an issue on the rust repo.)

[2017-08-01 16:55] kyrias commented on #708
I've pushed 1.19.0-2 to community now, so should be able to close this now.

[2017-08-01 17:35] Susurrus commented on #708
@kyrias Thanks for tackling this, glad it's resolved.

[2017-08-01 17:35] #708 closed

[2017-08-01 17:59] Susurrus commented on #717
@wezm Excellent, thanks. If you could add it for all supported platforms also, so we can offer pretty complete support here in `nix`, it'd be much appreciated. When you create an issue, please link it to this one so I can track progress.

[2017-08-01 19:05] #637 closed

[2017-08-01 23:27] Susurrus commented on #523
This was addressed by 3b66681f and part of the 0.9 release.

[2017-08-01 23:27] #523 closed

[2017-08-01 23:28] Susurrus commented on #543
This was fixed by e3529352 and part of the 0.9 release.

[2017-08-01 23:28] #543 closed

[2017-08-02 03:01] asomers commented on #714
@chrisvest I have a solution coded up, but it's failing on OSX in Travis.  I don't have an OSX machine, so it's pretty hard for me to debug.  Since you do, would you mind checking out the issue_714 branch and running the tests?  The error in Travis is that `test_fsync` times out because `aio_fsync` continually returns `EAGAIN`.

[2017-08-02 04:34] chrisvest commented on #714
@asomers I ran a `cargo test` of your #715 PR locally, and it didn't hang.

[code]

[code]

Maybe travis is using an older MacOS version that behaves differently.

In another code base I do however have an `EAGAIN` loop on `aio_read`, so I'll be examining how the nix test suite manages to avoid that.

[2017-08-02 12:52] marmistrz commented on #656
What about:
[code]

[2017-08-02 15:05] Susurrus commented on #656
There's already `Pid::from_raw(pid_t)`. So you're suggesting adding the above as well? I think it'd need to be unsafe or return a `Result` for it to really be feasible.

[2017-08-03 09:56] chrisvest commented on #714
By the way, did you tell Musl about the behavioural difference observed?

[2017-08-04 10:32] marmistrz opened #719 "Is there anything that prevents `struct Pid` from implementing `Sync`?"

[2017-08-04 11:35] marmistrz commented on #719
That was my bad, I forgot a `move` in a closure.

[2017-08-04 11:35] #719 closed

[2017-08-07 15:37] oconnor663 opened #723 "calling nix from libraries that return io:Error"
Version 0.9 switched to a new error type, and also removed the conversion impl to io::Error. Downstream we're thinking about adding our own conversion (https://github.com/oconnor663/os_pipe.rs/pull/10) to keep our existing `io::Result` interfaces, but I wanted to check in and see if that's what you expected downstream libraries to do.

[2017-08-07 19:16] xd009642 opened #724 "Incorrect value for PTRACE_EVENT_SECCOMP"
PTRACE_EVENT_SECCOMP and PTRACE_EVENT_EXIT are both given the value of 6. Instead the seccomp event should have the value 7. Source: https://github.com/torvalds/linux/blob/master/include/uapi/linux/ptrace.h

[2017-08-07 23:13] #717 closed

[2017-08-08 04:22] Susurrus commented on #723
Yes, you'll want to define your own error types. See #613 for some discussion. So I'm going to close this, but if that discussion doesn't make the reasoning clear, feel free to post again here.

[2017-08-08 04:22] #723 closed

[2017-08-08 04:27] Susurrus commented on #724
Indeed. All constants in `src/sys/ptrace.rs` should be replaced with their libc equivalents. All the `PTRACE_EVENT_*` constants are missing, however, so those should be submitted to upstream for all libc/nix supported platforms. A partial PR regarding these constants is in #461. If you'd like to get those constants upstreamed and then take over #461, it'd be greatly appreciated as I'm not certain

[2017-08-08 05:14] Susurrus commented on #724
Whoops, misspoke on this. All `PTRACE_EVENT_*` constants have been merged into libc.

@xd009642 Would you be interested in cleaning up the constants in `src/sys/ptrace.rs`? It'd be mostly what's already done in #461 but with the addition of using `PTRACE_EVENT_*` constants from `libc`. Using the `libc_enum!` macro makes this pretty easy.

[2017-08-08 16:20] xd009642 commented on #724
I am slightly busy at the moment I'll try and fit sometime in this weekend or maybe later this week. Guess it just depends how quickly you'd like this to move along

[2017-08-09 15:43] Susurrus commented on #724
@xd009642 I like to move this along as fast you can, whatever that speed is. We just don't have enough people who work on nix directly to take care of many of these types of issues, instead relying on external contributors to scratch their own itch. So if you weren't willing to take this on, I don't know when this would get resolved.

[2017-08-09 16:17] xd009642 commented on #724
That's fair enough, I'll probably start looking at it tonight or tomorrow.

[2017-08-09 16:35] #685 closed

[2017-08-09 17:01] Susurrus opened #726 "Start planning for 1.0"
I've been thinking about this recently as the discussion of breaking changes comes up regularly in PR reviews. I wanted to start bringing things to the table to make sure we were headed in the right direction for a 1.0 release. I think things will need to be resolved a little better with `libc` before we get there, but I'm expecting this to be about a year away unless things speed up in the refact

[2017-08-09 20:29] chrisvest commented on #714
@asomers I found out that my `EAGAIN` loop from `aio_read` was because the file had not been opened for reading. I would have expected to see `EBADF` in that situation, but apparently not.

I don't see any connection between this and `aio_fsync`, though. I notice that my system doesn't have a man-page for `aio_fsync`, but the header file does define it.

[2017-08-10 16:01] ncaracci commented on #676
Is it okay to use the descriptions found on linux's lseek manpage?

[2017-08-10 16:05] asomers commented on #676
For Linux-specific constants, yes.  But for standardized constants, it's usually better to use the OpenGroup's descriptions.  You can find them at http://pubs.opengroup.org/onlinepubs/9699919799/functions/lseek.html .

[2017-08-10 16:41] ncaracci commented on #676
Would this be okay?
[code]

[2017-08-10 16:46] Susurrus commented on #676
@ncaracci Can you put this in a PR? It's easier to comment on these when I can put comments on specific lines. And you're definitely on the right track, so you shouldn't worry about this getting merged.

[2017-08-10 16:53] ncaracci commented on #676
Ok, here's the PR #730.

[2017-08-11 14:48] xd009642 commented on #724
I've started work on it today, so I'll use this issue to ask questions/float ideas until I've submitted something I'm somewhat happy with if that's okay?

I might not use the libc_enum macro because there look to be some type (signed versus unsigned) discrepancies and things available in some OS's but not others. I'm still working it out so it's early days though. Also, libc removed PTRACE_EVENT_S

[2017-08-11 17:09] xd009642 commented on #724
Yeah I'll raise the PR when I've got something that's actually worth showing in some form then continue discussion there. And I'll look into the source examples

[2017-08-14 23:38] kinetiknz opened #736 "Versioning policy for newer features"

[2017-08-14 23:39] #736 closed

[2017-08-14 23:59] kinetiknz opened #737 "nix versioning policy for newer features"
What is nix's versioning policy for adding newer platform features?  Is there a minimum OS version that nix and applications built using it are expected to run on?

In a project currently being integrated into Firefox, we're trying to use nix and have run into an issue where the minimum glibc version we must support is 2.12 but nix includes `setns` which is only available in 2.14 onwards.  From a

[2017-08-15 00:16] Susurrus commented on #737
This is an excellent question! Right now we've been deferring on answering these questions because the Rust community hasn't quite figured out how to handle this. I've contributed both to `libc` and `winapi-rs` which both punt on the issue and say they support basically the newest things they can run in CI.

I've also contributed to `gtk-rs`, which use gtk versions as feature flags and that seems

[2017-08-15 03:50] asomers commented on #737
I agree that feature flags are the best way to handle this, unless Rust evolves more detailed platform descriptions.  A major unsolved question is how to handle C ABI changes between versions.  For example, `statfs` and many other functions change their signatures in FreeBSD 12.  It is probably possible to use ELF symbol versioning to select which ABI to use, but I haven't seen anybody do it yet.

[2017-08-15 04:10] Susurrus commented on #737
@asomers That conversation is happening rust-lang/libc#721

[2017-08-15 05:05] semarie commented on #737
@asomers the [target-extension](rust-lang/rfcs/pull/2048) proposed RFC has this goal: tracking breaking changes at OS level.

[2017-08-15 05:05] semarie commented on #737
@asomers the [target-extension](rust-lang/rfcs/pull/2048) proposed RFC has this goal: tracking breaking changes at OS level.

[2017-08-15 05:25] Susurrus commented on #737
@semarie bad link

[2017-08-15 08:07] semarie commented on #737
@Susurrus thanks. I updated the comment.

[2017-08-17 15:05] Susurrus commented on #726
I'd also like to address #338 as part of this. I think the consensus is correct. Just need to modify `CONVENTIONS.md` and do a general audit of the codebase.

[2017-08-17 15:07] Susurrus commented on #676
Closed by 3d7d7ea5445ea0e2626822bd397dd3dad45ac8e6.

Thanks for your contribution @ncaracci!

[2017-08-17 15:07] #676 closed

[2017-08-17 23:27] Susurrus commented on #607
This should be addressed by #739. @zsck please test out that PR and let me know if it works for you.

[2017-08-18 06:15] rocallahan opened #740 "Convert `WaitStatus` to/from i32"
1) I have raw `waitpid` statuses in a database that I want to be able to parse as `WaitStatus`es, but `decode` is not exposed.
2) I want to be able to serialize and deserialize `WaitStatus`es and going to/from the raw i32 seems like a good way to do that.

[2017-08-20 23:17] Susurrus commented on #740
For 1, you should be able to cast it using `as` and if that doesn't work you can use `mem::transmute`.

As for serializing/deserializing, that should really be done by `serde`. Maybe we could add a feature to derive the relevant traits for appropriate types.

[2017-08-20 23:25] rocallahan commented on #740
I don't understand how this could work without calling `decode` somehow.

[2017-08-20 23:31] Susurrus commented on #740
Ahh, indeed. Should've looked at the code first!

But i think I need some more context to really understand your use case and whether it should be supported here. So can you explain your use case more? You end up with a `WaitStatus`, and then what? As far as I can see there's no API inputs that are of type `WaitStatus`. So why convert them?

[2017-08-20 23:58] rocallahan commented on #740
rr --- https://github.com/mozilla/rr --- records program execution and builds a trace which contains, among other things, process exit codes as reported by `waitpid`. It's written in C++.

I want to read those codes in a Rust program and then process them e.g. to distinguish regular exit from fatal signals and extract the fatal signal number. nix `WaitStatus` provides that logic but I can't use it

[2017-08-21 01:58] Susurrus commented on #740
I'm not entirely convinced this should be supported by `nix`, but I don't think I fully appreciate the use case. My main concern is that we purposefully encapsulate types in order to prevent invalid types from being created and I don't think `i32` is the right intermediary here. Maybe what's better is to implement `serde`'s `Serialize`/`Deserialize` traits (or whatever the equivalent are named, I'

[2017-08-21 02:44] rocallahan commented on #740
rr's written in C++ so I can't use nix there.

Another use-case is if you're writing something like `strace` in Rust. You'd then want to use `ptrace` to read memory from the tracee and convert the value into a `WaitStatus` to interpret it. This in in fact what rr does, so even if it was written in Rust we'd still need this conversion.

Sure, so have decoding return `Result<WaitStatus>`.

[2017-08-21 02:50] Susurrus commented on #740
Why don't we go ahead and move on to a PR for this and evaluate it there? Seems like a minimal amount of work to expose a useful new API.

Also, since you speak of `strace`, I want to ping @geofft here as he's writing [`gtrace`](https://github.com/geofft/gtrace), which is an `strace` implementation in Rust.

[2017-08-21 03:21] rocallahan commented on #740
Filed https://github.com/nix-rust/nix/pull/741

[2017-08-22 00:23] #607 closed

[2017-08-22 17:22] Susurrus commented on #669
One of the biggest issues is the long queue times for mac builders on Travis. I think it'd be good if we condensed all `ios` testing onto a single machine that ran them all in parallel. This would reduce our requirement for mac CI jobs from 7 to 3.

[2017-08-24 06:08] ixeft opened #743 "Statvfs b_fsize overflows in i686 (32bit) linux system"
Hello,

I'm not a rust programmer, but trying to compile
https://github.com/greshake/i3status-rust
and particularly this file :
https://github.com/greshake/i3status-rust/blob/master/src/blocks/disk_space.rs
I noticed that Statvfs::b_fsize where u32 instead of u64 creating a compilation error

using "as u64" I got the code compiling but now, with path bigger than 4Gio, I got an overflow
getting wro

[2017-08-24 06:10] Susurrus commented on #743
We just wrap the statvfs strict provided by libc. This is likely an issue with the type as it's declared there. Please open and issue there to discuss this and link back to this one.

[2017-08-24 06:17] ixeft commented on #743
yes, libc provide a flag to modify the type of those variable and allowing usage of more than 2Gio files (not 4Gio as I mentioned) by setting
[code]
or even better :
[code]
http://www.gnu.org/software/libc/manual/html_node/Feature-Test-Macros.html

[2017-08-24 06:58] ixeft commented on #743
Ok,
I just realized you wanted me to report a bug in i3status-rust, not in glibc :)

I just did that
https://github.com/greshake/i3status-rust/issues/88

Thanks

[2017-08-24 14:43] asomers commented on #743
Actually, susurrus meant that you should report a bug to Rust's libc, here: https://github.com/rust-lang/libc .  That crate defines the FFI wrappers for all standard C structures.

[2017-08-26 17:34] Susurrus commented on #743
I believe the solution here is to expose the `stat*64` functions. for i3status to consume. I've therefore retitled this issue accordingly.

[2017-08-26 17:48] Susurrus opened #748 "Migrate all FFI declarations to libc"
We should remove all FFI declarations within `nix` in favor of types defined in the `libc` crate. Much of this work has already been done recently, but there's still some left. And since we don't let any new PRs be merged until `libc` support has been added, we can resolve this problem relatively easily.

Left to address:
 * [ ] `src/sys/socket/mod.rs` (~~#746~~, #648)
 * [x] `src/sys/memfd.rs` (#

[2017-08-28 18:00] xd009642 commented on #724
Just going to close this issue as it was resolved in #749 merged today

[2017-08-28 18:00] #724 closed

[2017-08-30 14:12] Susurrus commented on #699
Resolved by #739.

[2017-08-30 14:12] #699 closed

[2017-09-01 10:47] roblabla opened #756 "Sending multiple ControlMessage in a single Unix Socket packet fails"
This is a continuation of #464 and #473. For some reason, the attached test still fails.

IIRC, there's a problem in the way we encode multiple Control Messages which causes the kernel to only consider the first Control Message sent. The specifics of where the bug is, I have no idea.

<details>
<summary>The failing test</summary>

[code]

</details>

[2017-09-03 00:22] asomers commented on #714
Ok, I've finally got it.  The problem with OSX is that `test_drop`, which `panic`s, somehow screws up OSX's AIO system, and causes subsequent tests to fail.  I fixed it by moving that test into its own process.  @chrisvest does this all look good to you?

[2017-09-03 03:13] Susurrus commented on #748
We're currently looking really good for this. The big stopper now is the rest of the FFI types for `socket`, otherwise I think we're all done.

[2017-09-03 13:38] chrisvest commented on #714
@asomers Yes, this looks good!

[2017-09-05 04:01] Susurrus commented on #714
@asomers @chrisvest Is this bug still unresolved even after the merging of #715?

[2017-09-05 05:02] chrisvest commented on #714
Wasn't sure about the process (close on merge, on release; closed by opener, by fixer), but yes my problem is solved with a git-dependency on nix.

[2017-09-05 05:02] #714 closed

[2017-09-08 04:38] casey commented on #634
My nightly builds started failing, and clearing the cache was the solution.

Thanks for posting this issue, along with how to fix it!

[2017-09-13 12:05] SanchayanMaity commented on #596
@Susurrus As a beginner in rust, is this something I can take up? Would you mentor me and point me in the right direction to get started?

[2017-09-13 13:26] Susurrus commented on #596
Yeah, id be happy to mentor and get you started. The first step is for you to read over the CONTRIBUTING.md document which should cover the basics. Additionally you should read the man pages for fallocate and make sure you understand the API. After those things Please post back here if you have any fundamental questions. Otherwise just go ahead and open a PR and we can iterate there.

[2017-09-14 05:07] Susurrus opened #766 "Upgrade to Bitflags 1.0"
This isn't straightforward because something about 944ee530cd04712021ee21a60f1ef59d2ab6d489 broke our `libc_bitflags!` macro with the following error:

[code]

So that should get figured out so we get nice constant scoping in our docs. Note that this will require use to require 1.20 as our minimum Rust version, but I think it's worth it for us to switch to that because of the significant documenta

[2017-09-14 08:31] n3f4s opened #767 "nix::unistd::write should take a signed integer"
Hi,

Currently, `nix::unistd::write` take, as second parameter, a `u8`:
[code]
but the unix API specify that it should take a void pointer (from `man 3 write`):
[code]

The main difference between those two prototypes is that the C version allow to give to `write` a negative integer. With the rust version, we can't give a negative integer to `write` which mean that we can't write, for example, `EO

[2017-09-14 14:35] Susurrus commented on #767
I don't believe this is actually correct behavior actually. `write()` writes bytes, it doesn't write integers. Now a byte is canonically a `u8`. As soon as you get to more complex types (even i32) you have to manage serialization details (big- versus little-endian for example). And the difference between an `i8` and a `u8` is really semantics, it just specifies what the bit patterns mean. I'm of t

[2017-09-14 15:14] asomers commented on #767
@Susurrus is right.  Closing this issue as a user misunderstanding.

[2017-09-14 15:14] #767 closed

[2017-09-14 16:09] marmistrz opened #769 "Update Rust to 1.15 in the buildbots"
(can't assign anyone from mobile)
This is needed by #666

[2017-09-15 07:19] marmistrz commented on #769
@asomers I can't assign it to you (permissions, probably)

[2017-09-18 09:42] marmistrz opened #770 "[idea] Use rustfmt in CI for style checks"
This could prevent many style review comments in PRs.

[2017-09-18 14:32] Susurrus commented on #770
I used to run this for my projects but found that it was unstable. I don't believe it's reasonable at this point to use rustfmt in CI, especially since it'll likely point out many errors unrelated to the current PR. I think this would be a good thing to do for 1.0, however. Same with running Clippy on all PRs.

[2017-09-29 04:27] asomers commented on #769
It should be working now, but we have to wait until somebody updates a PR to be 100% sure.

[2017-10-06 23:02] xd009642 opened #776 "Call to waitpid with pid of -1 can panic"
When calling `waitpid(-1, SOME(__WALL))` the following line in src/sys/wait.rs can cause a panic.

[code]

I'm aware I'm on an old version of nix, and it is on my task list to update. However, this code exists in the latest version as well. Can this panic still happen? And is it something that should be fixed or down to the application author to ensure that such a situation won't occur?

In my cas

[2017-10-14 05:50] GabrielMajeri opened #781 "Support `ioctl!(none, ...)` with an argument"
The KVM `ioctl` `KVM_GET_API_VERSION` is of type `none` / `_IO`. I've tried defining it as:

[code]

However, this fails with `EINVAL`, since the code in the kernel still [expects one `i32` parameter](https://github.com/torvalds/linux/blob/9aa0d2dde6ebd14e9d16e28081a24721d5b41cc8/virt/kvm/kvm_main.c#L3201), which should be 0.

`nix` should have some support for an additional parameter with `none`

[2017-10-14 15:55] Susurrus commented on #769
Is this resolved? We've had PRs happen since this.

[2017-10-14 15:59] marmistrz commented on #769
I wanted to add the trait which was dropped from #666 but I'm really busy in October, so I didn't have time to do it.

[2017-10-14 16:10] Susurrus commented on #769
@marmistrz But this issue is just about updating the BuildBots to 1.15. @asomers is that done so this issue can be closed?

[2017-10-15 00:01] asomers commented on #769
Yeah, it's done.

[2017-10-15 00:01] #769 closed

[2017-10-26 22:26] lilianmoraru opened #786 "Support for wasm and asmjs ?"
I try to cross-compile `tantivy` for the web with(I initially tried directly through "source emsdk_env.sh" + cross-compiling - same results but I wanted to mention the projects to make it easier for you to test) [`wargo`](https://github.com/lord/wargo),[2](https://lord.io/blog/2017/wargo/)(wasm) and [`cargo-web`](https://github.com/koute/cargo-web)(asmjs) and it seems that the current blocking poi

[2017-10-26 23:23] Susurrus commented on #786
I've wondered about support for nix, considering nix exposes APIs not covered by POSIX I always wondered if the JS crowd would try to compile it. I don't think any of us are against it, but we are also very much a scratch-your-own-itch library and "we" the devs do little active development outside of areas we care about, but do review PRs. We'd definitely would love PRs to support additional platf

[2017-10-27 16:51] Susurrus commented on #786
Would you be willing to help test and possibly mentor someone to do this? I could label it a mentored issue, and if you wanted to post it to the TWiR section on things people want help with, maybe it could actually be done relatively soon.

[2017-11-04 20:46] asomers opened #788 "AioCb::from_boxed_slice violates mutability guarantees"
An `Rc<Box<[u8]>>` does not have interior mutability.  It's supposed to be impossible to update its contents.  But `AioCb::from_boxed_slice` current allows you to.  It does it by casting a `*const c_void` to a `*mut c_void`.  Technically, that's a safe operation.  The only unsafe part is when you dereference the pointer.  But we have to do that in an `unsafe` block anyway, so the compiler never al

[2017-11-05 17:22] asomers commented on #679
I haven't seen any intermittent failures for a few months now, so I'm going to close the issue.  If any new intermittent failures pop up in the future, open a new issue.

[2017-11-05 17:22] #679 closed

[2017-11-05 17:28] asomers opened #791 "Release 0.10.0"
It's been more than three months since a release.  Let's do another.  The most important things to include IMHO are PR #790 because it fixes a build failure with newer versions of libc, and issue #788 because it's a backwards incompatible change.  We want to release #788 as soon as possible to minimize the number of affected users.

Add milestone 0.10.0 markers to any other issues or PRs that you

[2017-11-05 18:17] Susurrus commented on #791
I'd suggest we also modify our release procedure a little here. We have 3 things tracking this release, this issue, the milestone, and then tags for issues. The tags and the milestone are redundant, since things targetting a specific milestone have visual indicators. And the milestone itself can contain a description, much like you provided one here.

I'd also propose that whatever we figure out a

[2017-11-05 18:29] wginolas commented on #481
I am thinking about implementing this feature, but I am not sure where to add the cleanenv () implementation. Are there any other functions concerning environment variables?

[2017-11-05 18:39] Susurrus commented on #481
Cool, it'd be great to implement this! If you look at [the man page](http://man7.org/linux/man-pages/man3/clearenv.3.html), you'll see that `clearenv(3)` is a Linux-only API, but it has a few sibling functions that should also be implemented and are POSIX: `getenv(3)`, `putenv(3)`, `setenv(3)`, and `unsetenv(3)`.

As to where to put these functions, we normally put functions into files following t

[2017-11-05 19:45] Susurrus opened #793 "Resolve CI failures for beta-x86_64-unknown-linux-gnu"
I've just run `cargo test` using both the `beta` and `nightly` toolchains, and neither failed. I'm guessing this is a CI failure caused by caching. With beta failing, it's not doing us any good because we always ignore it. I suggest we work to resolve this failure and change our CI tests so that failures running the beta toolchain will fail the whole build.

[2017-11-05 19:54] Susurrus commented on #439
I believe this is now resolved with #749.

[2017-11-05 19:54] #439 closed

[2017-11-05 20:14] Susurrus commented on #341
Closed by #747

[2017-11-05 20:14] #341 closed

[2017-11-05 20:17] asomers commented on #793
It passes for me, too.  But I just cleared Travis's caches and restarted a recent build, and it failed again :( .  Any other ideas?

[2017-11-05 21:19] Susurrus commented on #264
Supplanted by #316 and #748.

[2017-11-05 21:19] #264 closed

[2017-11-05 21:27] Susurrus commented on #793
I'm wondering if it's reusing a cache from a previous Travis build from the same run, not one across runs. Though I don't really get why the caching causes problems in the first place either.

[2017-11-07 04:49] Susurrus commented on #793
For example, I wonder if running tests only on that platform would work.

[2017-11-07 05:48] #316 closed

[2017-11-07 05:51] Susurrus commented on #244
I believe this is resolved as of f067e73.

[2017-11-07 05:51] #244 closed

[2017-11-08 15:08] Susurrus commented on #516
Regarding my comment above, it doesn't appear that Rust can reach through multiple `From` types. It's likely we'll want to have `From` implementations between several types. The types used for relative time currently is:

  * `poll::poll()` - `uint` of ms
  * `event::kevent()` - `timespec`
  * `sys::epoll::epoll_wait()` - `int` of ms
  * `select::select()` - `timeval`
  * `sys::aio_suspend()` - `t

[2017-11-11 18:41] #254 closed

[2017-11-11 21:46] Susurrus commented on #776
I'm not too familiar with all the signal stuff in POSIX and the `nix` wrappers around that. From what you say I can't debug what's going on because I don't know the intermediate values.

I'm wondering if we couldn't get a solid test to run that fails which would let us validate any possible fix for this in the future.

[2017-11-11 21:59] Susurrus commented on #781
According to [the kernel docs](https://www.kernel.org/doc/Documentation/virtual/kvm/api.txt), there should be no argument to this ioctl. This agrees with the ioctl number definition `_IO(KVMIO, 0x00)` in `/usr/include/linux/kvm.h`.

I think you have a misunderstanding of the `ioctl` logic here, because the `0` in this context is not an argument. As in it's not data being passed to the `ioctl` call

[2017-11-12 05:56] GabrielMajeri commented on #781
I know, unfortunately the [actual code](https://github.com/torvalds/linux/blob/b39545684a90ef3374abc0969d64c7bc540d128d/virt/kvm/kvm_main.c#L3201) does check for the argument.

The same goes for KVM_CHECK_EXTENSION, defined as `_IO(KVMIO,   0x03)`, which nevertheless requires a [first parameter](https://github.com/torvalds/linux/blob/b39545684a90ef3374abc0969d64c7bc540d128d/virt/kvm/kvm_main.c#L32

[2017-11-12 06:58] posborne commented on #781
I'm a little confused here.  The actual system call to the kernel will always have a value for the "arg" (e.g. https://github.com/idunham/musl/blob/7e10f209fbc26a5179a4c0817c986e7c7bd327c9/src/misc/ioctl.c).  I would expect the libc implementation that we call to result in a 0x00 for this argument if the C `ioctl` function is called without any additional arguments.

You seem to indicate that this

[2017-11-12 10:41] GabrielMajeri commented on #781
@posborne The problem isn't with the argument being set to 0 or not, the problem is that KVM's ioctls require the mandatory argument to be something specific.

E.g. a normal `none` ioctl would be called like this in C:
[code]

KVM's ioctl is special:
[code]

[2017-11-13 17:53] posborne commented on #781
@GabrielMajeri I was thrown off by the link to the kernel for handling `KVM_GET_API_VERSION` which you also reference in your initial post.  For this one, the kernel is checking the arg but just checking that it is 0 which is what it should be by default.  I see no reason the generated code should not work in that case (but maybe I'm missing something).

I think I understand the basic problem here

[2017-11-13 19:09] GabrielMajeri commented on #781
Not sure if this should be reported as a bug, but it does not work if I do not pass a 0 explicitly. Indeed, the C code properly sets the default argument to 0, but Rust does not.

See this Rust [playground's](https://play.rust-lang.org/?gist=b2ca62fcf07a70338ecb840f6d42160d&version=stable) dissasembly: Rust does **not** clear the *edx* register if I do not pass an argument, meaning it will contain

[2017-11-15 03:22] Susurrus commented on #602
Closed by #774

[2017-11-15 03:22] #602 closed

[2017-11-27 16:49] mre opened #803 "Add support for BSD's copyfile?"
The [`copyfile`](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man3/copyfile.3.html) syscall is similar to Linux' `splice` command. It is supported on Darwin other BSDs.
It would be nice to integrate that into nix.

Is there an interest in supporting the command? If so, I could give it a shot and try a PR.

[2017-11-27 16:52] Susurrus commented on #803
I think that's a reasonable addition to `nix` and we would appreciate a PR! Note that `copyfile` doesn't appear in `libc` and your first step here will be to add `copyfile` to [`libc`](https://github.com/rust-lang/libc) first.

[2017-12-03 04:27] #766 closed

[2017-12-03 04:36] Susurrus commented on #793
Resolved with #805.

[2017-12-03 04:36] #793 closed

[2017-12-03 04:43] Susurrus commented on #586
@jonas-schievink @asomers Did this get cleaned resolved with the merging of #695?

[2017-12-03 09:00] jonas-schievink commented on #586
I believe the conclusion was that fork is safe but (eg.) allocating afterwards can cause dadlocks, which is still a footgun.

I don't know if a deadlock will always be the worst that can happen. Also, deadlocks will only happen when forking while another thread is allocating memory (or holding another lock), making this an annoying-to-debug race.

To further the issue, std lib functions generally

[2017-12-03 13:24] mwanner opened #809 "support address family AF_PACKET"
`SockAddr` cannot currently represent an address of the `AF_PACKET` family. Therefore, support for it has been deferred and excluded from #667, which adds the `getifaddrs` function.

[2017-12-04 05:34] #650 closed

[2017-12-05 06:13] Susurrus commented on #516
Some more notes:
 * `sys::epoll::epoll_wait()` uses an `int` to store `ms` units, but then uses `-1` and `0` as special values.
 * `select()` actually modifies the `timeout` argument.
 * `pselect()` uses a `const timespec *`

[2017-12-05 06:29] Susurrus commented on #516
I think this discussion should only attempt to address the `TimeSpec` and `TimeVal` types here. My current proposal is change functions that take `TimeVal` or `TimeSpec` to instead take `Into<TimeVal>` or `Into<TimeSpec>` where possible (`select()` uses it as an output value, so it couldn't with this). Then we can also implement `From<Duration>` for both of these types to facilitate passing `Durat

[2017-12-05 06:32] Susurrus commented on #593
This was resolved with the merge of #801.

[2017-12-05 06:32] #593 closed

[2017-12-05 06:56] #664 closed

[2017-12-05 15:43] Susurrus commented on #487
`Errno` already implemented `PartialEq`, but `Eq` will be added by #807. Until that's merged, though, we'll leave this issue open.

[2017-12-05 15:47] Susurrus commented on #530
All supported platforms are running safely in CI, so I think this issue can be closed.

[2017-12-05 15:47] #530 closed

[2017-12-05 15:47] Susurrus commented on #277
Closing this in favor of #516 which has some more discussion in it.

[2017-12-05 15:47] #277 closed

[2017-12-05 22:51] LuoZijun opened #810 "function name"
Line306: https://github.com/nix-rust/nix/blob/master/src/sys/socket/addr.rs#L306
Line727: https://github.com/nix-rust/nix/blob/master/src/sys/socket/addr.rs#L727

change name to `to_string` is better ?

[2017-12-08 16:32] #487 closed

[2017-12-09 04:47] #669 closed

[2017-12-09 18:43] #740 closed

[2017-12-09 20:18] jonas-schievink commented on #810
The `ToString` trait already provides a `to_string` function which does the same. It should already be implemented since those types implement `Display`, so I think `to_str` can just be removed.

[2017-12-09 20:45] Susurrus commented on #810
I was actually looking through those types today and they could really use a refactoring. I believe we might be able to reuse types from `std` and get rid of some of our custom types. I was going to write an issue for it, but got lazy.

[2017-12-13 16:27] Susurrus commented on #788
@asomers Any progress with this? Been over a month and if this is trivial, I know you wanted the 0.10 release was supposed to happen quickly. It's only blocking on this.

[2017-12-13 16:37] asomers commented on #788
The problem is a good solution isn't trivial.  It's a question of what we want a good `AioCb` interface to be.  Adding a new type of `Keeper` that safely allows mutable access is easy, but would pull in several dependent crates.  I'm hesitant to do that.  But if we don't do that, then we may as well remove the `Rc<Box<[u8]>>` type from `Keeper`, because it isn't very useful if it's immutable.  Tha

[2017-12-13 17:57] Susurrus commented on #788
Why is there a problem with pulling in new dependencies? If that allows us to offer a nice and safe API, what are the technical reasons not to do so?

[2017-12-13 18:10] asomers commented on #788
Bloat.  Bloat is the only reason.  BTW, the three required crates would be bytes, iovec, and byteorder.

[2017-12-13 20:42] Susurrus commented on #788
Bloat isn't a technical reason tho. What defines bloat and why is it bad? It's hard to make a technical decision when some of the information you're judging to make that decision isn't technical. So until I hear technical reasons, I'm inclined to say that's the best solution as I see no technical downsides to its implementation.

[2017-12-16 00:51] LuoZijun commented on #500
[meh/rust-tun](https://github.com/meh/rust-tun)

[2017-12-16 00:55] LuoZijun commented on #809
@mwanner https://github.com/nix-rust/nix/pull/813

[2017-12-17 16:41] SanchayanMaity commented on #644
@Susurrus killpg has two signatures.

[code]
How to handle this? Or should the pid_t signature alone be sufficient? Do I understand correctly that the below change in rust libc alone is sufficient to carry this forward?.

[code]

[2017-12-17 18:37] asomers commented on #644
AFAIK `pid_t` is equal to `int` everywhere.  But POSIX says that the first argument should be `pid_t.`.  Your suggested patch looks correct to me.

[2017-12-19 15:34] Susurrus commented on #791
@asomers I'd like to make the 0.10 release happen soon here as it updates up to bitflags 1.0, which is ended up being a big breaking change throughout the ecosystem, so I'd like us to be in sync with that. Any progress on #788? Or do you know when you might be able to get to it?

[2017-12-19 15:39] asomers commented on #791
Yeah, I've got #788 working.  But before I submit a PR I want to make sure that everything is hunky-dory in the dependent crates too.   Hopefully I can find some time during the holidays to finish it.

[2017-12-20 15:02] #748 closed

[2018-01-03 05:36] jethrogb commented on #781
Same issue with NBD ioctl API:

https://github.com/torvalds/linux/blob/9aa0d2dde6ebd14e9d16e28081a24721d5b41cc8/drivers/block/nbd.c#L1151
https://github.com/torvalds/linux/blob/9aa0d2dde6ebd14e9d16e28081a24721d5b41cc8/include/uapi/linux/nbd.h#L20

[2018-01-03 05:39] jethrogb opened #824 "ioctl write_int doesn't support passing long integers"
The Linux kernel API always passes the ioctl parameter as an `unsigned long`. However, the `ioctl!` macro always uses `c_int`. It should probably use `c_long`/`c_ulong`/`usize` instead, in order to pass all possible values.

[2018-01-03 05:45] jethrogb commented on #781
Why? You even linked to code that explicitly doesn't do that.

[2018-01-03 05:51] GabrielMajeri commented on #781
@jethrogb @posborne It looks like this is *not* an isolated issue, I am reopening this issue until we determine how `nix` should handle this.

[2018-01-03 06:14] jethrogb commented on #781
Looking at the [original commit that added `_IO` to Linux](https://github.com/schwabe/davej-history/blob/a35eb8daf49c32bb27cad72ca7c0ed73e6426458/include/linux/ioctl.h#L10-L12), it's not clear to me that `_IO` with an integer argument is wrong. According to that comment, the encoded size is that of the *user buffer area*, which obviously doesn't exist when passing an integer argument.

[2018-01-03 17:02] Susurrus commented on #781
How is this not covered by the `bad write_int` `ioctl` variant that `nix` exports? This definitely seems to only be applicable to "bad" ioctls, so those variants should be used here.

[2018-01-03 17:32] Susurrus commented on #781
Okay, that didn't really help me understand anything. I'm unclear if people in this conversation know what the correct solution is here. It sounds like we understand the problem plenty well enough, so does anyone have a proposed solution? My main question is what's wrong with the solution of specifying 0 as the 3rd argument to `libc::ioctl` for both `none` and `bad none` ioctl types?

[2018-01-03 17:50] jethrogb commented on #781
I don't think that helps anyone. ioctls that don't require an integer argument don't care about the value passed. ioctls that do are not going to be satisfied with passing only 0. ioctls that “don't” require an integer argument but explicitly check it's 0 are really ioctls that do take an integer argument.

The issue is there appear to be two ways to specify ioctls that take an integer argument (a

[2018-01-03 17:53] GabrielMajeri commented on #781
Passing a 0 would fix my and @jethrogb' issues, but we don't know if it will work for all ioctls. In the future someone might need to pass a 1, what will we do then?

It would be great if Rust had function overloading (so we could have a function with an extra parameter for `ioctl!(none)`), or default arguments (so we don't break existing code), but since it doesn't, I don't see an *elegant* solut

[2018-01-03 17:57] jethrogb commented on #781
@GabrielMajeri passing 0 would **not** fix my issue. I need to pass an argument.

I don't think that helps anyone. ioctls that don't require an integer argument don't care about the value passed. ioctls that do are not going to be satisfied with passing only 0. ioctls that “don't” require an integer argument but explicitly check it's 0 are really ioctls that do take an integer argument.

The issue

[2018-01-03 18:12] Susurrus commented on #781
I still don't get why `bad write_int` isn't appropriate for all the use cases that have been described in this issue. These are seem "bad" to me. So for all these use cases `nix`'s exported APIs are suitable, though not as convenient, but that's always been the case for ioctls that don't follow the modern conventions.

[2018-01-03 18:15] jethrogb commented on #781
I'm trying to make the argument that they're *not* bad and it is what's currently supported through `write_int` that *is* bad.

Also, the `io!` macro is not documented so it's not even clear how to use the current API.

[2018-01-03 18:17] Susurrus commented on #781
Ignoring whether these are bad or not, you're saying that you can't use `write_int`? Why not?

[2018-01-03 18:18] jethrogb commented on #781
`write_int` uses `_IOW` with a type of `int`. These ioctls need `_IO`.

[2018-01-03 18:19] Susurrus commented on #781
No, I meant `bad write_int`, which is what I thought you were referring to above. Of course `write_int` won't be suitable here.

[2018-01-03 18:20] jethrogb commented on #781
Because the `bad` set of macro invocations require you to specify the raw ioctl number, whereas these ioctls are specified using the standard `_IOx` macros.

[2018-01-03 18:21] Susurrus commented on #781
Which you can get by writing a little C program and printing it out, or you can use the `io!` macro just like the equivalent `_IO()` C macros.

[2018-01-03 18:36] Susurrus commented on #781
This does have me thinking again about how we use a single `ioctl!` macro, which makes the docs really bad. I'm looking to improve our docs right now and I think it makes sense to refactor all this into each ioctl type having it's own macro.

[2018-01-06 11:06] Thomasdezeeuw opened #827 "Remove return value from `pause`"
Currently `nix::unistd::pause` returns an `nix::Error`, however it can only return `EINTR` as an error, which is the point of pause. It pauses until a signal is received. So I suggest to remove the return value completely and document that `pause` only returns if the process receives a signal.

If you want to be really safe maybe an assert can be added to check if the error is really `EINTR`, but

[2018-01-06 23:38] mre commented on #803
So I created [this pull request in libc](https://github.com/rust-lang/libc/pull/886), but it's currently failing. I know, it's not the same project, but maybe you have an idea on how I could fix it?

[2018-01-07 00:19] Susurrus commented on #827
Yes, that seems like a nice ergonomics improvement! Care to submit a PR for it?

[2018-01-07 22:54] ignatenkobrain opened #831 "statvfs is not supported on ppc64/ppc64le/s390x/aarch64"
Any reason for this? It seems that statvfs() is available on all platforms in glibc and I don't see any restrictions on it in libc crate...

[2018-01-07 22:54] ignatenkobrain commented on #831
See https://github.com/stratis-storage/stratisd/issues/708

[2018-01-07 23:04] Susurrus commented on #831
Then this should be a simple fix to change the config directives to enable it. Usually if functionality is missing for a platform it's an oversight, though we do our best to make sure new features apply to all appropriate platforms.

[2018-01-07 23:05] ignatenkobrain commented on #831
@Susurrus I will double-check libc crate and will send patch here.

[2018-01-08 02:35] Susurrus commented on #824
Where is this specified for Linux? And if this is correct, then why wouldn't `c_ulong` be the most appropriate choice out of those 3 options? Only one should be used, but you didn't clarify which is the best option in your statement.

[2018-01-08 02:37] Susurrus commented on #781
I'm going to go ahead and close this because I don't believe that `ioctl!(none, ...)` should take an argument, you're looking for `ioctl!(bad write_int, ...`) for your use case here. I'll also be CCing everyone here on a PR I'm filing today that will clean up the API a little and provide better docs to make this more clear.

[2018-01-08 02:37] #781 closed

[2018-01-11 04:03] #809 closed

[2018-01-16 14:40] Thomasdezeeuw commented on #516
@Susurrus any progress here? I could really use this and I'm willing to lent a hand to implement this.

[2018-01-16 14:42] Thomasdezeeuw commented on #827
Closed by #836.

[2018-01-16 14:42] #827 closed

[2018-01-16 15:12] SanchayanMaity commented on #644
killpg in rust-lang/libc#879 is now merged.

[2018-01-16 15:38] Susurrus commented on #644
@mmstick @SanchayanMaity With `killpg` in libc, please feel free to fille a PR adding this to all relevant platforms.

[2018-01-16 15:45] Susurrus commented on #516
My progress is what you see tracked here; I started exploring this, but didn't go very far because I don't have a specific use case for it and our examples are trivial enough, so designing a better API here is mostly guesswork for me. If you have specific use case and can iterate on a nice API, I'd really appreciate you driving this issue. I think my last comments are the direction this should go,

[2018-01-16 16:20] Thomasdezeeuw commented on #516
I currently need `nix::sys::event::kevent(_ts)`. It would be nice if that could accept an `Option<Duration>`, rather then `usize` or `Option<timespec>`. In the future I'll likely need `epoll_wait` as well.

Should I create a PR that changes that? I know more function use timespec, but it will be a start at least.

[2018-01-16 17:05] Susurrus commented on #516
What I'd like to have is a zero-cost implementation for using the same datatype across different functions. So if you have a `timespec` already, there is no-cost in passing it to any of these functions that take a `timespec` already. So I'd much rather function take an `Into<Timespec>` and we can implement that for `Duration`. I think a PR that does that for `kevent_ts()`, `aio_suspend`, and `psel

[2018-01-16 18:01] Thomasdezeeuw commented on #516
Created an intial PR in #838.

[2018-01-21 16:38] Susurrus commented on #824
@jethrogb I don't understand enough to fix this, so I need some more information from you. Specifically a test case that you know is failing currently.

Linux should actually be using a `c_ulong` type for this according to this code in `src/sys/ioctl/platform/linux.rs`:
[code]

[2018-01-21 16:39] Susurrus commented on #824
Sorry, actually looking at the code I do see the size of a `c_int` is used in generating the ioctl request code, so maybe that's the error you're indicating? I'm going to wait for more details from you before digging into this further.

[2018-01-21 16:44] Susurrus commented on #360
Coming back to this as I'd like to fix up some bugs, I think having both an unsafe and safe-but-restricted clone makes a lot of sense here. @arcnmx it seems like you have an understanding of what the API should be, would you be able to whip up a PR for this?

@bugaevc Is there anything we should do to the existing `clone()` function besides make it unsafe? I'd also propose a rename to `clone_unsaf

[2018-01-21 16:59] Susurrus commented on #776
@xd009642 What platform are you on, as the code is a little different from Android/Linux than other platforms? Additionally have you dug into debugging this anymore at all? It'd be really great to get a reduced test case into our test suite so we can be assured we've fixed the issue once we do.

Part of the problem here is that there are 4 different types of calls to `waitpid()`:

- wait for any c

[2018-01-21 17:18] xd009642 commented on #776
Sorry I forgot all about this issue! I'm on Linux running Fedora. I think I was probably misusing PIDs and continuing or stopping the parent PID instead of the one which issued the stop as I was working on ptrace stop/step on multi-threaded programs.

So assuming I was misusing waitpid, I guess this raises the question of whether there should be unwraps in nix? Especially if they can cause panics,

[2018-01-21 17:25] Susurrus commented on #776
Well glad you got it sorted out. Part of the problem is that you weren't on a recent version of `nix`, as you alluded to from the start. #741 actually addressed this issue for this piece of code. So I'd suggest that you update all of your projects to use the latest `nix` release, as we do get these things fixed regularly.

I'm going to close this issue, but I'll open a new one about revising the A

[2018-01-21 17:26] #776 closed

[2018-01-21 17:28] Susurrus opened #840 "Revise waitpid API"
There are 4 different types of calls to `waitpid()`, all of which use a different range of a `c_int` to be expressed. Instead an enum type should be used that includes:

- wait for any child process with a specific process group ID
- wait for any child process
- wait for any child process whose process group ID is equal to that of the calling process
- wait for the child with a specific process ID

[2018-01-21 17:51] jethrogb commented on #824
`ioctl_num_type` is the type used for the ioctl number, not the parameter. It might be ok to reuse it for the parameter? Not sure if it's consistent across platforms.

The problem is with this line https://github.com/Susurrus/nix/blob/7eb8dd1ccf5ec8281076e9aa8f1598e0e8bcbd68/src/sys/ioctl/mod.rs#L544

[2018-01-21 17:55] Susurrus commented on #824
I still don't see any documentation suggesting what youre saying here. The passed integer must be equal in size to a pointer type because of the way ioctl is defined. We'll need to sort out what's appropriate for each platform, and we'll need docs for that. Can you link to any?

[2018-01-21 17:58] jethrogb commented on #824
https://github.com/torvalds/linux/blob/5d38f04/include/linux/fs.h#L1702-L1703

[2018-01-21 18:58] bugaevc commented on #360
Yes, we could make it accept the same kind of closures `thread::spawn` accepts: `Send + 'static`. That itself would be safe, and if anyone wants to use a non-`Send` or non-`'static` closure they can do the `unsafe` dance on top of that (e.g. by casting any reference to and from a `*const u8`).

But then if a `clone()` invocation doesn't use `CLONE_VM`, it can be safely used with a non-`Send` closu

[2018-01-21 19:43] bugaevc commented on #360
Something like this:
[code]

[2018-01-23 01:48] Susurrus commented on #788
Fixed in #820.

It looks like GitHub doesn't auto-close issues when referenced from commits, only PR bodies. Lame.

[2018-01-23 01:48] #788 closed

[2018-01-23 01:50] Susurrus commented on #791
@asomers I'm deferring to you as the release manager what the next steps are. I think we're ready for a release. I'd also suggest we use [cargo-release](https://crates.io/crates/cargo-release) instead of the process outlined in `RELEASE_PROCEDURE.md`, as it's quick and should minimize manual errors. As part of that, I'd suggest we update that document as well so it can be relied on (I'd also like

[2018-01-24 03:22] Susurrus opened #842 "Termios API does not allow for getting or setting arbitrary baud rates on BSDs"
The BSDs don't need to use the baud rate constants and instead can specify the baud rates directly. Unfortunately this isn't exposed through `nix`'s APIs.

I think the best option here is to change the termios API for the BSDs and add `From<BaudRate> for u32`, then you could call both functions by using `rate.info()`.

[2018-01-26 06:03] #842 closed

[2018-01-26 13:32] mexus commented on #577
Sorry for bringing up an old issue, but it happened so I need the same feature :)

Basically the issue is that the macro `sockopt_impl!` is not exposed, which will help a lot.
But it's not the only thing.

For example, for `SO_ATTACH_FILTER` we need to pass an object of a special type, which obviously does not implement [Set](https://docs.rs/nix/0.9.0/src/nix/sys/socket/sockopt.rs.html#193). But t

[2018-01-26 14:58] Susurrus commented on #577
Is there a reason we can't provide a `sockopt_impl!` within `nix` that exposes `SO_ATTACH_FILTER`? This has been the need for both you and @code-ape, so I'd suggest we start going down this route. We'd welcome a PR for it.

If we were to expose `sockopt_impl!` and those other traits, we'd need them all documented much more extensively. If you'd like to help with this effort, we welcome all PRs!

[2018-01-26 16:15] mexus commented on #577
That's great, thanks! 👍

I'll try to make it happen by the beginning of next week.

[2018-01-26 19:51] asomers commented on #791
Completed by PR #844 and PR #845 .  I didn't use cargo-release, because that doesn't take care of updating our CHANGELOG and README files.  It isn't clear how to do those in combination with cargo-release.

[2018-01-26 19:51] #791 closed

[2018-01-26 20:11] Susurrus commented on #791
Then I'd suggest we file a bug with cargo-release as it'd be nice for us to have a simpler release process.

I'd also be curious if we could cut down on the steps we do that involve bors, as that can be a pain with Travis' Mac builds.

[2018-01-26 20:32] asomers commented on #791
Instead of cutting down on bors, how about we cut down on Travis instead?  Is there a way to tell Travis not to bother building a PR if the only changed files are pure documentation, like the README?

[2018-01-26 21:32] posborne commented on #791
I doubt there is anything builtin to do this.  You would have to look at the diff and terminate early if you thought that change was not worth testing.  Here's one example I was able to find (on react) that does this: https://github.com/facebook/react/pull/2000/files

[2018-01-26 21:41] asomers commented on #791
It's a little more manual, but it looks like we can tell Travis not to build something by putting `[ci skip]` in the commit message.  https://docs.travis-ci.com/user/customizing-the-build/

[2018-01-26 21:49] Susurrus commented on #791
There isn't yet, but Appveyor has it, so that's cool. See travis-ci/travis-ci#6301

[2018-01-29 19:16] mexus commented on #577
(I went for the second option)

[2018-01-29 20:35] ggriffiniii opened #850 "add getsid"
add getsid wrapping the equivalent libc call.

[2018-01-30 00:33] Susurrus commented on #850
It is not necessary to create an issue and then a PR for it. If you plan to file a PR, go ahead and file one and skip the issue, it's just extra email noise for us maintainers.

I'll take a look at your PR this week.

[2018-01-30 17:09] Susurrus commented on #824
I couldn't quickly find the declaration of `ioctl` on Android to find the `ioctl_num_type`, but I'd assume it's `c_int`. And `musl` shouldn't matter since this is a Linux kernel API which is independent of the `libc` being used. So I agree with you there. I wonder why it was ever like this to begin with?

I'll fix this and add also specify the parameter as `c_ulong` as well in #833.

On BSD it loo

[2018-01-31 02:32] Susurrus commented on #824
And the fix to this might not be too easy because:
[code]

So are those 3 `c_ulong` ioctl declarations wrong then?

[2018-02-01 11:36] mexus opened #854 "`SockProtocol` lacks protocols"
Currently the only protocols supported in [`SockProtocol`](https://docs.rs/nix/0.10.0/nix/sys/socket/enum.SockProtocol.html) are `Tcp` and `Udp` (**for linux**), while there are many more.

For example, I'm working with raw sockets and I need to specify a special  `ETH_P_ALL` protocol (`man 7 packet`), and there is one important thing about it: its number has to be presented in network byte order

[2018-02-02 08:55] LuoZijun opened #855 "Why remove module `ifaddrs` ?"
@Susurrus

See commit [Line65](https://github.com/nix-rust/nix/commit/d1be45d8405c98f8f9c222cf004de46e8685826e#diff-b4aea3e418ccdb71239b96952d9cddb6L65)

[2018-02-03 17:01] #855 closed

[2018-02-06 16:11] sevagh opened #858 "Trouble with nix::unistd::isatty function"
Hello,

I want to check if stdin and stdout are TTYs in my code.

I replaced libc's unsafe check with nix's safe check:

[code]

However, it doesn't work the same as libc did. Am I using the Nix function wrong?

I only tested this on Linux. The code is here: https://github.com/sevagh/pq

[2018-02-06 16:16] asomers commented on #858
What do you mean "doesn't work the same?"  What did you expect `nix::unistd::isatty` to return, and what did it actually return?

[2018-02-06 16:18] sevagh commented on #858
Libc thinks that stdin/stdout are TTYs in a situation where they are TTYs, but Nix doesn't.

Nix:

[code]

Libc:

[code]

[2018-02-06 16:21] sevagh commented on #858
My terminal is Alacritty and this is running within Tmux (if any of those make a difference).

[2018-02-06 16:35] asomers commented on #858
Try using either a debugger or `println!` to show the return value and errno of `libc::isatty` from within `nix::unistd::isatty`.

[2018-02-07 05:15] sevagh commented on #858
Totally my mistake. In my head I inverted the true/false cases of `isatty`.

[2018-02-07 05:15] #858 closed

[2018-02-19 13:35] nox commented on #468
@Susurrus Well that `cargo-publish` behaviour doesn't seem to be the one that most projects follow, so it may be a bad default on its part.

[2018-02-19 13:36] nox commented on #468
Actually I'm confused… What do you mean by `cargo-publish` defaulting to `-pre` for the next version?

[2018-02-19 17:14] Susurrus commented on #468
Sorry, I meant to indicate `cargo-release` as the tool that does this. And I believe you can configure the suffix, though I don't believe this is worth changing. There are no known risks of keeping `-pre` in the version name, as it's been like that for a long time now without issues.

We should clarify this in `RELEASE_PROCEDURE.md`, however before closing this.

[2018-02-19 17:16] nox commented on #468
I wouldn't say "without issues", given there has been at least 2 issues about the release procedure being weird (#363 and this one), and again this is the only crate I know of which does that anyway.

[2018-02-19 19:25] Susurrus commented on #468
I agree that we can remove this step so I filed #860.

[2018-02-21 00:40] kristate commented on #244
@kamalmarhubi @Susurrus
My apologies, it seems that `SOCK_NONBLOCK` does not exist in darwin.
I will stick to using `fcntl()` and friends, thanks.

[2018-02-21 01:13] kristate opened #861 "Non-blocking on macOS / iOS"
Thanks to everyone for your hard work.

`nix::sys::socket::socket` provides a fourth parameter that ends-up calling `fcntl()`and friends but seemingly does not support macos.

What is the best way to open a non-blocking socket on macos/ios using nix?

ref: https://github.com/nix-rust/nix/blob/v0.10.0/src/sys/socket/mod.rs#L684-L718

[2018-02-21 01:14] kristate commented on #244
@kamalmarhubi @Susurrus
Now I'm curious: `nix::sys::socket::socket` provides a fourth parameter that calls `fcntl()` but seemingly does not support macos. Opened an Issue (#861) for clarification. thanks.

[2018-02-21 02:40] kristate commented on #854
I am also interested in `ETH_P_ALL`

[2018-02-21 02:55] Susurrus commented on #861
First off, your welcome! Hopefully even with this missing/unknown functionality you've found `nix` useful.

Unfortunately `nix` isn't the best place to start looking for answers to questions like these. `nix` doesn't have the manpower to support these questions, instead outsourcing that work to existing documentation for these C APIs. Please search for other sources that provide the documentation

[2018-02-21 02:55] #861 closed

[2018-02-21 03:10] Susurrus commented on #850
Closed by #851.

[2018-02-21 03:10] #850 closed

[2018-02-21 03:11] kristate commented on #861
@Susurrus I understand that you are trying to be professional in your answer. I know there is a lot of work to be done with both `libc` and and `nix` and I am here to help. Please reopen this issue -- as it is an issue:

[code]
has a giant cfg gate on it that doesn't support macOS even though macOS does support OFlag::O_NONBLOCK

In 0.9.0 it was okay to use `SockFlag:: SOCK_NONBLOCK` on macOS, but

[2018-02-21 03:12] Susurrus commented on #854
Why don't we just account for the network byte order translation within the `nix` wrapper rather than make the user do it? And if you provided an example of how you'd like to use the API, I'm sure we could hash something out that wouldn't be hard to implement. Unfortunately we don't have the manpower to implement requested features like this and rely on contributors to do that heavy lifting.

[2018-02-21 03:14] Susurrus commented on #861
You weren't clear in your original question, both here and in the other PR or issue you commented on, so I wasn't sure if a) it should work on mac/ios and doesn't or b) you weren't sure how these APIs worked at all. I assumed it was b because of the way you phrased it originally. If it's indeed a), especially if it's a feature regression, we'd definitely welcome a PR fixing it! No need to reopen t

[2018-02-21 12:20] ctrlcctrlv opened #862 "`getpwnam` is missing"

[2018-02-22 00:55] Susurrus commented on #862
Is this a request to add that functionality or are you planning on adding it?

[2018-02-23 04:49] ctrlcctrlv commented on #862
Hi,

I was planning on implementing it. There are a few related functions that are also missing, e.g. `getgrnam`.

I haven't implemented the others yet, but I have finished this one. (Tested only on FreeBSD.)

[code]

[2018-02-23 08:45] kristate commented on #854
Update: Working on PR

[2018-02-25 09:24] ctrlcctrlv commented on #862
@Susurrus I notice my PR #864 has been ignored while later PR #865 has received many comments. Have I done something seriously wrong? Is my code that bad that there are so many errors no one wants to review it? :-(

[2018-02-26 07:57] kristate commented on #862
@ctrlcctrlv Thanks for your hard work!
I did an informal review on your code.
I would appreciate if you could look over it.

[2018-02-28 05:07] Susurrus commented on #862
@ctrlcctrlv To address your question directed to me, there isn't a real order to how we triage PRs or even code. Sometimes older things come to the top of my queue because I'm more familiar with the API it's implementing or even because it was the most recent email. So pinging is definitely the right idea.

@kristate Thanks for reviewing their code! We heavily rely on the community to help us. I s

[2018-03-04 23:15] asomers opened #870 "lio_listio needs to use unique storage locations for the list argument"
When delivering notifications via `kevent`, the kernel treats the address of the `list` argument as a the `ident` of the event.  Within the kernel, `ident` is treated as a unique identifier.  So there can only be one event with a given `ident` value in the kernel at any one time.  However, Nix's `sys::aio::lio_listio` allows the user to supply a temporary `Vec` as the `list` argument.  If the user

[2018-03-07 18:10] gnzlbg commented on #281
I can't use `nix` (and need to use `libc` instead) because it doesn't work with `no_std`. This means that if I use `nix` I cannot use, amongst others, `MemorySanitizer`, to test the correctness of safe abstractions over `unsafe` code.

[2018-03-07 18:15] asomers commented on #281
Are you talking about https://github.com/japaric/rust-san ?  That doesn't mention anything about `no_std`.  Why do you need `no_std` to use it?

[2018-03-07 18:16] gnzlbg commented on #281
The MemorySanitizer requires compiling everything except libc with `-fsanitize=memory`. If I include `std` (or `core`), I would need to recompile those as well, but that is not easily done (without `xargo`), and takes too long for travis-ci.

So what I do is use `libc` with `--no-default-features`.

[2018-03-21 08:36] afck opened #875 "mlockall/munlockall"
It would be great if nix had mlockall/munlockall in addition to mlock/munlock.

I'd be happy to try and add it. Or is there a specific reason why it was omitted?

[2018-03-21 15:47] asomers commented on #875
It was only omitted because nobody added it yet.  Feel free!

[2018-03-21 15:50] asomers commented on #281
Interesting use case @gnzlbg .  Would you like to try adding `no_std` support to Nix?

[2018-03-21 15:57] gnzlbg commented on #281
I have my hands full with `stdsimd` already and for the crates where I need these I can just use `libc` already, so it isn't high priority for me. Only a nice to have thing.

FWIW, `nix` would have to expose `libc`'s `use_std` feature (and enable it by default), and if `nix` only uses `std` facilities exported by `core` the following might just work:

[code]

[2018-03-29 04:07] #875 closed

[2018-03-31 00:46] kpcyrd opened #878 "Add getrlimit(2)"
I'm currently looking for a way to increase the maximum number of open file descriptors, it seems there's no crate yet besides the raw syscall in `libc`.

There was #364 which didn't get merged though due to some other setrlimit related problems.

[2018-03-31 00:58] asomers commented on #878
If you're interested, feel free to pick up the PR and finish it.  Also, is this issue titled correctly?  "uname -n" has nothing to do with file descriptors.

[2018-03-31 04:08] kpcyrd commented on #878
@asomers you're correct, I keep confusing those two, thanks.

Do I need to implement all of setrlimit to get the PR merged? It seems there have been some problems with other resources unrelated to fds.

My first guess for the api would be:
[code]

[2018-04-03 13:58] asomers commented on #803
Closing this issue, because the poster closed the upstream libc issue as well.

[2018-04-03 13:58] #803 closed

[2018-04-07 05:02] #870 closed

[2018-04-11 15:11] Susurrus commented on #824
Fixed by 5dad660fd4b53918214dc741bf0c2e2b20b655db, which is now in master.

[2018-04-11 15:11] #824 closed

[2018-04-13 04:35] morrowa commented on #690
I've taken the liberty of submitting a PR for this issue as #883.

Please review it carefully as I didn't have a BSD handy upon which to test!

[2018-04-17 04:13] morrowa commented on #560
This is somewhat confusing as there is an identically named method in BSDs (including [FreeBSD](https://www.freebsd.org/cgi/man.cgi?query=sendfile&sektion=2) and [Darwin](https://developer.apple.com/legacy/library/documentation/Darwin/Reference/ManPages/man2/sendfile.2.html)) which has different semantics.

The BSD `sendfile` copies the contents of a file descriptor to a streaming socket whereas t

[2018-04-17 15:03] asomers commented on #560
They're not as different as they sound.  A streaming socket, after all, _is_ a file descriptor.  Still, there are important differences, like the `sf_hdtr` structure that is absent on Linux or the `sbytes` argument that is absent on OSX.  I agree with @kamalmarhubi that it would probably be best for Nix to wrap `sendfile` in its native form for each operating system.  Combining them all into a sin

[2018-04-17 17:12] morrowa commented on #560
OK! Would wrapping the Darwin syscall implementation have any value? E.g. [what Go does in their syscall package](https://golang.org/src/syscall/syscall_darwin_amd64.go?h=sendfile#L53)?

[2018-04-17 19:03] asomers commented on #560
Oh, I don't want to get into the business of calling bare syscalls.  That's caused a lot of trouble for Go.  Better to use the C APIs.

[2018-04-17 19:11] kamalmarhubi commented on #560
I agree on the above. We don't have the resources to deal with the potential issues that come from bare syscalls.

I think the only time we should consider it is where the libc doesn't expose a wrapper. The cases I know of in nix are the linux calls `memfd_create` and `pivot_root`, for which glibc has no wrapper. (Well, apparently it does as of 2.27, but at two months old that's *way* too new.)

[2018-04-17 20:04] morrowa commented on #560
Sounds good. Could we modify this ticket to include both Darwin and the other BSDs, since it's the same API? I'll get started on this tonight.

[2018-04-19 00:02] kccqzy opened #885 "No Debug trait for PollFd"
I was trying to debug my program that uses poll(2) and discovered that it would be more convenient if nix supported Debug trait for PollFd.

The error message is

    `nix::poll::PollFd` cannot be formatted using `:?` because it doesn't implement `std::fmt::Debug`

Is there any reason we don't want this trait? It seems like to me, every struct should have the Debug trait to ease printf-debugging a

[2018-04-19 00:44] asomers commented on #885
libc has a policy of not deriving Debug for any struct.  That in turn prevents Nix from deriving Debug.  So Nix's Debug impls usually have to be hand-written.  That's the case for `PollFd`.  It would be pretty easy to add one, though.  If you submit a PR, I'll accept it.

[2018-04-20 00:01] dowoncha opened #886 "gettimeofday"
http://man7.org/linux/man-pages/man2/gettimeofday.2.html

Is there a nix implemented way to call this?

[2018-04-20 01:06] kccqzy commented on #885
Thanks! I've written a PR.

[2018-04-20 22:51] kccqzy commented on #885
Thanks! I'm closing this issue because it's been resolved.

[2018-04-20 22:51] #885 closed

[2018-04-21 11:52] aep opened #888 "TCP_KEEPIDLE and TCP_KEEPINTVL are missing from nix::sys::socket::SetSockOpt"

[2018-04-22 21:45] mcginty commented on #690
Should this be closed now that the PR is merged?

[2018-04-22 21:46] asomers commented on #690
Yep.

[2018-04-22 21:46] #690 closed

[2018-04-22 21:50] mcginty opened #890 "IPV6_RECVPKTINFO and IP_PKTINFO support"
This feature would include both new SockOpts and new ControlMessages to be used with `sendmsg` and `recvmsg`.

I have an unclean patch here: https://github.com/nix-rust/nix/compare/master...mcginty:ipv6-pktinfo, and will be happy to turn this into a nicer PR if the devs think it could get merged.

The only really gross part is that `libc` doesn't have the constants for `IPV6_RECVPKTINFO` or `IP_PK

[2018-04-22 21:54] asomers commented on #886
Not in Nix.  But `std::time::SystemTime::now` does just that.

[2018-04-22 21:59] asomers commented on #890
You really shouldn't be afraid to update libc.  It's quite easy to get patches accepted there.  Once you do that and fix portability issues, I think this would be a fine feature to add.

[2018-04-22 22:00] mcginty commented on #890
@asomers sounds good. I'll keep this issue open since it's still a feature request for `nix`, and will work on a libc PR.

[2018-04-23 01:39] #886 closed

[2018-04-23 01:58] mcginty commented on #890
pending merge of https://github.com/rust-lang/libc/pull/980

[2018-05-05 13:03] NikolaiMagnussen commented on #587
Could it be an idea to let sigaction stay as it is, and provide a `sigaction_safe` or named down the same line that prohibits the use of user-specified functions.

This could allow users to write `sigaction_safe(Signal::SIGCHLD, SigHandler:SigIgn)` and `sigaction_safe(Signal::SIGCHLD, SigHandler:SigDfl)`

Or would it be beneficial to not do this only at the `sigaction` function, but also at the cr

[2018-05-06 20:19] asomers opened #899 "Release 0.11.0"
It's been more than 3 months since the last release.  @kpcyrd has requested a release with OpenBSD 6.3 support, and I think that would be fine to do.  Are there any other issues we should complete before the release?  Any thoughts here @Susurrus ?

[2018-05-06 21:38] Susurrus commented on #899
Probably want to address #863, but that's the only bug fix I see in PRs we have pending.

[2018-05-06 21:39] Susurrus commented on #899
Also, I'd like to do this release. I think it's important we have a bus factor above 1 when it comes to releases, and I think we've revised the docs since the last one to be a little simpler. What do you say @asomers?

[2018-05-06 21:46] asomers commented on #899
Be my guest.

[2018-05-10 20:27] stratact commented on #644
I too need `killpkg` for my project to kill all processes associated by group id since `std::process::Child::kill()` is not good enough for what I'm doing. It would be useful to have instead of relying on the `libc` crate.

[2018-05-18 19:39] SolraBizna opened #903 "Missing bindings for `fchown`, `lchown`, and the `chmod` family"
There are occasional situations where `fchown` is preferable to `chown`. The usefulness of `chmod` and its siblings is more self-evident.

Implementing `fchown` and `lchown` at least should be pretty easy, since nearly all the logic would be the same as for `chown`.

Edit: When documenting `fchown`/`fchmod`, it ought to be mentioned that they can't be used to portably change the permissions on a U

[2018-05-24 17:48] agrover commented on #899
I'd also like a new release to fix #831.

[2018-05-25 17:20] agrover commented on #596
fixed by #768, thanks!!

[2018-05-25 17:20] #596 closed

[2018-06-02 19:16] Susurrus commented on #899
Done.

[2018-06-02 19:16] #899 closed

[2018-06-02 19:18] Susurrus commented on #737
Been a while on this, @kinetiknz any updates on your end for your min version requirements?

[2018-06-09 16:37] farnoy opened #913 "Change preadv to work with &[IoVec<...>] instead of &mut [IoVec<...>]"
They have the same signature, `iovec` is not modified by the syscall.

[2018-06-10 23:30] Susurrus commented on #913
Would you be willing to submit a PR fixing this? That'll be the fastest way to get this addressed.

[2018-06-28 15:46] scottlamb opened #915 "support fdopendir + readdir operations"
I'm writing some static file serving code for a webserver. It opens paths using `openat`, determines what type they are (plain file, directory, ...), then tries to serve them. So I want to pass my existing file descriptor to `fdopendir` rather than pass a path to `std::fs::read_dir`.

I have a prototype implementation which I'll open a pull request for shortly. This is my first contribution to nix

[2018-06-28 16:52] carado opened #917 "`cargo doc` fails for packages depending on `nix`"
Hi, I noticed that `cargo doc` fails when documenting a project that has `nix` in its dependencies (whether directly or indirectly), apparently because of "unused import" errors.
This happens with nix v0.11.0, with the latest rustup-provided nightly cargo (e2348c2db 2018-06-07).

Steps to reproduce:
[code]
(full log available [here](https://github.com/nix-rust/nix/files/2146162/doc-log.txt))
Thank

[2018-07-01 17:09] jonas-schievink commented on #756
I have found out (via experiment) that Linux will merge two control messages of type `SCM_RIGHTS` that contain one file descriptor each into a single one containing both file descriptors, so this test failing doesn't mean that it's not working, it's just not testing what it *should* be testing. You can see this in action by running the test above with `strace` (but I've also verified this with a C

[2018-07-04 05:17] xurtis opened #919 "`std::sched::clone` doesn't pass ownership of closure to new thread."
The current implementation of of `std::sched::clone` doesn't pass ownership of the the closure called by `callback` into the newly created thread, only a reference. This means that when the call to `clone` ends, the callback is actually dropped, releasing all associated memory. This most likely means that the closure that actually gets run in the child thread is a reference to invalid memory when

[2018-07-04 05:18] xurtis commented on #919
I'll have a patch in a few minutes.

[2018-07-04 06:58] xurtis commented on #919
Without https://github.com/rust-lang/rust/issues/28796 being stabilised, `std::sched::clone` shouldn't support actual closures at all. It makes no sense for `clone` to accept a closure with references as the child thread then assumes that everything being referenced lives longer than itself and the parent thread assumes that all borrows that the child thread had were dropped when the call to `clon

[2018-07-05 14:10] #505 closed

[2018-07-05 16:17] #464 closed

[2018-07-05 16:17] #756 closed

[2018-07-08 17:50] asomers opened #924 "Upgrade FreeBSD buildbot images to 11.2-RELEASE"
Also, add kcov to the image, so coverage checking will be an option.

[2018-07-08 18:01] asomers commented on #917
I cannot reproduce using rust 1.20.0, 1.28.0-nightly, or 1.27.0-beta.8.  And the error messages don't make sense to me, because those imports _are_ used.  And the docs certainly build fine on docs.rs.  Can you tell me more about your environment?

[2018-07-08 18:05] asomers commented on #903
Do you want to submit a PR for this?  It sounds useful to me.

[2018-07-08 23:29] carado commented on #917
I'm using rustup 1.11.0 (as indicated by `rustup -v`), provided by my distro's package manager.
My distro is Void Linux with glibc on x86_64. Apart from that, I don't think there's anything weird about my setup ?

Here are the results of my trying with various versions of rust (installed and used with `rustup toolchain install (name) ; rustup default (name)` where `(name)` is stable/beta/nightly)

[2018-07-09 00:13] asomers commented on #924
Done.

[2018-07-09 00:13] #924 closed

[2018-07-09 00:19] asomers commented on #917
Ok, I can reproduce it too, now that I've upgraded to rustc 1.29.0-nightly.

[2018-07-09 18:14] alesharik opened #926 "Can't use sys::statfs::statfs without unsafe"
Current implementation of `statfs` requires mutable reference of result variable, but I can't pass it to `statfs` without initialization. For example this code
[code]
 gives me this error:
[code]
So I need to somehow initialize the variable:
[code]
Maybe it will be better to return result with `libc::statfs` struct instead of empty result?

[2018-07-11 11:17] Susurrus commented on #926
Yes, that seems like the correct change. Additionally we should use a newtype wrapper around `libc::statfs` so we don't export `libc` types directly (this prevents `libc` breaking changes to become major-release breaking changes in nix).

The only open question here is whether reusing a `statfs` struct is ever necessary in practice. If so, we'd probably want two versions of each function, one retu

[2018-07-28 21:55] sevagh opened #931 "-1 parameters to setresuid"
Hello. The nix docs link to the Linux manpage for `setresuid`: http://man7.org/linux/man-pages/man2/setresuid.2.html

In Linux you can pass -1 as a parameter of setresuid. How can I do this in nix since the parameters are of type `u32`?

[code]

[2018-07-28 22:07] asomers commented on #931
Uh, you can't.  Best would be if Nix's `setresuid` took an `Option<Uid>` instead.  Would you submit a PR that makes that change?

[2018-07-28 23:16] sevagh commented on #931
Sounds good, I'll work on that.

[2018-07-28 23:20] sevagh commented on #931
Is there a reason `getresuid` isn't implemented? I would like to take a shot at that as well if not.

[2018-07-28 23:20] asomers commented on #931
The only reason is because nobody's submitted it yet.

[2018-08-03 04:04] Susurrus commented on #931
Reopening this because it is still a bug with our implementation.

[2018-08-05 18:15] glebpom opened #934 "request_code_write_int! on BSD systems uses VOID "direction" instead of IN"
Hi,

there is a bug, which leads to the generation of wrong ioctl codes on BSD systems:
https://github.com/nix-rust/nix/blob/master/src/sys/ioctl/bsd.rs#L60

[2018-08-05 18:37] asomers commented on #934
Do you have an example of an ioctl that demonstrates the problem?

[2018-08-05 18:39] Susurrus commented on #934
This was added explicitly to fix a bug on BSDs. See commit 1a815f11473c1eb91a5613f8fe67d5e97975b3fc. There were tests added in that commit as well.

Also, which BSD are you on? We're missing tests for OpenBSD and NetBSD.

[2018-08-05 19:12] glebpom commented on #934
Ok, I see the problem. `_IOWINT` has this bug, but there are certain `ioctl`'s which accept the `int` parameter defined in  `_IOW`. e.g. https://github.com/freebsd/freebsd/blob/master/sys/sys/filio.h#L49
There is no good API in nix for it. I had to use a workaround through the `_ptr` variant.

[2018-08-05 19:18] glebpom commented on #934
BTW, I have found [very few usages of `_IOWINT` in FreeBSD](https://github.com/freebsd/freebsd/search?q=_IOWINT&unscoped_q=_IOWINT).  Much less than `_IOW` with `int` param

[2018-08-05 19:33] glebpom commented on #934
There is no _IOWINT in [OpenBSD](https://github.com/openbsd/src/blob/master/sys/sys/ioccom.h) and [NetBSD](https://github.com/IIJ-NetBSD/netbsd-src/blob/master/sys/sys/ioccom.h). There are only [3 usages in FragonFly](https://github.com/DragonFlyBSD/DragonFlyBSD/search?q=_IOWINT&type=Code) and [14 in FreeBSD](https://github.com/freebsd/freebsd/search?q=_IOWINT&unscoped_q=_IOWINT)

[2018-08-06 09:02] glebpom commented on #934
I was trying to use

[code]

from https://github.com/freebsd/freebsd/blob/master/sys/net/if_tun.h#L45

To enable the headers in packets received from TUN interface, one should send the non-zero value to this `ioctl` as `int` argument. The reasonable nix ioctl function definition would be:
[code]
But, because for BSD systems this macro represents the behavior if `_IOWINT`, it generates incorrect co

[2018-08-06 10:08] glebpom commented on #934
Ok, I was wrong. _IOW expect the pointer to `int`, not `int` itself. So it's correct to use `ioctl_write_ptr` in this case. Closing

[2018-08-06 10:08] #934 closed

[2018-08-06 15:52] Susurrus commented on #934
Is there some way we could improve the docs to reduce this confusion. Ive been working hard to make our ioctl docs decent because all of this is so confusing and am always looking to further improve them. Any feedback here from you would be most appreciated.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-08-16 22:59] eeyun opened #935 "Add support for x86_64-sun-solaris target"
Now that illumos/solaris users are going to have an actively supported rustc/cargo binary it might be nice for this crate to support it's bindings.

As a side note - I'm happy to contribute a PR that adds support for illumos if the maintainers feel like they would accept a PR to add solaris support but I didn't want to start in on the effort if adding a new platform is not something y'all are inte

[2018-08-16 23:46] asomers commented on #935
Are there any users who need Nix on Illumos?  If so, I would accept a PR for Illumos support.

[2018-08-17 00:32] Susurrus commented on #935
We don't compile-test on those platforms now I don't think. And for new platforms to be "added" I see that as a requirement. If we can run tests in a VM that's even better. I don't want to add support and fix things and then have it break 1 PR later because we don't have at least compilation testing working.

And what are the target tuples for the platforms you'd want to add. I assume that these O

[2018-08-17 15:46] jleni opened #937 "issues with ioctl_read_buf + lack of example"
I noticed that there is an open TODO looking for an example of ioctl_read_buf. Maybe once I solve my problem I can provide that example.

https://github.com/nix-rust/nix/blob/70cce1a384ec21c6ba0ef38d64d2f67333e4b7d7/src/sys/ioctl/mod.rs#L692

I am trying to use this macro but I have not been successful. Maybe this when fixed could be used as an example.

[code]

In the first call I get how much va

[2018-08-17 15:56] jleni commented on #937
The alternative, does not seem to work either

[code]

[2018-08-17 16:17] eeyun commented on #935
As far as any nex users who need it - that would be me! Though currently only for a hobby effort.

Yep all of "solaris" is treated exactly the same by the compiler. I've only been working with illumos in OpenIndiana and OmniOS but some random attempts with Solaris 11 seem to also work fairly identically, I have no interest personally in SPARC or the like. My initial "need" is just around the "x86_

[2018-08-17 17:33] asomers commented on #935
Yeah, libc definitely comes first.  After that, I would accept a PR to add Illumos support as long as we could compile-test it on Travis in CI.  As with NetBSD, I wouldn't insist on running the tests.

[2018-08-17 17:34] Susurrus commented on #935
Yeah, I'd expect that `libc` will need an absurd amount of cleanup. What I'd suggest is the following:
 * Get CI working for `x86_64-sun-solaris` for `libc` as a can-fail target
 * Clean up `libc` so that it compiles properly
 * Change the `x86_64-sun-solaris` target to be cant-fail

The above can be done in parallel with the same process done for `nix`

[2018-08-18 01:51] Susurrus commented on #937
I just did some searching for examples and [found this](https://github.com/atomic-penguin/linux/blob/master/samples/hidraw/hid-example.c). I'd suggest running that example and using `strace` to view the raw system calls. Then you can compare how they do it in C with your example and confirm what's going on.

[2018-08-18 02:15] posborne commented on #937
@jleni I believe the size you read needs to be populated in the struct as it is passed to the kernel when you make the HIDIOCGRDESC call.

See https://elixir.bootlin.com/linux/v3.18.119/source/drivers/hid/hidraw.c#L397.  You are just passing a pointer as the arg to the kernel and it is reading that pointer as a u32 for the length portion as the length is the first part of the structure as defined

[2018-08-22 05:07] yangzhaofeng opened #938 "nix::sys::socket::sockopt::OriginalDst does not support ipv6"
I tried to get the ipv6 address of accessor, but GetSockOpt for OriginalDst only supports ipv4. Can you add ipv6 support?
Or is there any substitute?

[2018-08-22 14:48] asomers commented on #938
Unfortunately `SO_ORIGINAL_DST` is undocumented in Linux.  I don't know if Linux even supports it for IPv6 sockets.  If you can find documentation that says Linux does, then we can add IPv6 support for it to Nix.

But as for your immediate problem, have you considered whether `getsockname` or `getpeername` will work?

[2018-08-23 05:30] yangzhaofeng commented on #938
No.
Argument type for the two functions is ```fd: RawFd``` which means ```int32``` . However, ipv6 address is ```int128``` .
It seems that many functions in ```nix::sys::socket``` may have this problem.

BTW, the code with problem is [here](https://github.com/yangzhaofeng/tcp-transparent-repeater/blob/ipv6/src/main.rs#L37)

[2018-08-23 13:13] asomers commented on #938
A variable of type `RawFd` should never be used to hold an IP address!  It's for file descriptors.  Those two functions return `SockAddr`, which may be IPv4 or IPv6.

[2018-08-24 02:38] Susurrus commented on #937
@jleni Did you get the problem sorted? I think what @posborne said is correct? I'd love to know that you have it working and also get our documentation updated with this as an example.

[2018-08-24 05:37] Susurrus commented on #937
This still uses the array format, correct? Would you be willing to write up an example we can add for that?

[2018-08-24 22:11] Susurrus commented on #937
We already have examples for that, so I think we can just close this now.

[2018-08-24 22:11] #937 closed

[2018-09-02 09:01] tbu- opened #939 "`unistd::dup3` never uses the `dup3` syscall (even if it might be available)"
https://github.com/nix-rust/nix/blob/70cce1a384ec21c6ba0ef38d64d2f67333e4b7d7/src/unistd.rs#L381-L397

This means that using it in multithreaded applications results in races even on platforms where a proper `dup3` is supported.

I think it would be best if it used `dup3` if it is available and only falls back to `dup2` if `dup3` is not available.

[2018-09-04 00:54] #915 closed

[2018-09-06 19:26] goertzenator commented on #613
I would love to see `From<nix::Error>` for `io::Error` in nix.

Reasoning: People are writing their own conversions. @paulpr0 is doing it in the reference above, and I will be doing it too.  Having a good impl in nix would reduce friction for users who want to manage errors in this way.

Would the existence of `From<nix::Error>` for `io::Error` break existing code or cause other problems?

[2018-09-15 21:21] ArniDagur opened #941 "Implement copy_file_range() system call for Linux"
[copy_file_range()](http://man7.org/linux/man-pages/man2/copy_file_range.2.html) has yet to be implemented.

[2018-09-15 21:43] asomers commented on #941
If you're interested, feel free to submit a patch.  Nix works 99% on user contributions.

[2018-09-16 00:01] ArniDagur commented on #941
How I should handle the `flags` argument of `copy_file_range`? The man page says that "the flags argument is provided to allow for future extensions and currently must be to 0".

Here's what I've got at the moment (haven't tested it yet but it compiles):
[code]

[2018-09-16 13:49] asomers commented on #941
There are two choices:
1) Leave out the flags argument as you did.
2) Create a `CopyFileRangeFlags` enum with a single `None` variant.

[2018-09-17 20:08] jmmv opened #943 "Provide mechanism to access raw user/group IDs"
I am implementing a FUSE file system using the Rust `fuse` library. As part of this, I have to supply the kernel with UID and GID values for file attributes in the form of `u32` values. At the moment, I'm doing something like:

[code]

It'd be nice if I could replace these with nix's reimplementation of `getuid` and `getgid` to avoid the unsafe blocks. However, I haven't found a way to do so becau

[2018-09-17 20:16] asomers commented on #943
How about [`nix::unistd::Uid::as_raw`](https://github.com/nix-rust/nix/blob/d302e8d278bcd5b10ab7a30a467b5d8e21139ff2/src/unistd.rs#L53)?  It was added recently, and isn't in a released version yet.

[2018-09-17 20:30] jmmv commented on #943
Oh, that will work. Didn't see it because I was looking at the documentation for the last release.

One question though: I'm guessing the size of `uid_t` and `gid_t` will vary on a platform basis, right? How is the caller supposed to deal with that? I will have to make sure the size of the returned values fits within the `u32` that FUSE exposes, but that seems fragile from a portability perspectiv

[2018-09-17 20:35] asomers commented on #943
libc defines `uid_t` to be `u32` on all unix platforms.  Only redox is different, and Nix doesn't support redox.  So in your code, you can just do something like:
[code]
https://github.com/rust-lang/libc/blob/master/src/unix/mod.rs#L9

[2018-09-17 20:36] jmmv commented on #943
I see. Thanks. I've encountered other cases where the size changes for other types, but I guess they were unrelated to this. Will wait until the next nix release comes out.

[2018-09-17 20:36] #943 closed

[2018-10-01 16:17] sevagh opened #945 "setresgid documentation is incorrect"
https://docs.rs/nix/0.11.0/nix/unistd/fn.setresgid.html

Could be improved a little bit, it says "user id" instead of " group id" in a few places:

[code]

[2018-10-01 16:37] asomers commented on #945
Good catch.  Would you please submit a PR to fix it?

[2018-10-04 16:51] xd009642 opened #947 "ptrace mac support"
It's came up as part of https://github.com/xd009642/tarpaulin/issues/152 but ptrace is partially supported in macos ([source](http://uninformed.org/index.cgi?v=4&a=3&p=14)). I'll look into it myself this weekend but I think it would be useful to go through the ptrace api and cfg in the parts supported on Macs.

Any thoughts, opinions, objections?

[2018-10-04 16:58] asomers commented on #947
No objections at all.  Sounds like a useful feature.

[2018-10-05 16:17] xd009642 commented on #947
So ptrace mac support looks like it's going to be a bit faffy as apple name their constants differently `PT_TRACEME` instead of `PTRACE_TRACEME`.

So from this I see a few potential approaches just wondering if there were any thoughts/opinions/preferences.

* Keep using the `libc_enum!` macro and use cfg_if to generate a version of the Request enum for macos and one for linux/android and sprinkle

[2018-10-05 16:57] asomers commented on #947
Nix should not attempt to provide a common interface between different OSes.  That responsibility belongs to crates that live atop Nix.  So don't do bullet 3.  Bullet 1 is the easiest and would be fine.  Bullet 2 is an option if the differences are so large that Bullet 1 becomes unreadable.

[2018-10-05 17:09] xd009642 commented on #947
Okay I thought that might be the case for bullet 3.

My gut feeling is that going for the first approach would make it unreadable, but I'll try it out first and move ptrace into it's own module if that becomes the case.

[2018-10-07 11:48] xd009642 commented on #947
So the existing PTRACE interface for linux has this deprecated function, I'm guessing I shouldn't replicate duplicated functionality in the Apple/BSD interface.

[code]

Also none of the PTRACE events seem to be supported in BSD. Some are in headers I found online but libc test errored so they didn't make it into rust-lang/libc and as a result the ptrace interface for BSD will probably be smaller