[2014-11-10 14:30] dtantsur opened #17 "mismatched types: expected `int`, found `uint`"
With the recent Rust:

[code]

[2014-11-13 18:00] #17 closed, assigned to nobody

[2015-01-05 07:16] daogangtang opened #42 "please generate latest package on crates.io"
Compling other library requiring the latest nix-rust, please generate latest package on crates.io.

Thank you. :)

[2015-01-05 08:30] carllerche commented on #42
Done!

[2015-01-05 08:30] #42 closed

[2015-01-17 15:56] vbuslov opened #49 "sigaction struct on OS X"
I've been looking on signal-handling code in nix-rust to implement signal support in mio and it seems that sigaction struct definition for OS X is a bit off.

Relevant definition from 10.10:
[code]

struct definition from nix:
[code]

So it seems that nix defines sigaction according to private kernel-user boundary OS X struct instead of public struct which actually used as param type to sigaction

[2015-01-23 14:50] vhbit opened #54 "Add a license/copyright info"

[2015-01-23 14:56] vhbit commented on #49
@vbuslov there is no way to define unions in Rust, in case of data with the same size (like pointer to a function) workaround is to use `mem::transmute`.

[2015-02-02 11:18] utkarshkukreti opened #58 "Several `const`s should be `bitflags`"
Some random examples (there are many more):

* [MmapFlag](https://github.com/carllerche/nix-rust/blob/9a17a4d200b33f66a6d61dc06a9df7ddef01d735/src/sys/mman.rs#L13-L32)
* [MmapProt](https://github.com/carllerche/nix-rust/blob/9a17a4d200b33f66a6d61dc06a9df7ddef01d735/src/sys/mman.rs#L34-L41)
* [SockMessageFlags](https://github.com/carllerche/nix-rust/blob/9a17a4d200b33f66a6d61dc06a9df7ddef01d735/src

[2015-02-02 18:49] carllerche commented on #58
Looks like you are correct :)

[2015-02-02 18:52] carllerche commented on #54
Resolved here: 2ada333f70e1aa15d8f52e2b5a6ebb9dcd9a458a

Thanks

[2015-02-02 18:52] #54 closed

[2015-02-07 21:23] MarkusJais opened #62 "interested in mq support (Posix message queues)?"
Hi,

I am  interested in providing Rust bindings to the Posix message queues.

Would this be something for nix-rust?

I would love to add this.

Markus

[2015-02-09 04:41] carllerche commented on #62
Sure!

[2015-02-09 07:15] MarkusJais commented on #62
Cool. Already started working on it.

[2015-02-14 08:12] mgarmazhapov opened #68 "epoll_create1 support"
Hello!
Please add support for system call epoll_create1 and constant EPOLL_CLOEXEC.

[2015-02-16 03:57] #68 closed

[2015-02-18 01:02] carllerche opened #72 "Remove nix's Fd in favor of re-exporting std::os::unix::Fd."

[2015-02-18 06:21] MarkusJais commented on #62
I am making progress here after the compiler and I resolved our misunderstandings :-)
I hope to have a basic version soon.

[2015-02-20 08:46] eddyb opened #76 "Rename project to avoid confusion with Nix."
While I don't mind "\*nix" to denote Unix (and Unix-like) systems, "Nix" specifically is taken by [the "purely functional package manager"](http://nixos.org/nix/).
This could get worse in the future, because of how cargo fits *almost perfectly* with the Nix model, and I have seen integration prototypes already.
You might have to deal with `crates.io` packages that interact with Nix, or even fully

[2015-02-20 21:47] rrichardson commented on #76
How about we move its contents to the libc crate?

[2015-02-20 21:55] carllerche commented on #76
libc is mostly just FFI bindings and const declarations. nix is trying to provide somewhat of a rusty api.

`posix.rs` isn't ideal because the library provides far more than than just `posix` APIs. It tries to cover all of the *nix OSes (hence the name). I would be open to switching the name if somebody proposes a good one, but while I am sympathetic w/ library name clashes, "nix" is a very very g

[2015-02-22 00:29] carllerche commented on #72
Resolved by 9e137ae8f39b0b982ab32830a587069e265352ff

[2015-02-22 00:29] #72 closed

[2015-02-22 00:53] carllerche opened #82 "Rename NixResult -> Result (same w/ NixError)"

[2015-02-22 06:58] utkarshkukreti commented on #76
Also, a project named posix.rs [already exists](https://github.com/mahkoh/posix.rs).

[2015-02-28 06:42] carllerche opened #85 "Properly bring back `mount`"
Bring back mount w/ tests for the various permutation of arguments

[2015-03-01 16:55] little-arhat commented on #76
OCaml has `Unix` module, that provides interface to common unix facilities. http://caml.inria.fr/pub/docs/manual-ocaml/libref/Unix.html . `unix.rs` may be good choice: it retains `nix` part and avoids confusion with `Nix`.

[2015-03-09 23:20] swinbio opened #88 "bind sendmsg/recvmsg for Unix socket control messages/ancillary data"
Right now nix exposes bindings to sendto/recvfrom which work for the data part of Unix socket messages, but which cannot interact with control messages such as file descriptors sent over Unix sockets. The library should also bind these as they're one of the distinguishing features of Unix sockets.

[2015-03-10 04:09] carllerche commented on #88
Hey, this is definitely something that I would like to add, but I am a bit swamped right now w/ work. I would accept a PR that adds this feature though.

[2015-03-27 08:10] tbu- opened #90 "`sigaction` should probably be `unsafe`"
If you access thread-local data in a signal handler or panic, you probably invoke UB.

http://users.rust-lang.org/t/unix-signals-in-rust/733/3

[2015-03-27 21:17] carllerche commented on #90
Pinging @wycats

[2015-03-28 12:28] l0kod commented on #90
cc [Safe async/reentrant closure](http://internals.rust-lang.org/t/safe-async-reentrant-closure-e-g-signal-handler/1742)

[2015-04-03 23:33] carllerche opened #93 "Get nix compiling on rust beta"
Blocked on https://github.com/rust-lang/cargo/issues/1478

[2015-04-06 15:46] tbu- commented on #90
Meh. It's relatively easy to mark the function unsafe. Should I make a pull request?

[2015-04-08 05:44] posborne opened #95 "cpuset_attribs not defined for ARM Linux"
No cpuset_attributes are defined for arch "arm" and os "linux".  This results in compilation errors when cross-compiling for triples like "arm-unknown-linux-gnueabihf" used by boards like the raspberry pi and beaglebone black.

I  copied the cpuset_attribs from android and these worked for my use case.

[code]

[2015-04-08 17:33] diwic opened #96 "What happened with eventfd?"
I used eventfds as a building block (for benchmarks in my fdringbuf crate), and found that it was suddenly gone (to make it compile on the beta, according to a recent commit).

I'm not really sure what the problem is and if it's easy to bring it back, both on the nightly and on the beta...?

[2015-04-08 17:48] carllerche commented on #96
Sorry about that, I was using `#[linkage = weak]` as a strategy for providing features that were not globally available. This strategy does not work anymore on beta and will not be stabilized anytime in the foreseeable future. I have plans to bring it back, but it will require a bunch of work.

I can either bring it back via a feature flag until I have time to implement the correct strategy, or yo

[2015-04-08 17:59] carllerche commented on #96
Here, I pushed it back behind a feature flag: 9b0a534962f3a2852491a3b0bc4d4e857f2a1382

My plan is to move the feature detection to a build script vs. providing each feature via a feature flag.

[2015-04-08 17:59] carllerche commented on #96
Closing for now, feel free to open another issue if this doesn't resolve your problem.

[2015-04-08 17:59] #96 closed

[2015-04-09 17:17] carllerche opened #97 "Improve ARM support"
This really requires CI infrastructure. I filed an issue with Travis: https://github.com/travis-ci/travis-ci/issues/3376. Also, it would require ARM builds of Rust, etc...

[2015-04-09 17:19] carllerche commented on #95
There isn't that great ARM support right now, mostly because it isn't hooked into CI. If you have a PR adding `cpuset_attribs` for ARM linux, I will pull it in. In the mean time, I opened up an issue for improving ARM support: #97.

[2015-04-09 17:20] carllerche opened #98 "Add a conditional compilation system to allow features available only on some platforms."
I removed a number of bindings that were not generally portable in order to get everything compiling on Rust 1.0 beta. These should be brought back.

[2015-04-09 17:20] carllerche commented on #93
Rust is currently compiling on beta, but there is more work to do: #98

[2015-04-09 17:20] #93 closed

[2015-04-10 18:47] diwic commented on #96
Just dropping by to say thanks for the super-quick fix! I can confirm that it works as expected and I can now again run "cargo bench" for my fdringbuf crate.

[2015-04-10 21:29] carllerche commented on #82
This happened!

[2015-04-10 21:29] #82 closed

[2015-04-11 20:36] MarkusJais commented on #62
I've finally got a basic working version. It does not yet support all functions but basic sending/received is working.
It would be nice if somebody could have a look before I create a pull request. All feedback is welcome.

https://github.com/MarkusJais/nix-rust/commit/3a09f4e7b638ce279b9d0769062a991a72518deb

[2015-04-12 23:51] carllerche opened #100 "Improve nix::Error Debug implementation"
It should end up calling `Errno::desc()`

[2015-04-14 16:41] #90 closed

[2015-04-17 10:14] tbu- commented on #76
This probably needs a decision before 1.0. My suggestion: Either close this issue and leave the name, or rename the project. Just ignoring the issue doesn't make it go away. :/

[2015-04-17 17:27] carllerche commented on #76
I agree this needs to be decided before 1.0

As I see it, there are two main arguments for keeping the name `nix`:

1) Historically, "*nix" has been "a shorthand form referring to Unix-like computer operating systems". This predates the nix package manager. If there was a collision on a unique word / name given the space, I would think the argument to rename this library would be stronger.

2) `ni

[2015-04-17 17:31] cmr commented on #76
This is an unfortunate collision. `nix` is *such* a nice name. At the same time, `unix` isn't a bad name.

[2015-04-17 17:33] brson commented on #76
That's a tough call. I'm inclined to keep the name 'nix'. It's potentially confusing, but it's cute and historical precedent is on unix's side. More people know unix than 'nix the package manager'.

[2015-04-17 17:44] lambda commented on #76
I don't think that `nix` is too confusing, and I don't know if it's likely that there would ever need to be a crate for the package manager (and if so, it could be called `nix-pkg` or something like that). However, I'm not a user or developer of nix/NixOS, I don't know if they would feel differently.

If it is changed, I agree that `posix` isn't a great name, as there are many APIs that apply to U

[2015-04-17 17:46] tbu- commented on #76
I like `nixie`, it's one of the "creative package names" crates.io strives for with its flat namespace.

[2015-04-17 18:23] wycats commented on #76
@tbu- the problem doesn't seem to be a namespacing issue -- `carllerche/nix` would have the same problem.

[2015-04-17 18:26] rrichardson commented on #76
I think before we have this discussion we should ask the Nix Linux people
if they'll kindly change their name to something less ambiguous.

I am partial to Hipster Linux.

On Fri, Apr 17, 2015 at 2:23 PM Yehuda Katz <notifications@github.com>
wrote:

[2015-04-17 18:32] wycats commented on #76
The thing that's surprising to me about this discussion is that it seems like the nix package manager is the one that stomped on the namespace... and then somehow succeeded in owning it!

The name "*nix" to refer to the family of Unix operating system is very, very old. I'm honestly kind of at a loss for how the package manager managed to not only use this already-precedented name, but now make it

[2015-04-17 22:18] tbu- commented on #76
@wycats Sorry for my snarky remark.

To me it's kind of irrelevant who was there first, but rather that there might be confusion about the name. Carrying out a discussion about "who was there first" doesn't mitigate the problems though.

[2015-04-18 04:24] dwrensha commented on #76
I like the name "unix" for this crate. To me, "*nix" means "unix-like" but "nix" unambiguously refers to the package manager.

[2015-04-18 21:19] fhartwig opened #103 "Build fails on latest nightly"
https://github.com/rust-lang/rust/pull/24461 seems to have broken the build on nightly. The `impl`s generated by the`sockopt_impl` macro violate this. I'm trying to find a good way to fix this, but my macro-fu is pretty weak.

[2015-04-19 17:19] redrampage commented on #76
Hello, sorry for barging in, but IMHO "unix" would be a better name for this lib, it's short and self-explanatory.
"nix" without an asterisk doesn't resemble "*nix" very well.
"nixie" is too long for such a "core" library and pretty much refers to "nixie tubes".

[2015-04-19 17:21] redrampage commented on #85
+1

[2015-04-19 22:50] posborne commented on #103
With the 2014-04-19 nightlies, I am also running into issues resulting from `::std::os::unix::io::Fd` changing to `::std::os::unix::io::RawFd`.  This change was introduced by https://github.com/rust-lang/rust/commit/6370f2978e485fd46bcb64f51a1c003395acfedc.

Here's the first error I hit with the fixes from @fhartwig:

[code]

[2015-04-20 18:29] fhartwig commented on #103
@posborne Are you sure you're on the right branch? The commit you refer to was merged into rust master almost 3 weeks ago, and the fallout should have been fixed in 7d48278859cabcf0e08df27e1d5f839a1694fb1f

[2015-04-20 20:19] carllerche commented on #85
I'm pretty busy at the moment, but I would be happy to accept a PR :)

[2015-04-20 23:19] carllerche commented on #103
Fixed on master

[2015-04-20 23:19] #103 closed

[2015-04-21 00:04] posborne commented on #103
@fhartwig, Bah... Yep.  Wrong branch.

[2015-04-25 07:02] posborne opened #108 "Make ioctl usable for more than just TIOCGWINSZ"
The version of ioctl that is currently present in nix is not particularly useful (only has support for TIOCGWINSZ) and the design would require that the library itself be modified in order to add additional ioctls.  I would like to see nix support a good lower-level ioctl implementation that can be used to raise the level of abstraction for any rust code that needs to send ioctls to regular and sp

[2015-04-26 01:21] calc0000 opened #109 "Publish new package on crates.io"
`FromPrimitive` is gone from `rustc` nightly, so a new package is needed.

[2015-04-26 05:14] #95 closed

[2015-04-26 19:22] carllerche commented on #109
Done: https://crates.io/crates/nix/0.3.5

[2015-04-26 19:22] #109 closed

[2015-04-27 02:28] posborne commented on #108
I have an initial version of an ioctl module available here: https://github.com/posborne/rust-spidev/blob/master/src/ioctl.rs

I am going to play with that implementation a bit more and will then probably open a PR that get the module pulled into nix.  If there is any early feedback based on the linked implementation, please let me know and I will see if I can address before I issue an initial PR.

[2015-04-27 20:13] carllerche commented on #108
Hey there. I personally don't have much experience w/ working with ioctl. I would be happy to pull in a more comprehensive binding. I believe @utkarshkukreti did the original work, so hopefully he will have more of an opinion :)

[2015-05-04 20:15] carllerche commented on #108
@posborned any luck with this?

[2015-05-04 20:56] posborne commented on #108
@carllerche, things are progressing.  I will submit a PR once I have had a chance to test a little bit more.  That testing will be done with the spidev development I have been doing (since that requires a number of ioctls).  I have hardware for testing that now, so expect to see a PR sometime this week.

[2015-05-13 05:25] #108 closed

[2015-05-15 20:58] dead10ck opened #117 "`impl AsExtStr for OsStr` does not convert to a proper C string"
I started noticing some strange behavior when trying to use the `lstat` function I recently submitted; `lstat` seemed to be returning `ENOENT` when the file did indeed exist, and opened correctly with `File::open()`. I began investigating, and I think I've found the cause: the implementation of `AsExtStr` for `OsStr`:

[code]

It appears the problem is that this just borrows the byte slice from th

[2015-05-20 04:25] posborne opened #119 "Publish new version (0.3.6?) to crates.io"
I would like to publish an initial version of my spidev crate (https://github.com/posborne/rust-spidev/tree/master), but that is dependent on the new ioctl code.  Publishing a new version would be appreciated.

[2015-05-20 06:04] carllerche commented on #119
Here you go: https://crates.io/crates/nix/0.3.6

[2015-05-20 06:04] #119 closed

[2015-05-20 23:04] dead10ck opened #120 "unistd::pivot_root() is possibly broken"
While implementing a fix for #117, I noticed that `unistd::pivot_root()` is possibly broken.

On 9 Feb, effb423 introduced the `NixPath` trait, which at first took a closure which has a `*const libc::c_char` as an argument, and `unistd::pivot_root()` was changed to use `with_nix_path()` and its closure's arguments as arguments in the call to `sys::syscall::syscall()`.

Then on 26 Feb, e8a58c8 chan

[2015-05-21 19:08] carllerche commented on #117
Thanks for this report. Sorry for the delay. I'm going to deal w/ this now. I'm surprised by this behavior and I guess I misunderstood the guarantees around `OsStr`. I'm going to try to do a bit of investigation first though...

[2015-05-21 19:11] carllerche commented on #117
ok, tl;dr I was wrong.

[2015-05-21 23:48] #117 closed

[2015-05-21 23:55] carllerche commented on #120
Resolved by: 21fb1394a111d19079da90a4d31171b0d6adc27c

[2015-05-21 23:55] #120 closed

[2015-06-07 07:43] moehts opened #129 "Open to adding gettid?"
Seeing that pthreads is out of nix's scope, could you add linux's `gettid` system call so that individual threads can be interacted with. At present, system calls can only operate on entire processes as a whole.

Implementing it strait forward since the system call, like getpid, takes no argument. (imo, It's even easier if you're willing to add the syscall crate as a dependency to abstract away ar

[2015-06-08 17:35] carllerche commented on #129
Sure!

[2015-06-08 21:10] agrover opened #130 "please release a new version soon?"
I was using the released crate and just got bitten by #117. :smile:

[2015-06-08 21:51] carllerche commented on #130
Published https://crates.io/crates/nix/0.3.7 :tada:

[2015-06-08 21:51] #130 closed

[2015-06-12 17:12] SirVer opened #131 "ARM fix"
I recently compiled nix for my beagleboard black - it went smoothly, but I got two compile errors, both in uio.rs.

The parameter `offset` to ffi::pread and ffi::pwrite are i32 on my arm. Maybe they should be isize? I am not sure how to express that in rust in a portable manner.

[2015-06-12 18:36] posborne commented on #131
I think using `off_t` here is the right thing to do but `off_t` does not have the right value for ARM in your environment.  Reading the libc lib.rs, it would appear that `off_t` should be an `i32`: https://github.com/rust-lang/rust/blob/8b7c17db2235a2a3f2c71242b11fc429a8d05a90/src/liblibc/lib.rs#L454

[2015-06-15 03:02] zonyitoo opened #132 "SockOpt should be separated into two traits, getter and setter"
Currently, SockOpt has `get` and `set` methods. But some of the options, such as

1. SO_ERROR

2. SO_DOMAIN

3. ...

are read-only, which require to provide a valid value length when calling `getsockopt`.

In `sys/socket/sockopt.rs`, the implementation of `Get<T>::unwrap` will check the return length, but if you don't set the correct length before you call the `getsockopt`, actually it will just d

[2015-06-15 03:20] zonyitoo commented on #132
One possible solution, modify `Get<T>::blank` to become

[code]

and remove the check in `Get<T>::unwrap`.

[2015-06-15 09:40] SirVer commented on #131
I am sorry, my original bug description was not super great. I was back at my machine today and conjectured a fix real quick in attached pull request.

[2015-06-15 20:39] #132 closed

[2015-06-17 17:48] carllerche commented on #131
Fixed by d9808975608e7818be2d564357469dab0a31e1d2

[2015-06-17 17:48] #131 closed

[2015-06-19 07:46] SirVer commented on #131
thanks!

[2015-06-25 17:48] gozes opened #138 "Ptrace support"
It be really helpful if this library had support for sys/ptrace

[2015-06-28 03:14] danReynolds opened #139 "Additional Signal codes"
Is there a reason why there aren't some signals like SIGSTP? I want to handle ctrl+z as well. Is there a standard that we are completing or have these ones just been specifically chosen at https://carllerche.github.io/nix-rust/nix/sys/signal/index.html ? Thanks guys.

[2015-06-28 03:16] #139 closed

[2015-06-29 04:06] nikklassen opened #140 "Illegal hardware instruction on Mac OS when using signals"
Hi.  I have the following program
[code]

When I run this program and hit ^C I get the output "Illegal instruction: 4" and the program crashes

My system information is
libc: v0.1.8
nix: v0.3.7
Mac OS: 10.10.3
rustc --version:  1.2.0-nightly (9ad0063a1 2015-06-20)

I believe this has to do with the implementation of [sigaction](https://github.com/carllerche/nix-rust/blob/master/src/sys/signal.rs#L

[2015-07-01 22:52] carllerche commented on #140
Sorry for the delay (on vacation). You are most likely correct that there is an issue w/ the sigaction binding. I would greatly appreciate a PR :smile:

cc @geofft

[2015-07-01 22:53] carllerche commented on #138
I agree! I'm pretty swamped at the moment though, so it would have to be a contribution :) If you have a PR I would be happy to take it :heart:

[2015-07-01 23:01] nikklassen commented on #140
No worries.  I can definitely make a PR for you.

[2015-07-01 23:49] geofft commented on #140
Yeah, nix should probably resync with [libstd/sys/unix/c.rs](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/c.rs) at some point; I think that's where many of those bindings came from.

I don't _think_ your prototype is correct (`sa_handler` and `sa_sigaction` overlap, and there's no `sa_restorer` on OS X), so I'm a little confused about why one crashes and not the other. It's po

[2015-07-02 01:57] joekain commented on #138
I might have a PR in a day or two.  I have something written up that should work for Linux that I'm in the process of testing.

[2015-07-02 05:11] MarkusJais commented on #62
I close this one as I am working on it. It might currently be broken but I'll open a new one for that.

[2015-07-02 05:11] #62 closed

[2015-07-02 05:14] MarkusJais opened #142 "mq support might be broken"
Hello,

After trying to add support for mq_getattr I realized that mq_open might be broken. This has probably to do with the varargs call. It all looks ok but I am not sure if it is really done correctly. mq_open takes a var_args at the end for the mode_t and mq_attr arguments.

For now do not use it in production!

See also the discussion here:
https://users.rust-lang.org/t/problem-with-calling-c

[2015-07-03 18:18] #140 closed

[2015-07-03 22:07] #138 closed

[2015-07-03 22:10] carllerche commented on #139
Sorry for the delay (on vacation). There is no real reason. Signal support is still a work in progress...

cc @geofft the resident signal expert :smile:

[2015-07-04 21:45] joekain opened #144 "Intermittent failures running cargo test"
I was trying to track down some intermittent failures with some new tests I was writing and write a script to run `cargo test` over and over.  With master I see 3 distinct failures signatures:

1. This is due to an off-by-one error in sys::test_uio::test_readv.  I have a change to fix this and will submit a PR.
        failures:

        ---- sys::test_uio::test_readv stdout ----
        thread 's

[2015-07-05 12:35] hyunsik opened #146 "statvfs and fstatvfs support"
There is no way to get file system statistic information in Rust. It would be great if nix-rust supports these system calls.

[2015-07-06 17:20] carllerche commented on #146
:+1: I would happilly accept a PR for this!

[2015-07-06 17:22] carllerche commented on #144
Merged this. Thanks!

[2015-07-06 17:22] #144 closed

[2015-07-07 00:53] hyunsik commented on #146
Sounds good to me. I'll try it.

[2015-07-07 20:39] MarkusJais commented on #142
Maybe I've fixed it. PR will follow soon. Will need careful review.

[2015-07-08 15:01] joekain commented on #144
Oops, I guess I should have filed 3 separate issues.  Problems 2 and 3 still persist.  I'll file new issues for them.

[2015-07-08 15:03] joekain opened #154 "Unexpected ENOTTY in sys::test_termios::test_tcgetattr"
I occasionally see this failure if I run cargo test over and over:

[code]

[2015-07-08 15:08] joekain opened #155 "Intermittent failure in test_unistd::test_wait"
I see occasional failures in test_unistd::test_wait if I run cargo test over and over:

    failures:

    ---- test_unistd::test_wait stdout ----
    	thread 'test_unistd::test_wait' panicked at 'assertion failed: `(left == right)` (left: `Ok(Exited(14028))`, right: `Ok(Exited(14031))`)', test/test_unistd.rs:41

    ---- test_unistd::test_execve stdout ----
    	thread 'test_unistd::test_execve'

[2015-07-08 15:10] joekain commented on #155
The problem is that `cargo test` runs the tests in parallel and the test may span multiple child processes at once.  Then calling `wait` will return when any of the child processes stop.  `test_wait` only expects wait to return for its child.

@cmr suggested using RUST_TEST_THREADS=1 as a work around.

[2015-07-08 20:43] carllerche commented on #155
I'm OK w/ that. It would be nice for there to be a way to default to this in Cargo.toml

[2015-07-08 20:51] carllerche commented on #155
Merged this: https://github.com/carllerche/nix-rust/commit/06aaa83e5da19dd35908ba42de6f7ed12a66553f

[2015-07-08 20:51] #155 closed

[2015-07-08 20:55] carllerche commented on #154
Is this related to #155?

[2015-07-08 21:25] joekain commented on #154
I believe this is a separate issue. If I comment out test_wait from #155 this issue still reproduces.

[2015-07-09 05:07] joekain commented on #154
@carllerche, actually looks like this is sort of related to #155 at least in that it does not reproduce if I set RUST_TEST_THREADS=1.  I ran `cargo test` in a loop for 2 hours with over 11,000 runs before I stopped it.  I never saw a failure.  Without the environment variable it never ran anywhere near this long without an error.

I don't think this is the same `wait` problem from #155 - it's a di

[2015-07-11 22:52] danburkert opened #159 "compile failure against latest version of libc"
libc 0.1.9 was just released, and nix on linux is failing to compile against it:

[code]

[2015-07-12 13:41] yupeng820921 commented on #159
Thanks danburkert, I just hit the exactly same error, and set the nix to danburkert's repo in Cargo.toml can solve this issue:
[dependencies]
nix = { git = "https://github.com/danburkert/nix-rust" }

[2015-07-12 21:09] rorytrent commented on #159
@yupeng820921 , I was able to compile nix using this fix, but when it is listed as a sub-dependency in one of the other included libraries it still attempts to compile the broken version. Do you know of any fix for that besides forking the other dependency or waiting for this repo to be updated?

[2015-07-12 21:16] danburkert commented on #159
@rorytrent the mechanism that would allow you to do this in Cargo appears to be broken: https://github.com/rust-lang/cargo/issues/1800.  A quick and dirty fix is to manually edit your local Cargo.lock file and replace any instances of the libc 0.1.9 dependency with 0.1.8.

[2015-07-13 18:26] carllerche commented on #159
Looks like libc 0.1.9 was yanked. I'm going to close this issue.

[2015-07-13 18:26] #159 closed

[2015-07-20 03:02] overminder opened #165 "sys::epoll::EpollEvent needs #[derive(Clone, Copy)] for Android as well"
Hi,

I failed to cross-compile `nix 0.3.9` for `arm-linux-androideabi` on a `rustc 1.1.0-dev`. The error message was ``error: the trait `core::clone::Clone` is not implemented for the type `sys::epoll::EpollEvent` [E0277]``.

Looking at [src/sys/epoll.rs](https://github.com/carllerche/nix-rust/blame/a384b1d7be2d634c4a564e70c77af3a466782f75/src/sys/epoll.rs#L97) it seems that `EpollEvent` is missin

[2015-07-20 22:13] #165 closed

[2015-07-20 22:14] carllerche commented on #165
Thanks for the report!

[2015-08-06 21:59] stouset opened #169 "Doesn't support abstract UNIX sockets"
To use a socket in the abstract namespace, one `bind()`s a socket to a path beginning with a NUL byte. Unfortunately, there's an [explicit test](https://github.com/carllerche/nix-rust/blob/master/src/lib.rs#L99) that fails on a NUL encountered in a path. Additionally, functions like `strcpy()` [are called](https://hoverbear.github.io/raft/src/nix/sys/socket/addr.rs.html#351) in parts of the librar

[2015-08-07 01:03] stouset commented on #169
I discovered one other related issue prohibiting this kind of use.

When `bind()` is called, a length is passed. This length specifies the size of the `sockaddr` struct passed. In the case where `sun_path` is a filesystem path, it's fine to pass `sizeof(sockaddr_un)` since the path is terminated with a NUL byte. In the abstract namespace case, the length passed must be the size of actual path inte

[2015-08-10 18:00] carllerche commented on #169
Hmmm... thanks for the report. I am going to have to read up on abstract UDS.

[2015-08-10 18:21] stouset commented on #169
They're (conceptually) pretty simple. If you provide a path that's prefixed with a "\0", the address provided won't refer to a location on the filesystem. Additionally, the path will not be treated as a NUL-terminated string. This last bit is the only semi tricky bit to implement in `nix` — you will need to remember somewhere the length of the path given, since something like `\0foo\0\0` with leng

[2015-08-17 18:03] carllerche commented on #76
I attempted to contact the nix package manager author, but did not hear back. I have not been convinced that a rename is worth it given the history of "nix" meaning *nix / unix flavored.

I am going to keep the nix name.

[2015-08-17 18:03] #76 closed

[2015-08-17 18:03] carllerche commented on #129
I would take a PR for this. Going to close the issue for now.

[2015-08-17 18:03] #129 closed

[2015-08-17 18:06] carllerche commented on #169
I think the way to fix this would be to take an Option path to represent the abstract socket. I would take a PR for this. It would be a breaking change so the nix version would need to be bumped.

[2015-08-17 18:22] stouset commented on #169
Happy to provide. I'm getting back up to speed w/ Rust after several months away, so apologies if I'm a bit slow. I assume you mean an `Option<NixPath>` to `UnixAddr::new()`? I'm not sure how this distinguishes between an abstract path and a filesystem path.

[2015-08-17 18:33] carllerche commented on #169
Ok, I took a look.

[`SocketAddr`](https://github.com/carllerche/nix-rust/blob/master/src/sys/socket/addr.rs#L403-L406) is an `Inet` or `Unix` addr. `UnixAddr` contains a libc::sockaddr_un, which would have a null path to indicate an abstract socket.

I would think that the best way to handle this would be to add `UnixAddr::abstract()` that returns an abstract unix address. However, existing addr

[2015-08-17 19:45] MarkusJais commented on #142
Closed, problem solved.

[2015-08-17 19:45] #142 closed

[2015-08-17 19:48] MarkusJais opened #174 "Strange build issue with libc"
Hi,

I get this error message:

failed to select a version for `libc` (required by `rand`):
all possible versions conflict with previously selected versions of `libc`
  version 0.1.10 in use by libc v0.1.10
  possible versions to select: 0.1.5

Very strange. I played with version numbers, no change.

I doubt that this is a nix-rust issue because there was something similar with mio and cargo a whi

[2015-08-17 20:36] stouset commented on #169
A `NULL` `sun_path` doesn't indicate an abstract socket. A `sun_path` *starting* with a `NULL` byte does. Unfortunately, this means we also have to store the length of the path provided, as abstract paths are not `NULL`-terminated strings (whereas filesystem paths are).

[2015-08-18 05:29] MarkusJais commented on #174
The problem seems to be gone. As of today it compiles without problems. Strange :-)

[2015-08-18 05:29] #174 closed

[2015-08-21 10:33] vertexclique commented on #146
:+1: for that! @hyunsik

[2015-08-26 04:56] geofft commented on #88
I have a patchset for this that's almost done; I'll send a PR in a day or two.

[2015-08-26 05:08] geofft opened #177 "getpeername() panics on AF_UNIX sockets because sockaddr_un varies in size"
[code]
does this:
[code]

The panic is in `sockaddr_storage_to_addr`:
[code]

From some print statements, it looks like `len` is 2, whereas the size of the structure is 110. strace traces this as

[code]

It looks like it's valid for a `sockaddr_un` to report a length shorter than the maximum size, and we're supposed to treat this as a flexible array member or something. The easiest answer may be

[2015-08-26 16:23] carllerche commented on #177
Ah... makes sense. And yes, nix definitely could use more tests :)

[2015-08-26 18:11] tailhook opened #178 "Any plans for new release?"
In particular I'm interested in `waitpid` and `clone` functions which were recently fixed. I'm asking because it blocks releasing of my `unshare` crate which deals with linux containers.

[2015-08-26 18:51] posborne commented on #177
Does anyone have a good idea for mocking out libc calls?  One thought is to use something like `#[link_args = "-Wl,wrap,ioctl]` to wrap system calls, but this is not particularly portable and relies on unstable parts of the language.

This seems to be the biggest barrier to adding better test coverage.

[2015-08-26 19:20] geofft commented on #177
I feel like for `getpeername` one ought to be able to use the native OS implementation for all address families, since there's a meaningful localhost. In the general case, is it sufficient to run the tests inside a VM on an isolated network? Then you can test things that involve root (like `mount`), test things that involve all types of network protocols, etc. Some shell scripts to create VMs and

[2015-08-27 09:05] operutka opened #181 "epoll does not work on Raspberry Pi"
Hi,

I'm facing problems with epoll on Raspberry Pi. I've figured out it's due to different size of the EpollEvent structure. The structure defined in rust comes out packed but the native structure is not packed (i.e. it's 16 bytes wide). In my opinion, it's common pattern for the whole arm architecture, so the code in `sys/epoll.rs` should be changed to something like this:

[code]

I can send yo

[2015-08-27 17:38] carllerche commented on #181
Makes sense. I don't have a raspberry pi setup so I can't test. Is there a way to add it to CI?

[2015-08-27 18:19] operutka commented on #181
I've already tested it and it works fine with RPi. Unfortunately, I cannot test it on other arm platforms. I'm not sure what you mean by CI but in case you mean Continuous Integration - it should be quite easy even though I don't know your CI setup. You just need a cross-compiler and some HW to test the binary.

Follow these steps to build your cross-compiler:
[https://github.com/npryce/rusty-pi/b

[2015-08-27 19:33] carllerche commented on #181
I'll talk a look. I use travis. It would be nice to try to run the tests in a virtualized arm environment or something...

[2015-08-28 17:43] agrover commented on #178
ioctls appear to be inoperative at the moment.

[2015-08-28 18:35] carllerche commented on #178
@agrover what do you mean?

[2015-08-28 22:11] agrover commented on #178
@carllerche on further examination I am wrong, I guess `ioctl!` actually is what calls ioctl() now, and no doubt it works :smile:

But some more documentation and examples around ioctl! would be great. I see how iorw!() and friends map to what was in 0.3.9, but converting read_into(x) and read_into_ptr(x) calls into ioctl!(x) is not at all clear to me, or documented as well as the old way was.

(t

[2015-08-28 22:42] posborne commented on #178
@agrover, I can work on improving the documentation.  For now, here's a couple pieces of code I have started to put together using the new macros:

* Working: https://github.com/posborne/rust-spidev/compare/nix-ioctl-changes
* WIP: https://github.com/posborne/rust-i2cdev/blob/master/src/linux/ffi.rs#L179 (i2c uses the "bad" ioctl variant; there are rough edges here).

To be honest, I have somewhat

[2015-08-28 23:30] agrover commented on #178
@posborne thanks that'll get me started!

[2015-08-31 03:47] carllerche commented on #178
Done!

[2015-08-31 03:47] #178 closed

[2015-09-01 02:28] jmesmon opened #184 "ioctl! macro does not allow definition of public ioctl wrappers"
There doesn't seem to be an easy way to simply make public the generated ioctl wrappers without essentially duplicating all of their work (writing wrapping functions with the appropriate signature)

An easy way to prefix with 'pub' would be nice.

[2015-09-01 05:00] posborne commented on #184
Ah, sure enough.  I was hoping that it would be possible to just put `pub` in front, but this is clearly not the case.

[2015-09-01 20:35] posborne commented on #184
@jmesmon Any thoughts on having pub be what the ioctl supplies.  This is what I have implemented now in my PR.  I'm thinking a common pattern might be to close over `ioctl!` definitions with `mod ioctl` namespace which gives the flexibility to control the visibility.

Other feedback welcome.  If there are warts with the new interface, its probably best to fix them now before too many people have u

[2015-09-02 00:13] jmesmon commented on #184
Well, I looked a bit further at what the current ioctl! macro provides while updating a few of my crates, and I ended up needing some wrapping functions anyhow (bare ioctls rarely make sense).

So despite me opening this issue, I'm not sure I really need a way to make the wrappers pub (that was just the first thing I reached for when updating things).

[2015-09-03 19:31] carllerche commented on #181
Fixed by #c6cad77d10836f12ecda7bee5fb7a57ee6ea4f89

[2015-09-03 19:31] #181 closed

[2015-09-03 20:45] carllerche commented on #146
@hyunsik any luck?

[2015-09-15 17:38] #184 closed

[2015-09-15 19:24] carllerche opened #190 "Figure out the future of nix"
**tl;dr** Should nix be split up into multiple crates named `nix-*` and what should the API style be?

## The situation

Nix originated as a posix binding dumping ground for various crates that I had been working on. I tended to need the same bindings over and over again, so I just moved them into Nix. I thought this would be useful for other people, so I accepted PRs for various system APIs as th

[2015-09-15 19:35] aturon commented on #190
cc @alexcrichton (possibly relevant for liblibc plans?)

[2015-09-15 19:56] joekain commented on #190
I’m not sure what the best approach is here but here are few thoughts I had:

This is possible within a single crate if you wanted to give others ability to merge pull requests.  Multiple crates would give finer control e.g. someone can have permission to merge ioctl changes but not fcntl changes.

Awesome.

This is something to discuss in terms of developing nix but I think single crate or multip

[2015-09-15 20:59] carllerche commented on #190
@joekain My proposal would be to keep all the code in the same git repository, but to release individual crates to `crates.io`. This would only be to allow the versions to progress independently. There should be a consistent style across all the individual crates.

[2015-09-15 21:00] carllerche commented on #190
@alexcrichton also mentioned that he had a goal of generating all the constants / unsafe FFI definitions needed for nix in the the `libc` crate, which would allow nix to purge all the unsafe / const bindings in favor of focusing entirely on the Rust API.

[2015-09-15 21:21] alexcrichton commented on #190
Ah and to clarify, I'm not sure we'll be generating the `libc` crate, but we're going to start verifying it much more rigorously, so it should be much easier to add to but will still require additions.

[2015-09-15 22:43] posborne commented on #190
Thanks for bringing this up @carllerche.

I am in favor of your proposal to retain a single git repository for the "official" nix libraries in order to provide consistency but breaking out subsystems into discrete crates that are largely independent (with the exception of nix_core).

The level of abstraction question is one that I have been thinking about more as changes have been made with the `i

[2015-09-24 10:19] polachok commented on #146
I'm working on this one

[2015-09-28 17:57] #88 closed

[2015-09-28 19:45] carllerche commented on #146
Looking forward to it!

[2015-09-28 22:18] hyunsik commented on #146
I'm sorry for late response. Also, thank you @polachok for your contribution.

[2015-09-29 08:26] vertexclique commented on #146
:+1: thanks for all the fish :)

[2015-10-01 16:48] #146 closed

[2015-10-03 12:30] RAOF opened #196 "Add AF_BLUETOOTH and associated socket bits"
Bluetooth (at least on Linux) works over regular old boring sockets with a AF_BLUETOOTH socket type and various BTPROTO_FOO flags.

I'd like to have access to these, and it seems sensible to have them in nix.

[2015-10-08 04:04] geofft commented on #169
Let me know if the changes in #198 are sufficient to fix this in your opinion. I've added a new field to `UnixAddr`, removed the calls to `strcpy` and `strlen`, and changed the function returning `&Path` to instead return `Option<&Path>`, which bypasses the embedded-NUL check on non-filesystem socket addresses. And added a constructor `new_abstract`, for convenience.

Maybe `.sun_path()` should be

[2015-10-08 20:28] stouset commented on #169
I'll take a look, thanks!

[2015-10-08 20:35] stouset commented on #169
It looks sufficient, but I won't have a chance to play around with it for a bit.

[2015-10-14 08:57] polachok opened #200 "Linux-only features in nix"
I just started working on Netlink sockets support for rust.
Do you think adding support for Netlink (only available on linux) is in scope of the project, or it would better to create a separate library reusing parts of Nix?

[2015-10-28 16:14] carllerche commented on #200
The exact design guidelines of nix are still in flux (#190). However, nix definitely includes linux only APIs. So, :+1:

[2015-10-28 16:34] #169 closed

[2015-10-28 16:34] #177 closed

[2015-10-28 18:00] posborne commented on #200
Netlink supports sounds good to me.  It looks like there is a start to providing libnl bindings for Rust: https://github.com/carrotsrc/rsnl and https://github.com/carrotsrc/rsgnl.  That being said, I would prefer to have a direct syscall interface available.

[2015-10-28 19:05] polachok commented on #200
@posborne what do you mean by direct syscall interface? Is [this](https://github.com/polachok/rust-cnproc/blob/master/src/socket.rs) direct enough?

[2015-10-28 20:21] posborne commented on #200
Sorry yes.  Syscall was obviously not the right word in this case as netlink uses sockets.  Basically, without wrapping another library like libnl (libc is fine)

[2015-11-08 18:40] gwenn opened #201 "ioctl call with nix 0.4.*"
Hello,

What it is the equivalent in version 0.4.* to the following call in version 0.3.*:
[code]
(https://github.com/gwenn/rustyline/blob/master/src/lib.rs#L185)

Thanks

[2015-11-08 19:01] gwenn commented on #201
Maybe I should use libc directly ?
[code]
http://doc.rust-lang.org/libc/x86_64-apple-darwin/libc/fn.ioctl.html

[2015-11-09 02:00] posborne commented on #201
This works:

[code]

[2015-11-09 17:18] gwenn commented on #201
Thanks.

[2015-11-09 17:18] #201 closed

[2015-11-09 17:33] posborne commented on #201
I think the original implementation did probably find the wrong level of abstraction.  Here, it would be nice to use the semantics you get with `read` but that is hard coded to do the equivalent of an `_IOR`.  As discussed in  #190, another option might have been to support both the macro and function interface approach.

For now, I certainly don't want to introduce another set of breaking changes

[2015-11-17 03:23] kamalmarhubi opened #205 "Rationale behind `Errno::clear()` being unsafe?"
Was wondering about this. It ought to be safe as it's thread local.

[2015-11-17 05:15] carllerche commented on #205
I don't know, I copied this from the rust std (before it got deleted). I haven't thought much about it.

[2015-11-18 03:30] kamalmarhubi commented on #205
That makes enough sense for me!

[2015-11-18 03:30] #205 closed

[2015-11-20 22:16] anachrome opened #206 "Documentation lacks modules that depend on compile-time features."
The documentation linked from the readme does not include the modules `sys::signalfd` or `sys::eventfd`, both of which are present in the source (with `#[cfd(feature = "...")]` flags).

[2015-11-24 11:59] #200 closed

[2015-11-30 17:55] droundy commented on #190
My vote (as a user who is only starting to use nix) would be to keep nix as a monolithic crate, and just let users bump their version dependencies.  They shouldn't be forced to bump the version that frequently, right? i.e. it should be safe for them to continue using an older version for some time.

I also think that developing a rusty (and complete) API would be ideal.  e.g. the ptrace signature

[2015-12-11 19:03] franleplant opened #212 "Wifi status / signal strength"
Hi!
    Before all, this is **not an issue**, but this might be the best place to ask:

[How] can I check the Wifi signal strength with this library?

Im trying to set up the basis for a little Rust project that informs the user about the Wifi signal strength as diagnostics tool, and so far I've only found Windows API's to get this information, but I'd like this as well from Linux / Unix.

Thanks

[2015-12-11 22:51] posborne commented on #212
Hi @franleplant.  The low-level interface for getting signal strength on most linux systems will be nl80211 (https://wireless.wiki.kernel.org/en/developers/documentation/nl80211).  This is the interface used by commands such as `iw`:

    $ iw dev wlan2  link
    Connected to 02:40:9d:73:e4:79 (on wlan2)
	SSID: <redacted>
	freq: 2412
	RX: 25417656 bytes (193782 packets)
	TX: 155751 bytes (1835 pac

[2015-12-11 22:52] posborne commented on #212
Just to follow up.  There is no standard interface to Wi-Fi hardware for things like signal strength on *nix systems.  It is not covered by posix whatsoever.

[2015-12-12 03:44] franleplant commented on #212
Thanks a lot @posborne , I know that this thread might take time from your already busy schedule, I appreciate you taking time to answer. ]

The information you provided is really useful, I'll dig more into it, thanks a lot!
Fran

[2015-12-12 03:44] #212 closed

[2015-12-14 08:20] kamalmarhubi commented on #85
I'd be happy to submit a PR for this, as I only just found out it was missing! Could you briefly outline some test cases that would be necessary to bring this back? I'm thinking we'd want to verify at least:

- `MS_BIND`
- `MS_NOEXEC`
- `MS_NOSUID`
- `MS_RDONLY`

result in the expected properties holding on the mount, and that `MS_REMOUNT` can change `MS_RDONLY`. Let me know if this makes sense?

[2015-12-14 14:09] kamalmarhubi opened #213 "Add safe wrappers for getuid / getgid / geteuid / getegid"
Per [getuid(2)][getuid] and [getgid(2)][getgid], these functions always succeed, so there's not even a wrapper to write.

[getuid]: http://man7.org/linux/man-pages/man2/getuid.2.html#ERRORS
[getgid]: http://man7.org/linux/man-pages/man2/getgid.2.html#ERRORS

[2015-12-14 14:20] kamalmarhubi opened #214 "Export all symbols at crate root as in libc"
As part of implementing [RFC 1291](https://github.com/rust-lang/rfcs/blob/master/text/1291-promote-libc.md), the structure of the libc crate was changed. It now exports all symbols at the top level. I think it's worth considering the same structure for nix.

[2015-12-14 14:21] kamalmarhubi commented on #190
FYI I filed https://github.com/carllerche/nix-rust/issues/214 which is probably relevant to this discussion.

[2015-12-14 14:38] kamalmarhubi commented on #213
I'm confused because I can't even find the functions now. I'm *sure* I saw them.

[2015-12-14 23:22] maghoff commented on #213
FYI, these are already wrapped in another project: https://github.com/ogham/rust-users

[2015-12-21 13:16] petevine opened #218 "bARMy types error"
This [breakage](https://github.com/rust-lang/rust/issues/29867) is responsible for errors like these on ARM Linux:

[code]

In most cases they can be fixed by simple casts `as *const _`

[2015-12-22 20:50] carllerche commented on #85
To be honest, I forgot the context around `mount` and why I left it commented out :) It looks like the `NixPath` stuff got a little involved and maybe there were bugs around it initially?

What you are suggesting seems fine.

[2015-12-22 20:52] carllerche commented on #190
@droundy the main driver around splitting up the crate is that a breaking change in a less thought out part of the API isn't a breaking change in other parts...

@kamalmarhubi Yep, thanks for filing it.

In general, this issue is on hold until libc stabilizes a bit and pulls in the required symbols.

[2015-12-23 13:26] kamalmarhubi commented on #85
Yeah, the `NixPath` stuff changed a bit. I'm not sure what it's meant to do, but I have some WIP towards re-enabling it. I'm on vacation, but I'll figure out where that is at and send a PR hopefully by new year. :-)

[2015-12-25 08:10] kamalmarhubi opened #221 "Document NixPath trait"
https://github.com/carllerche/nix-rust/blob/00c7905a8a85668d0993420e356a56002ab23905/src/lib.rs#L115

I'm trying to bring back `mount` (#85) and while I can make it work, I'm not 100% sure of what the purpose of `NixPath` is. Could do with a 1-2 sentence explanation of why and when to use it. Its name is confusing for `mount` because the filesystem type is passed as a `NixPath`, though it isn't re

[2015-12-26 05:37] kamalmarhubi commented on #213
Thanks for that link! Scoped uid changes are nifty. I still think it would be nice to have the basic functions in nix. They are present in libc after all. :-)

[2015-12-27 18:43] kamalmarhubi commented on #85
I realised that the test won't be able to actually mount anything without superuser privileges (or `CAP_SYS_ADMIN` on linux). Best I can think of is Linux only: create a new user and mount namespace, allowing the process to mount some things for test purposes. This is what I'm putting together.

[2015-12-28 06:59] arcnmx commented on #221
`NixPath` needs a major rehaul...

1. It's a weird `Into<CString>` hybrid-like thing that also happens to use a large part of the stack and checks len against MAXPATHLEN, [which isn't really helpful anyway](http://insanecoding.blogspot.ca/2007/11/pathmax-simply-isnt.html).
2. The closure `with_nix_path` usage is super awkward ([just look at mount's current commented-out implementation!](https://gi

[2015-12-29 09:17] viraptor opened #226 "Export types from function signatures, or libc in general"
I've found that there's a number of types like pid_t which are either function results or arguments, but they're not explicitly exported. This means either I have to depend on libc myself and track the version nix depends on, or use a hacky solution (pid_t is available via nix::sys::ioctl::libc::pid_t).

It would be great if the types used in public signatures were either available through nix in

[2015-12-29 22:22] arcnmx opened #227 "mkdev"
Is this meant to be an implementation of `makedev(3)`? glibc's makedev on my machine works something like:

[code]

... which is required in order to create a `dev_t` for `nix::sys::stat::mknod`

[2015-12-30 07:51] kamalmarhubi commented on #221
The stack usage gave me a lot of confusion with "disappearing" strings! (This was "my fault" for returning the result of `as_ptr` from the passed in closure, but not quite intuitive...)

Using `AsRef<CStr>` seems limited. Not even `CString` implements it. Perhaps `AsRef<OsStr>` would be better. This would also allow passing `Path` and `PathBuf`, `str`, and `string`. This would require a copy to en

[2015-12-30 11:06] arcnmx commented on #221
Mm, that's the purpose of using the closure. It's not a rare Rust idiom, but shouldn't really be used unless strictly necessary. Lifetimes would normally catch that sort of misuse, but oop pointers!

Yeah as soon as I realised that I submitted https://github.com/rust-lang/rust/pull/30616 because that's a huge missing trait impl for libstd. It's silly, it basically means we're stuck with using our

[2015-12-31 07:38] kamalmarhubi commented on #221
Yeah! Working on `mount` is part of my first attempt at a Rust project, and I had a bit too much faith in the borrow checker. Took me several runs under `gdb` to see that I was clobbering the buffer, and to understand that the pointer doesn't have a tracked lifetime. Learning!

This sounds like a good plan.

Assuming this was the desired path, would `Into<T: AsRef<CStr>>` work? I'm still learning

[2015-12-31 07:38] kamalmarhubi commented on #221
Given the direction of discussion here, I'm changing the title of the issue :-)

[2015-12-31 11:03] kamalmarhubi commented on #221
One additional niggle of using `AsRef<CStr>` is that there's no way to safely have a null `CStr`. For functions that allow null `char*` args. This is already a problem with `NixPath`, just another thing to be aware of. Taking `Option<&T> where T: AsRef<CStr>` kind of works, but I can't figure out how to use `None` without needing to be explicit about the concrete type `T`.

[2015-12-31 11:14] arcnmx commented on #221
Yeah, that's a pain... `Option<T>` with a default type would be the way to do it, but
[default types influencing inference doesn't seem to be (fully?) implemented yet](https://github.com/rust-lang/rust/issues/21939)... Need to use `Option<&CStr>` instead until then. Not too big a pain when your type impls `Deref<Target=CStr>` (as `CString` does) at least. At the worst it means you have to do an `.

[2015-12-31 11:47] arcnmx commented on #221
In fact, until `impl AsRef<CStr> for CString` lands in libstd, we could really just use `&CStr` everywhere instead. The one thing the trait buys you is being able to move types into the call instead of requiring them to be borrowed... Making a nix-specific trait isn't a huge deal, but may not even be worth it when `&CStr` works almost as well thanks to deref coercion.

The difference is that `Into

[2015-12-31 15:17] kamalmarhubi commented on #221
default types influencing inference doesn't seem to be (fully?) implemented yet...

Yeah, as one of my multiple attempts at a semi-ergonomic `mount` in the current framework, I had this monstrosity:

[code]
It didn't work.

[2015-12-31 15:24] kamalmarhubi commented on #221
Especially for the `fstype` and `data` arguments of `mount`!

This comes back to functions that allow `NULL` to be passed in. `NULL is *not* a `CString` or `CStr`, and that makes things a bit difficult. Does nix want to be responsible for reading all platforms' manpages do be sure every nullable string argument is passed as an `Option<&CStr>`?

[2015-12-31 16:03] arcnmx commented on #221
Yes, that's exactly what `Option<&>` is for! Whether NULL is valid or not is usually well specified, though I've never actually seen an explanation for when `NULL` is okay in the `mount` parameters >_>

[2015-12-31 16:25] kamalmarhubi commented on #221
My justification for the existing (commented out) set of `NULL`-allowing parameters:
[code]

Still, requiring careful reading of manpages to get the nix bindings right seems a bit error prone. It's probably fine, but we'll end up with a few breaking changes as things get fixed. Platform-specific differences can be handled by conditional compilation.

[2015-12-31 16:42] arcnmx commented on #221
Error prone maybe, but very necessary. In Rust, nullability is part of the type system. In C, it's just part of an API contract. It's usually pretty obvious when something can be NULL or not, but yes, it's up to nix to figure out what the proper argument types to any function should be.

Well, there needs to be a guarantee that it won't try and read from the pointer... Which my previous readings o

[2016-01-01 19:03] kamalmarhubi commented on #85
I realised that existing bindings are Linux-only to begin with. In BSDs, the flags are different, and the unmount call is called `unmount` not `umount`.

[2016-01-02 00:09] kamalmarhubi commented on #85
More niggles: `MS_REMOUNT` is not permitted from within a user namespace. This limits the tests I'll submit to:
- verify that `MS_RDONLY`, `MS_NOEXEC` work as expected
- verify that `MS_BIND` works
- use `MS_BIND` to verify that `MS_RDONLY` mounts allow executing (since `MS_REMOUNT` is out)

I haven't done any tests of `MS_BIND` yet, so this is still subject to change. Still have some investigatio

[2016-01-04 19:59] kamalmarhubi commented on #85
I think testing `MS_NOSUID` is possible using `newuidmap`, but the overall setup to test that would be a little convoluted. I'm going to skip it, and submit a PR soon with the other tests mentioned above.

[2016-01-05 14:02] MarkusJais commented on #190
I think the most important thing is to have a consistent style for APIs.

Putting the low-level bindings in libc is a good idea and then nix could just wrap them so no unsafe stuff is necessary for the user of nix. And we could add convenience functions on top of the low-level bindings (e.g. the mq_set_nonblock/mq_remove_nonblock I've added to mqueue.rs) that makes using the APIs easier (but avoid

[2016-01-05 15:52] kamalmarhubi commented on #190
I like the idea of moving as much of the current `ffi` module stuff to libc as possible. The main things attracting me to nix are:
- no unsafe necessary in user code
- Rustified error handling

I don't have enough experience in any of the areas where nix has fancier bindings, so I can't comment on that at all. I can say I do like things mapping directly to man pages for what I'm trying to do at th

[2016-01-05 22:32] kamalmarhubi commented on #85
Having trouble getting this to work. My bind mount seems to have the same flags even though my reading of the man page says I should be able to set flags.

[2016-01-07 02:18] kamalmarhubi commented on #226
Many of them are in `sys/types.h` ([POSIX spec](http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/sys_types.h.html)), so exporting at least those ones under `nix::sys::types` seems reasonable.

[2016-01-13 14:14] chengchangwu commented on #218
Same problem here with nix-rust v0.4.2. Please upgrade to libc v0.2.

[2016-01-13 17:20] carllerche opened #236 "Assemble a team of maintainers"
Relates to #190

Nix has a vast scope, bigger than I can manage on my own. I am constantly a blocker for getting PRs merged and issues looked at. I need help!

Given that nix covers many facets of APIs on *nix systems, it should be plausible to officially split responsibility based on that. Eventually, these difference facets will be moved into `nix-*` libs and iterate versions independently.

If

[2016-01-13 17:34] #213 closed

[2016-01-13 20:47] kamalmarhubi commented on #236
I've become a huge fan of nix so I'd definitely love to help out. I've mostly been working with process stuff in `unistd`, `sched` (Linux only though), and a bit of `mount`.

[2016-01-13 21:04] kamalmarhubi opened #238 "Decide on a rust version support policy"
I just sent a [PR to track stable and beta channels of Rust](https://github.com/carllerche/nix-rust/pull/237). This would drop "official" support for 1.1, on the assumption that users are going to track stable.

Thoughts?

[2016-01-14 19:52] fiveop commented on #236
My current private project involves a lot of work with signals. I would therefore offer to look after anything singals related.

[2016-01-17 19:02] carllerche commented on #236
@kamalmarhubi @fiveop Thanks! I added you as collaborators.

@posborne I added you since you have *way* more ioctl knowledge than I do.

@utkarshkukreti I've added you as you have many good commits :)

I created an IRC channel on the mozilla IRC server (irc.mozilla.org). The channel is #nix. It would be good to chat a bit to coordinate. I would like to move #190 forward at some point. Aka, come up

[2016-01-18 09:08] fiveop commented on #49
I have the same problem and was thinking of using one or two enums to encapsulate the differences between `sa_handler`, `sa_sigaction` as well as the difference between an actual function pointer and `SIG_IGN` and `SIG_DFL`. I'll work on a proposal.

[2016-01-18 18:43] carllerche commented on #227
I'm not really following the question :). Could you explain more what you mean?

[2016-01-18 18:51] arcnmx commented on #227
Um, I guess the question is... What is `mkdev` and how is it meant to be used? My assumption is that it's meant to be an implementation of `makedev(3)`, but if so it's wrong on Linux/glibc.

[2016-01-18 18:56] carllerche commented on #221
Sorry for the delay! I need remove myself as a blocker (#236 assemble a team of maintainers). @arcnmx Interested? :) If so, please comment there and / or join the IRC channel!

Everything discussed in this thread is pretty much spot on. A *lot* in nix needs an overhaul. The lib started mostly as a dumping ground for bindings vs. reimplementing them in each lib that needed them. I would like to get

[2016-01-18 19:06] carllerche commented on #221
Thinking more about it, IMO it may be worth creating a separate type for path arguments vs. string arguments.... to get some type safety. Thoughts?

[2016-01-18 19:25] carllerche commented on #227
Ah yes... you are correct :) It is most likely wrong on linux/glibc then :( Yuck. It is defined in a header vs. an FFI function on linux as well?

[2016-01-18 19:25] carllerche commented on #227
This highlights the need for having some sort of testing strategy to ensure cross platform correctness as well...

[2016-01-18 19:51] carllerche commented on #238
I commented on #237 saying that I think 1.3.0 is good for the oldest official Rust support for now.

[2016-01-18 20:17] kamalmarhubi commented on #227
:+1:

[2016-01-18 20:27] carllerche commented on #49
Great! Looking forward to it.

[2016-01-18 20:29] carllerche commented on #226
This should be fixed... However, the exact strategy is still TBD (#190).

If an FFI type is used in a function signature, it should be exported by libc. However, nix may want to create its own types and wrap the libc FFI types in order to provide stricter type safety as well as custom functions on the types.

[2016-01-18 20:56] kamalmarhubi commented on #238
On the topic, what are the pros/cons of supporting older versions? Eg could we support as far back as 1.0.0? (I only started writing Rust a month or two ago, so I don't know what's changed.)

[2016-01-19 04:18] carllerche commented on #238
Mostly a question of who is using nix and if they "freeze" their version of Rust. I know that some production Rust users who depend on "unstable" Rust features have frozen version of Rust used internally and only occasionally update it.

That's really the only reason.

[2016-01-19 04:30] kamalmarhubi commented on #238
Ok. I've made it 1.1.0+ for now. I'll look into the errors with 1.0.0 to see how reasonable it is to attempt to support all released versions.

[2016-01-19 06:35] fiveop commented on #238
I would prefer not to allow failures on nightly. I see three cases why it might fail:

1. We introduced a bug in nix. => We fix it.
2. The language changed in such a way, that our build breaks. => We fix it (if necessary with feature guards).
3. Rust nightly has a bug. => We wait a day or two.

[2016-01-19 06:53] kamalmarhubi commented on #238
I've seen broken nightly make my PRs go red at least a couple of times. On the flip side, the stability guarantee means we shouldn't see any language changes that cause breakage. And if they do happen, there will be an entire beta cycle to fix them. We an also keep tabs on nightly ourselves, since it'll be run on every PR.

[2016-01-19 06:56] kamalmarhubi commented on #238
Or summarising:

We should see it in other releases and fix it.

Shouldn't happen.

Annoying and disruptive. (Subjective, of course.)

[2016-01-19 07:52] posborne commented on #236
Sounds good to me.

[2016-01-20 00:01] viraptor commented on #226
The problem with types exported by libc is that cargo is a bit silly with pulling multiple libraries. (https://github.com/rust-lang/cargo/issues/2064)

This results in "it's T, but not the right version of T" errors unless the local cargo.toml is kept in sync with nix's cargo.toml all the time. If nix forwarded just the plain pid_t (and other affected types), it would make the maintenance easier,

[2016-01-20 18:42] arcnmx commented on #221
Well, as far as type invariants are concerned, a path is equivalent to a C string. There's not any advantage in making a wrapper type that asserts you meant it to be a path rather than a `CStr`. libstd has a `Path` type but that's mostly so that it can provide helper methods for dealing with path components - it doesn't "protect" you from using a `&str` or `&OsStr` as a parameter to a method that

[2016-01-20 19:43] fiveop commented on #190
I mostly agree with @posborne's four layers, although I do not quite see the need for the distinction between two and three (or rather the existance of level two). That leaves me with three levels:

1. libc: essentially 1:1 ffi, raw and unsafe.
2. nix: close to zero cost abstractions that provide an idomatic API using `Result`, `Optional`, structs with methods, bitflags, etc., 100% functionality a

[2016-01-20 20:04] fiveop commented on #49
#241 would solve the second part of the question. The first would be solved by using libc's raw structs instead of our own. See https://github.com/rust-lang-nursery/libc/blob/master/src/unix/bsd/apple/mod.rs .

[2016-01-20 20:23] kamalmarhubi commented on #238
@arcnmx any thoughts on this? You have some changes in mind that seem to assume bleeding edge rust...

[2016-01-20 20:33] kamalmarhubi commented on #221
If we're dropping the `InvalidPath` variant, can we just use `std::io::Error` with `from_raw_os_error` instead?

[2016-01-20 20:36] arcnmx commented on #238
It'd be nice if they raised warnings so we can audit why it failed, but in general it seems fine to me. Failing on nightly, unless we were to use some unstable features, should be considered a rustc bug. Recently this was the case with the `rand` crate, and lasted quite a number of days. If we're ever to perhaps start using @homu we may not want to deal with them being hard failures.

My general b

[2016-01-20 20:48] arcnmx commented on #221
We could! I think `nix::Errno` fits well though, it has a `From<Errno> for io::Error` impl so that `try!(errno)` "just works". This way you can inspect the errno if you like as opposed to using `error.raw_os_error().unwrap()` or whatever, and there's not much friction with functions that return `io::Error`.

It's kind of tangential to dropping `InvalidPath` though, since that already could've been

[2016-01-20 21:44] kamalmarhubi commented on #221
Sounds good.

[2016-01-21 20:53] kamalmarhubi commented on #226
What do you mean by this? I'm not all caught up on how the multiple versions of a Crate stuff works.

[2016-01-21 20:56] kamalmarhubi commented on #190
I don't have a proper understanding of how multiple versions of a crate play together. According to #226, tying nix's types to libc could result in downstream users having weird effects due to multiple libc versions being around. @fiveop do you have any insight, since this seems to go against what you're suggesting / working towards with signals.

[2016-01-21 22:08] viraptor commented on #226
It's hard to explain in practice beyond "bad things happen if you don't ensure there's only one libc"... I'll try to create a minimal example.

[2016-01-22 17:37] fiveop commented on #226
Suppose we have two versions of libc (A and B). Further assume that we have to libraries: foo and bar.
foo uses libc version A and bar, while bar uses libc version B.

Now if bar exports a function like this:

[code]
and foo uses it as follows

[code]
then you'd get an error. Because `a` has type `libc::c_int of version A`, while `baz` expects an argument of type `libc::c_int of version B`.

If ni

[2016-01-22 20:46] kamalmarhubi commented on #226
Are there other alternatives to that? Seems a bit... icky!

[2016-01-23 14:03] fiveop commented on #58
After #243 only flags in `src/sys/socket/consts.rs` should remain to be converted.

[2016-01-23 22:11] jamperry opened #244 "SOCK_NONBLOCK should re-export libc::SOCK_NONBLOCK"
I believe there is a bug for SOCK_NONBLOCK as the value is not the same for all architectures so will break if it's used on a non-x86 architecture - like MIPS. For example the flag value is 128 on MIPS.

[2016-01-23 22:15] jamperry commented on #244
I just noticed that you have a dependency to `libc`. I submitted a PR to add SOCK_NONBLOCK and SOCK_CLOEXEC flags to `libc`  so you can potentially reference them and don't have to split your code into different architectures.

[2016-01-24 18:43] kamalmarhubi commented on #244
Thanks for taking a look. Bringing in the value from `libc` is probably the right thing to do.

[2016-01-24 18:53] kamalmarhubi commented on #58
@fiveop are you working on the remaining flags?

[2016-01-24 19:00] jamperry commented on #244
Alex has already merged the change into `libc` so I can submit a PR to you - hopefully tonight if I get time.

[2016-01-24 19:09] kamalmarhubi commented on #244
There's no release out with it yet, from what I could see.

[2016-01-25 23:17] kamalmarhubi commented on #238
There's some additional discussion over on users.rust-lang.org: https://users.rust-lang.org/t/rust-version-support-in-library-crates-best-practices/4405/14

[2016-01-26 17:32] kamalmarhubi opened #248 "Revisit test_mount's test runner"
#231 enables mount. The test includes a hackish little macro-based test runner because the user and mount namespaces must be entered with `unshare(2)` before any threads spawn, and the built in test runner doesn't allow that.

Relevant bit of [`unshare(2)` man page](http://man7.org/linux/man-pages/man2/unshare.2.html):

[code]

It would be better if we could use the default test runner, but this i

[2016-01-26 18:14] kamalmarhubi commented on #248
I just remembered I filed https://github.com/rust-lang/rfcs/issues/1442 almost a month ago because of this issue! I'm going to try and see if this is feasible.

[2016-01-27 20:26] kamalmarhubi commented on #221
A relevant [comment from @mbr](https://github.com/carllerche/nix-rust/pull/245#discussion_r51010049) on #245

[code]

[2016-01-27 20:58] kamalmarhubi commented on #221
The comment I linked makes me think we should have a module that provides an additional `NixString` impl that increase ergonomics:

[code]

We'd need a way to report NUL related errors back though, so I'm not sure about this yet.

[2016-01-27 21:44] kamalmarhubi commented on #221
Thinking a bit more, this complicates the plan to replace `NixPath` with a `NixString` that is equivalent to `AsRef<CStr>`. Two options I can think of:

* allow the method on `NixString` to return a `Result`
* have a parallel module hierarchy that allows using the more Rusty types

[2016-01-27 22:23] kamalmarhubi opened #251 "Investigate flaky tests: test_wait_signal, test_wait, test_execve"
I've seen these fail occasionally
- `sys::test_wait::test_wait_signal`
- `test_unistd::test_wait`
- `test_unistd::test_execve`

Maybe some others

[2016-01-27 22:37] arcnmx commented on #221
This is related again to #190: just how low-level is nix, how much behind-the-scenes magic will there be, etc? I'm not sure I consider nix to be a Rusty API so much as just a more ergonomic and type-safe `liblibc`. Abstractions can then be built on top of it.

These methods simply take a C string, it's their definition. Making it more vague is similar to say `mount()`'s `flags` argument taking an

[2016-01-28 03:14] #85 closed

[2016-01-28 04:28] kamalmarhubi opened #252 "Broken build"
https://travis-ci.org/carllerche/nix-rust/jobs/105325398#L208

Fails to compile something with gcc:

[code]

[2016-01-28 04:29] kamalmarhubi commented on #252
Only in one configuration though. I'll take a look tomorrow morning.

[2016-01-28 19:52] fiveop opened #254 "Use enums for enumeration constants"
Just like we use bitflags! for flags, we could use enums for enumeration constants. They would provide a zero cost, type safe abstraction over the current primitive type constants.

A (partial) list of places to use enums:
- [ ]  `sys::mman::MADV_*`
- [ ]  `sys::quota::Q_*`
- [ ]  `sys::signal::SIG*`

[2016-01-29 21:09] kamalmarhubi commented on #254
:+1:

[2016-01-29 21:37] kamalmarhubi opened #258 "Add CI for ARM and make it pass"
This could be done similarly to libc using QEMU: https://github.com/rust-lang-nursery/libc/blob/master/ci/README.md#qemu

[2016-01-30 04:18] kamalmarhubi commented on #252
Trying to enable it and see it it was just a fluke. I'll close the issue in a couple of days if we stop seeing failures.

[2016-01-31 22:08] viraptor opened #260 "Occasional wait test fail"
Very occasionally when testing, I run into this test failure. Seems timing / race related.
[code]

[2016-01-31 23:00] kamalmarhubi commented on #260
Closing this as a dupe of https://github.com/carllerche/nix-rust/issues/251

Thanks for the report though! I'm glad to know it wasn't just me...

[2016-01-31 23:00] #260 closed

[2016-01-31 23:02] kamalmarhubi commented on #251
Including output from @viraptor's report in #260:

[code]

[2016-02-01 18:32] fiveop commented on #58
I think we can close this now.

[2016-02-04 17:14] kamalmarhubi commented on #244
@jamperry I just checked, both your commits made it into libc 0.2.6 which is out.

[2016-02-04 17:18] kamalmarhubi commented on #58
@fiveop did you convert the ones in the original issue, or go over all flags? If the former, I think we could keep this open pending an audit to make sure we're using bitflags all over.

[2016-02-04 18:00] fiveop commented on #58
I am pretty sure that I found all of them, but please do check again.

[2016-02-04 18:23] kamalmarhubi commented on #58
@fiveop skimmed all the source, looks good!

[2016-02-04 18:23] #58 closed

[2016-02-09 00:22] kamalmarhubi opened #261 "Use homu to manage merging pull requests"
We've got enough reviewers that I think this makes sense. It'll also ensure we don't have a red build as we do right now... :-)

[2016-02-10 08:18] kamalmarhubi opened #263 "RFC: Use byte slices directly in place of IoVec"
# Summary

Make using `pread` et al nicer by getting rid of a special purpose struct and using a ubiquitous type instead.

# Motivation

Using `IoVec` in nix is a little cumbersome. At present, in nix, the `IoVec` struct is defined:

[code]

The C `struct iovec` is defined:

[code]

This is pretty much equivalent to `&[u8]`. See [`std::raw::Slice`](http://doc.rust-lang.org/std/raw/struct.Slice.htm

[2016-02-10 08:23] kamalmarhubi commented on #252
Things are fine now.

[2016-02-10 08:23] #252 closed

[2016-02-10 19:31] kamalmarhubi commented on #261
@carllerche any objections if I do this? I feel weird modifying the settings of a repo under someone else's namespace.

[2016-02-10 19:33] kamalmarhubi commented on #261
Ah I don't have access to setting as a collaborator anyway.

[2016-02-12 05:02] kamalmarhubi opened #264 "Use definitions from libc instead of writing our own"

[2016-02-12 05:04] kamalmarhubi commented on #49
Filed #264 to track the first part. I'll start on the signal module which should let us close this.

[2016-02-12 05:04] kamalmarhubi commented on #264
I'm going to start going through module by module over the next week or so.

[2016-02-12 05:14] kamalmarhubi commented on #236
After a small IRC chat with @carllerche, I've created the [nix-rust](https://github.com/nix-rust) org, and nix will be moving there soon! I added everyone mentioned here, as well as @arcnmx as members of the org.

[2016-02-12 05:33] kamalmarhubi commented on #261
The repo will be moving to the newly formed nix-rust org, which will hopefully make this easier.

[2016-02-12 05:33] kamalmarhubi commented on #263
@arcnmx any thoughts here? This seems likke the kind of thing you'd have opinions on. :-)

[2016-02-12 06:38] arcnmx commented on #263
My thought is yes that makes for a better API, however, I'd be wary about whether the layout of slices is well-defined by the language or if we're just relying on implementation details. `#[repr(C)] struct IoVec<T> { v: *const T, s: usize }` is guaranteed to have the same memory layout as the C `iovec` struct. [While slices are indeed represented as such](https://doc.rust-lang.org/stable/src/core/

[2016-02-12 16:56] kamalmarhubi commented on #263
This makes sense. I'll try and bug some people on #rust-internals to see if my evil plan could be ok.

[2016-02-12 16:58] kamalmarhubi commented on #263
As a safety feature if we get CI on more platforms, we could have a test that creates a byte slice, transmutes to `libc::iovec`, and checks fields match. Not the same as guarantees though.

[2016-02-12 20:38] kamalmarhubi commented on #261
We should have @homu now! I'm going to polish up a change that's wip and see if it all works. I've also protected master branch against force push.

[2016-02-12 21:21] kamalmarhubi commented on #238
There hasn't been much conversation here. My personal preference is to support as far back as possible. This is the same policy libc has. I'm working on a couple of things that should make this easier to achieve. Hopefully they'll be releasable in a week or so.

For the moment, we support 1.1.0+ and all are in CI. We fail on 1.0.0, and I'm looking into it.

[2016-02-12 21:26] kamalmarhubi opened #265 "Support Rust 1.0.0"
1.0.0 issues:
- in nix-test: `std::mem::size_of_val()` doesn't work on unsized types
- in nix: `FromRawFd` wasn't stable

Luckily both of these are library and not language issues.

[2016-02-12 21:27] kamalmarhubi commented on #238
I filed https://github.com/nix-rust/nix/issues/265 to track 1.0.0 support in case that's what we decide to go with.

[2016-02-12 22:13] kamalmarhubi commented on #261
Migrating the repo to the nix-rust org seems to have borked Travis, so we're kind of one step forward one step back right now. I'm going to give it a couple of hours to sort itself out, and then try and contact them.

[2016-02-13 00:33] petevine commented on #218
The latest master seems to be free of this issue.

[2016-02-13 01:39] kamalmarhubi commented on #218
Thanks for checking @petevine!

[2016-02-14 17:49] hwchen opened #268 "FreeBSD compilation error"
Trying to compile basic-http-server on a Digital Ocean Droplet, FreeBSD 10.2.

[code]

...

[code]

...

[code]

[code]

[code]

[2016-02-15 03:45] kamalmarhubi opened #269 "Make a release"
The last release was over two months ago, and a lot of new APIs have been added, as well as bumping libc to 0.2.x. Not sure whether this should be a 0.4.3 or a 0.5.0 release. The changes that make me think it might be better as 0.5.0 are:
- a number of flags became bitflags, changing argument types (though maybe not calling code?), eg in https://github.com/nix-rust/nix/pull/256, https://github.com

[2016-02-15 03:45] kamalmarhubi commented on #268
Thanks for the report! I *think* if we make a release this will get fixed, as we've bumped the libc requirement to 0.2 in the meantime, which should have `libc::PATH_MAX`: https://github.com/rust-lang/libc/blob/a64ee24718c0289b82a77d692cf56f8a1226de51/src/unix/bsd/mod.rs#L113

Filed https://github.com/nix-rust/nix/issues/269 re making a release.

[2016-02-15 04:31] kamalmarhubi commented on #261
#266 was merged good via @homu. Closing this!

[2016-02-15 04:31] #261 closed

[2016-02-15 23:44] hwchen commented on #268
Ah, that makes sense. Thanks!

On Sun, Feb 14, 2016 at 10:45 PM, Kamal Marhubi <notifications@github.com>
wrote:

[2016-02-17 03:08] arcnmx commented on #269
I'd say the libc change bumps it up to 0.5.0 alone. There've been quite a few changes all around, it certainly warrants it. If there's a 0.7.0 a few weeks later then so be it.

[2016-02-17 15:06] kamalmarhubi commented on #269
That makes sense. Now we need to figure out how to make a release... @carllerche, hi!

[2016-02-19 19:36] kamalmarhubi commented on #264
Thinking about this a bit more, we may want our own analog of the `sys` module pattern. Right now it's hard to track down where items come in because the `cfg` attrs are all over the place. @arcnmx you have a recently opened RFC on a related topic. Thoughts?

[2016-02-19 20:16] kamalmarhubi commented on #190
We can start this discussion up again, as I think libc is pretty stable now. There have been 8 releases in the 0.2 series: https://crates.io/crates/libc/versions

# Goals of nix

@MarkusJais [said](https://github.com/nix-rust/nix/issues/190#issuecomment-169009143):

I like this as a lowest level aim for nix. Use system APIs without `unsafe`. I filed #264 a while ago to track removing our own defin

[2016-02-19 20:18] kamalmarhubi commented on #236
I'm closing this for now. We've got at least a few people who can r+ things now!!

[2016-02-19 20:18] #236 closed

[2016-02-19 20:20] kamalmarhubi commented on #97
I filed #258 for CI on ARM. We should be able to use QEMU as is done in libc.

[2016-02-19 20:21] kamalmarhubi commented on #100
I think it's more fitting for `Display` and `Error::description()` to call that, with `Debug` being barebones.

[2016-02-19 20:26] kamalmarhubi commented on #264
Ah, discussion of conditional compilation module pattern would belong in #98.

[2016-02-19 20:26] kamalmarhubi commented on #98
Thinking about #264 (using definitions from libc), we may want our own analog of the sys module pattern. Right now it's hard to track down where items come in because the cfg attrs are all over the place. @arcnmx you have a recently opened RFC on a related topic. Thoughts?

[2016-02-19 20:31] kamalmarhubi commented on #196
@RAOF this sounds like a good fit in nix. Could you add the relevant constants in the [libc](https://github.com/rust-lang/libc) crate first? Or file an issue to do so?

[2016-02-19 20:32] abbradar commented on #190
A comment regarding usage of `libc` types where possible (continuing [the discussion](https://github.com/abbradar/nix-rust/commit/6c25ad931418dca83ec8f8d53daac0edff64854c#commitcomment-16211261)) -- I think that we should go this way as much as possible, and don't hesitate to wrap them with our own for the end user if it seems a good idea. For example, `fd_set` from `libc` is pretty inconvenient (

[2016-02-19 20:33] kamalmarhubi commented on #206
I think this is blocked on rustdoc issues. See also:
- https://github.com/rust-lang/rust/issues/1998
- https://github.com/rust-lang/rust/issues/24658

I'd like an answer though!

[2016-02-19 22:39] kamalmarhubi commented on #236
@posborne somehow I missed you in this. Sorry!

[2016-02-19 23:44] posborne commented on #236
@kamalmarhubi  No problem.  I haven't been too active recently but I'm sure that will change.  Great work pushing this stuff forward.

[2016-02-20 14:20] kamalmarhubi opened #277 "Redesign `TimeVal` and `TimeSpec`"
(`TimeSpec` is being added in #276)

These types aim to provide a nice Rust struct abstraction over the libc types. However, they could be revisited. Some issues I noticed:
- all the `ops` trait impls lose range on the values by calling `num_microseconds()` (`num_nanoseconds()`) for implementation convenience. This reduces the usable range of `TimeVal` to +/- ~300k years (probably ok) and `TimeSpe

[2016-02-21 04:16] arcnmx commented on #98
Well, I'd say it's an unrelated issue in regards to my proposal toward libstd, which is more about defining an abstraction layer over the OS for libstd to use. libstd has a lot of `ifdef/else/elif/etc` going on where different implementations are used depending on the platform. nix seems more all-or-nothing; everything is in the right place, just cfg'd out if something doesn't apply to a given pla

[2016-02-22 20:16] fiveop commented on #190
For the record:

I wrote

I am now certain that there are some system calls that nix cannot provide a safe interface for. For example, we as a library can never ensure that a handler installed using the function `sigaction` does not make unsafe calls (on the operating system level). No library, that does not also provide the installable handler functions, can provide a safe interface.

[2016-02-22 20:42] kamalmarhubi commented on #190
@fiveop

Could you elaborate a little, or give an example? I haven't used the signal stuff, but this sounds important to understand.

[2016-02-22 20:43] kamalmarhubi commented on #190
@abbradar

Yeah I think this makes sense. It fits in with @fiveop's 2. above, which includes "structs with methods" under providing an idiomatic API.

[2016-02-24 04:35] posborne commented on #258
I have started working on this by taking the ci contents from libc and modifying to work with nix.  Hopefully have a PR up soon -- I'll probably wrap in fixes in the PR as well so the build is green (seperate commits).

[2016-02-24 17:30] kamalmarhubi commented on #258
@posborne that's awesome! Did you see [rust-everywhere](https://github.com/japaric/rust-everywhere)? I saw it go by on /r/rust yesterday. It sets up the ARM QEMU stuff on travis.

[2016-02-24 17:33] kamalmarhubi commented on #98
Ah I see. Maybe I actually meant a file layout more like libc's then. A way to have a hierarchy of related systems, so that there's a clear place to put definitions. Then we can use conditional module imports instead of conditional definitions. It seems like less mental effort to me in terms of where to put things.

[2016-02-24 17:35] kamalmarhubi commented on #98
Here's the section describing it in the libc RFC: https://github.com/alexcrichton/rfcs/blob/pomote-libc/text/0000-promote-libc.md#internal-structure

[2016-02-24 18:55] posborne commented on #258
Hmm, I'll have to look at rust-everywhere a bit more -- Seems like the main qemu bit is here which is not really revelatory: https://github.com/japaric/rust-everywhere/blob/master/ci/script.sh#L24.  Made it pretty far last night but bumped into some issues discovering tests: https://github.com/rust-lang/cargo/issues/1924.  I can probably hack around that in the short term.

With nix, we are using

[2016-02-24 19:26] kamalmarhubi commented on #258
Ah that's an interesting difference. I haven't looked too much into what libc does in CI, other than knowing that it's a little annoying to run the tests.

[2016-02-27 11:46] fiveop opened #281 "`no_std` feature"
Given that this is a library for low level programming, it should probably provide a `no_std` version. I will add (preferably with everyones help) a list what we have to do to get this done.

[2016-02-27 12:04] fiveop commented on #98
Currently, I am against this change. libc has this structure and it fits with its concept. For us, I do not see the advantage, but am rather afraid it would lead to a lot of code duplication. This is the case in libc, and I do not see a way around that there. However, we can use that libc hides that fact, by using their constants and function declarations. This would leave us with configuring a fe

[2016-02-27 17:35] kamalmarhubi commented on #281
:+1: I like this idea. Need to read up on it first though.

[2016-02-27 17:37] kamalmarhubi commented on #98
This makes sense. We should get fully onto libc definitions (#264) first, then see what it looks like.

[2016-02-27 17:40] kamalmarhubi commented on #251
new flaky test:

[code]

[2016-02-28 00:23] posborne commented on #281
Personally, I tend to thing of `no_std` mostly in the context of projects without an OS, which would not be the case here.  That being said, maybe I am being short-sighted.  Thoughts?

[2016-02-28 07:57] fiveop commented on #281
You might also want to use that feature in order to shrink your executable size. If I understand it correctly, libc added the feature in order to be able to use libc to build the standard library. We certainly do not care for that. I still think the executable size might be a sufficient reason for someone.

So if someone ever shows up and needs this feature or one of us does not have anything bett

[2016-02-28 14:35] KalitaAlexey opened #286 "Release new version on crates.io"
I would like to make PR to mio.

[2016-02-28 16:50] kamalmarhubi commented on #286
We should be making a release this week!

Closing as duplicate of #269.

[2016-02-28 16:50] #286 closed

[2016-02-28 20:44] posborne commented on #281
@fiveop Agreed.  The executable size argument is valid (at least until LTO works more reliably or is enabled by default).

[2016-03-01 06:30] fiveop commented on #49
8f1d193652c849014fa8ea7af26ed8d1798fceb4 fixes the first part, which should resolve this issue.

[2016-03-01 06:30] #49 closed

[2016-03-01 14:02] thkaw commented on #218
Still have some dependency problem when build ARM

nix still using libc 0.1.12 in nix 0.4.2?

[2016-03-01 16:18] kamalmarhubi commented on #218
The latest master is using 0.2.6, but the latest release is still on 0.1.x as you noticed. We're figuring out how to make a release this week, so hopefully there will soon be a 0.5.0 that uses libc 0.2.x, and includes the ARM fixes.

[2016-03-02 07:46] petevine commented on #218
It might make sense to fix the 0.4 series too.

I recently tried overriding this dependency with master and that immediately broke `mio`.

[2016-03-02 08:37] thkaw commented on #218
Ok, I do little modified on mio v0.5.0.
It will make mio able to using latest nix in master.(0.5.1-pre)

Mio:
https://github.com/thkaw/mio/commit/8add138f57b3c4e520a1054498d84bf999da2e8a

[2016-03-02 18:03] kamalmarhubi commented on #218
@petevine sadly there are no git tags for earlier releases. If we could figure out when 0.4.2 was cut, we might be able to make a fix and release a 0.4.3. The bump to libc 0.2 series was in #219, so that could be another alternative to cut a 0.4.3. My personal preference would be leave the 0.4 series behind, but that's biased by me starting to use nix, and joining the team more recently.

Going fo

[2016-03-02 18:07] posborne commented on #218
0.4.2 is dated Dec 3, 2015, so I would guess https://github.com/nix-rust/nix/commit/b4b76d0a28fce34a33ab0a8bc3ab6e9ccd7b3d9c as the next change was a breaking one.

ARM CI support is still a WIP but progress is under way.

[2016-03-03 01:42] kamalmarhubi commented on #269
We have a [0.5.0](https://crates.io/crates/nix/0.5.0)!

[2016-03-03 01:42] #269 closed

[2016-03-03 02:02] kamalmarhubi commented on #218
@petevine, there is now a [0.5.0](https://crates.io/crates/nix/0.5.0). I haven't given fixing 0.4 series a shot yet.

[2016-03-03 02:03] kamalmarhubi commented on #286
@KalitaAlexey we now have a [0.5.0](https://crates.io/crates/nix/0.5.0)!

[2016-03-03 18:00] kamalmarhubi commented on #221
Ok, I want to get down some of my thoughts on this issue.

There are two conflicting desires I'd have for strings and nix:
1. no allocation required if I want to do null-termination myself. Eg, if I have a `String`, I can turn it into a `CString` and use that
2. passing Rusty string types to system libraries, eg passing a `&str` or `&OsStr` or `&Path`

@arcnmx is prioritizing (1) in #230 which I t

[2016-03-03 18:03] kamalmarhubi commented on #221
Wait! @arcnmx, did #230 always have `ToCString`?

[2016-03-04 17:22] fiveop opened #290 "SaFlag and SigFlag types should be called SaFlags and SigFlags"
However, that would be a breaking change again. Are we doing 0.5.1 or 0.6.0 next? How frequently can we release?

[2016-03-05 00:22] kamalmarhubi commented on #290
I just saw that too, annoying! I kind of like to treat 0.x.y versions such that a breaking change moves to 0.x+1.0, but we don't have a policy yet.

[2016-03-05 05:16] kamalmarhubi commented on #281
Another motivation: writing libraries in Rust that are meant to be consumed via C ABI from other programming languages. It'd be nice to keep the footprint small in those cases.

[2016-03-05 06:22] kamalmarhubi commented on #263
Link to the tracking issue for that type and the representation being stable: https://github.com/rust-lang/rust/issues/27751

Also, I made a post on the users forum: https://users.rust-lang.org/t/how-can-i-feel-safe-in-doing-terribly-unsafe-things-like-relying-on-slice-layout/4857

[2016-03-05 20:09] kamalmarhubi commented on #251
@posborne noted in #292:

to fork() and then make subsequent calls to wait(). In that case there
is one parent and the wait() called could (and frequently does) get some
random child pid back because it just happened to terminate. That is
why when one of the test fails so does the other one.

[2016-03-06 00:30] posborne commented on #251
test_sigwait still seems to fail sometimes even with the single threaded execution.  Must be a separate problem.

[2016-03-06 19:55] kamalmarhubi commented on #264
**Mentored bug**

This is something the maintainers will be working on on and off, but it will take some time. It's a good place to start, and I'm happy to help anyone who wants to contribute patches towards it.

The intention is to remove all `extern` declarations from nix, and rely on them from the [libc crate](https://github.com/rust-lang/libc) instead.

This can be done a module at a time. In

[2016-03-06 19:58] kamalmarhubi commented on #264
The basic steps for a PR would be:

1. remove the ffi submodule
2. replace references to `ffi::foo` by `libc::foo`
  - if `libc::foo` is missing, create a PR on the libc crate to add it
3. make sure to run the tests (`cargo test`)
4. open the PR!

[2016-03-07 03:04] posborne opened #298 "arm-linux-androideabi build failures"
Using the new docker test infrastructure...

[code]

[2016-03-07 03:10] posborne opened #299 "arm-unknown-linux-gnueabi build failures"
[code]

[2016-03-07 03:12] posborne commented on #299
Also fails for target arm-unknown-linux-gnueabihf (unsurprisingly).

[2016-03-07 15:04] gabrielesvelto opened #300 "Add MIPS support"
I've tried cross-compiling this create for a MIPS target (mipsel to be precise, a Creator Ci20 board) and realized that MIPS support is missing. It should be relatively simple to add it though, I'll try preparing a PR with it.

[2016-03-08 23:53] kamalmarhubi commented on #251
Thoughts on these issues:

to fork() and then make subsequent calls to wait(). In that case there
is one parent and the wait() called could (and frequently does) get some
random child pid back because it just happened to terminate.

I'm going to make them wait on the child they spawn instead of any old child. I'm still not sure what is going on in `test_sigwait`. I couldn't see any failures on my

[2016-03-09 00:10] dhylands commented on #251
Those errors (mentioned on Jan 31) look like the ones I saw as well.

[2016-03-09 00:13] kamalmarhubi commented on #251
[@posborne ](https://github.com/nix-rust/nix/pull/293#issuecomment-194021705)

I have some ideas on this as well, but I'll check your link. I think it's a separate issue from the flaky / intermittent failures though.

[2016-03-09 00:28] dhylands commented on #251
I'll bet its race where the SIGUSR1 is being delivered before the wait is called. The error:
[code]
seems to be saying that the process was killed by SIGUSR1. If a context switch happened after the raise and before the call to wait, then it's entirely possible that that signal gets processed before thewait, and since no one is yet waiting for the signal, it terminates the process.

But I'm really

[2016-03-09 00:34] kamalmarhubi opened #303 "Find a new testing strategy that allows verifying arguments and simulating failures"
I've been thinking about what the functionality of nix is, and how we're testing it. Right now, most of our tests are actually making system calls, and so we're reliant on the test environment behaving how we'd like.

One place I found this problematic is in testing `mount` on Linux: you ordinarily need root privileges to mount. You can get around it with mount namespaces, but then you are limited

[2016-03-09 00:35] kamalmarhubi commented on #303
@posborne [opened a thread on reddit](https://www.reddit.com/r/rust/comments/494tkf/looking_for_suggestions_mocking_external_functions/) about mocking external functions.

Additionally, I've been itching to put together a ptrace-based test suite, where we can test what arguments our wrappers send through to system calls, and also control the return values and make sure the wrappers handle them pro

[2016-03-09 00:35] kamalmarhubi commented on #251
I opened #303 for the more general how-to-test issue.

[2016-03-09 00:37] kamalmarhubi commented on #251
@dhylands that sounds plausible! Details of signals are outside my knowledge sphere. I know @fiveop was doing various signal-related changes though and so might have some more ideas.

[2016-03-10 05:57] kamalmarhubi commented on #263
The answers to the users forum post convinced me this would be a bad idea. Arguments against:

- POSIX only guarantees that `struct iovec` contains *at least* those fields
- POSIX does not specify the layout
- D changed its slice representation from pointer / length to pointer-to-start, pointer-past-end; Rust could conceivably change its representation

The only thing going for it is a cute conven

[2016-03-10 05:57] #263 closed

[2016-03-10 18:46] kamalmarhubi opened #305 "Rededesign iovec handling"
Since closing #263 on using `&[u8]` and `&mut [u8]` directly in `readv(2)` et al, I've been thinking of alternatives.

My current thinking:
- switch from a type parameter `IoVec<T>` to a lifetime parameter `IoVec<'a>`, effectively restricting the type to `&'a [u8]`
- add an `IoVecMut<'a>` for the writeable case, which implements `Deref<Target=IoVec<'a>>`
- implement as many conversion traits as we

[2016-03-10 20:48] alex-gulyas opened #306 "Build fails with execvpe feature enabled"
Build errors:
- missing `ffi` module in `unistd`
- use of undeclared type `Error::Sys` at `src/unistd.rs:396`

[2016-03-10 20:49] alex-gulyas opened #307 "Build fails with signalfd feature enabled"
Unresolved imports in `src/sys/signalfd.rs`:
- `sys::signal::signal::siginfo`
- `sys::signal::sigset_t`

[2016-03-10 20:49] alex-gulyas opened #308 "Optional features are not build tested"
Currently none of the available optional features are built by Travis, therefore:
- patches for the optional parts are not tested by Travis (or Homu)
- patches for other parts can silently break the optional parts (see #306, #307)

[2016-03-11 12:54] #300 closed

[2016-03-11 14:01] kamalmarhubi commented on #308
Thanks for bringing this up!

I think the right direction will be to break out the optional parts into separate crates. Eg, for signalfd we would want the function in nix-core but the iterator in nix-signalfd (or something like that).

This is still a little undecided. #190 is related.

[2016-03-11 14:03] fiveop commented on #251
To me it looks like the test does not run in a single threaded process. I thought we changed the test behaviour to guarantee that?

[2016-03-11 14:09] #307 closed

[2016-03-11 14:09] fiveop commented on #281
Somewhat related to this, there might be programs that do not want to link against pthreads. This is currently not possible, because at least `sys/signal.rs` uses functions that require this.

However, libc does not allow you to disable the relevant bindings currently, so since we depend on libc this is not possible for us to fulfill either.

This is probably a more exotic requirement anyway.

[2016-03-11 14:12] fiveop commented on #290
Since we are already adding breakings changes again. I would like to fix this now as well. We can release 0.6.0 in a week to get out a new version.

As long as we do not have a fully clean up version, I do not really want to support old 0.x versions. I'd rather release a new 0.x version every other week or so (with breaking changes, which the 0 in front allows).

[2016-03-11 16:56] kamalmarhubi commented on #281
can you give examples? this is intriguing!

[2016-03-11 16:57] kamalmarhubi commented on #251
@fiveop yeah in #292.

[2016-03-12 22:38] posborne commented on #298
`sockaddr_nl` should be resolved by https://github.com/rust-lang/libc/pull/225

[2016-03-13 06:49] posborne opened #313 "arm-linux-androideabi build fails (sched, unistd, signal)"
With the new test infrastructure (still being stabilized):

[code]

[2016-03-13 09:26] fiveop commented on #313
Regarding the `SA_`-flags:

For some reason android uses unsigned values for `sigaction` flags. They take there [own version](https://github.com/android/platform_bionic/blob/ced73ee45e04a991ce1295a38364568a17884eed/libc/include/signal.h#L42) for 64 bit and the [kernel version](https://github.com/torvalds/linux/blob/097f70b3c4d84ffccca15195bdfde3a37c0a7c0f/arch/arm/include/uapi/asm/signal.h) for 32

[2016-03-13 09:35] fiveop commented on #281
You want to create a single threaded app that is statically linked against libc. In addition you want it to be as small as possible. There is no need to link against libpthread then. However, I do not think that this is possible with libc at the moment.

[2016-03-13 19:59] #290 closed

[2016-03-13 20:27] kamalmarhubi commented on #313
Looks like the namespace related `CLONE_` flags can be moved up in libc: https://travis-ci.org/kamalmarhubi/libc/jobs/115718664

Opened https://github.com/rust-lang/libc/pull/227

[2016-03-15 04:05] kamalmarhubi commented on #221
Writing up a couple of ideas that cam up in chat with @arcnmx today. Transcript: https://gist.githubusercontent.com/kamalmarhubi/fa5f1dc7121c99c04117/raw/61a65cd4694edf63bd5318b93159fadb173fea02/%2523nix.log

There's a tension between ergonomics and minimizing overhead and cruft. We came up with two ideas to allow the the convenient and ergonomic `impl NixString for &str` etc:

* return `EINVAL` i

[2016-03-15 07:38] fiveop commented on #221
I do not like the first idea, mainly do to the first counter argument listed.

[2016-03-15 14:26] kamalmarhubi commented on #221
I've rebased #230 on to current master and will experiment with the associated type approach.

[2016-03-16 17:29] kamalmarhubi opened #316 "Add some constants to libc"
**NB** This issue describes making changes to the [libc](https://github.com/rust-lang/libc) crate, not to nix. The issue is here because these are constants we'd like to use from libc as part of work on #264, but are not yet available in the libc crate.

I've been going through bitflags as part of #315, and taking note of some places where we need to get constants upstreamed.
- [x] `sys::memfd::MF

[2016-03-16 17:29] kamalmarhubi opened #317 "Fix flag type names to match FOO_* => FooFlags convention"
The convention was added in #287, and there are a few places that need changing. I'm going through all the bitflags as part of #315, and noticing them. Here's a (partial) list:

- [ ] `poll::EventFlags` => `PollFlags` (1)
- [ ] `sys::epoll::EpollEventKind` => `EpollFlags` (1)
- [ ] `sys::event::EventFlag` => `EvFlags`
- [ ] `sys::event::FilterFlag` => `NoteFlags`
- [ ] `sys::eventfd::EventFdFlag`

[2016-03-16 17:29] kamalmarhubi commented on #254
Added a task list.

[2016-03-16 17:33] posborne commented on #316
I have a PR open for `sys:socket::consts::SOL_*`: https://github.com/rust-lang/libc/pull/228 although those are not flags.

[2016-03-16 17:33] kamalmarhubi commented on #316
Definitely add any non-flags up above too. I'm just looking at flags quite closely because of #315.

[2016-03-17 00:46] vi opened #319 "Missing example for nix::sys::signal::SigHandler"
I'm trying to write a signal handler that gets some usable value, with SigHandler::SigAction, but, for example, `siginfo` is stopping me right now:

    extern "C" fn handle_sigint(_:i32, _ : ::nix::sys::signal::signal::siginfo, ptr : *mut  ::nix::sys::ioctl::libc::c_void)

 ->

    error: failed to resolve. Could not find `signal` in `nix::sys::signal`
    error: type name `nix::sys::signal::sign

[2016-03-17 02:17] kamalmarhubi commented on #319
Thanks for the report. You have picked up on an issue of how close to the system APIs nix should be, which we've been discussing in #190. The current thinking is that what you're describing would belong in an external library, possibly under the nix umbrella.

In any case, a working example would be a great addition. @fiveop do you have any working code we could add in a doctest?

[2016-03-17 07:38] fiveop commented on #319
You would need to use the type `libc::siginfo` from the same libc version, that nix uses. There are still discussions on whether we should reexport libc or not. This is an example why I would prefer the latter, because the user has to deal with libc.

As much as we want to encapsulate libc functionality in a Rust idomatic way, at the end of the day the user has to write the signal handlers himself

[2016-03-17 10:44] vi commented on #319
I see explicit `pub use` of `self::signal::siginfo` in source code (available on `[src]` link in generated docs). I doesn't work for me somehow.

[2016-03-17 11:10] fiveop commented on #319
That indicates that the docs are not up to date. Where do you look at the docs?

(Do we even publish new docs with a new version at the moment?)

[2016-03-17 11:17] vi commented on #319
http://rustdoc.s3-website-us-east-1.amazonaws.com/nix/master/linux/nix/sys/signal/index.html

Linked from README.md in this repository.

[2016-03-17 11:39] kamalmarhubi opened #320 "Docs are not being updated in S3"
Compare, for example:

rustdoc.s3-website-us-east-1.amazonaws.com/nix/master/linux/src/nix/sys/uio.rs.html
https://github.com/nix-rust/nix/blob/master/src/sys/uio.rs

The S3 version is missing the fact that #304 got rid of `mod ffi` in that module.

[2016-03-17 11:40] kamalmarhubi commented on #319
Hrm, I wonder why the docs are not being updated. Opened #320.

In the meantime, for docs on the most recently released version on crates.io you can use crates.fyi: https://crates.fyi/crates/nix/

[2016-03-17 13:22] posborne commented on #320
Homm, problem is probably the repo line? https://github.com/nix-rust/nix/blob/master/.travis.yml#L72

[code]

[2016-03-19 02:16] hjr3 opened #323 "ipv6_mreq does not allow interface to be set"
The ability to set an interface index value should be exposed in https://github.com/nix-rust/nix/blob/5e3c954596f12512ba8728c437345a529ec48b0a/src/sys/socket/multicast.rs#L34

Related to https://github.com/carllerche/mio/issues/377

[2016-03-19 23:37] kamalmarhubi commented on #323
@hjr3 what's the urgency for this issue? Are you or someone else trying to do this right now? There's some refactoring I'd like to see happen to this module before we expose this properly...

[2016-03-20 00:45] hjr3 commented on #323
@kamalmarhubi i put a PR up, but we can hold off if there are larger plans

[2016-03-20 00:47] hjr3 commented on #323
Oops, I see https://github.com/nix-rust/nix/pull/324 was already opened. I won't be opening a PR then. We can hold off until refactor too. I just wanted to track the issue.

[2016-03-20 18:41] posborne opened #325 "musl: use of undeclared type name `libc::ucontext_t`"
x86_64-unknown-linux-musl should be added to CI.  It is included in the `posborne/rust-cross:x86` docker image.  Discovered this while working on some fixup for the CI stuff.  May be a libc issue.

[code]

[2016-03-20 18:42] posborne commented on #325
@kamalmarhubi Can you please label this as appropriate.  I don't seem to have the ability to create new labels.

[2016-03-21 18:01] kamalmarhubi commented on #325
@posborne I think you should be able to do this now. I created a "team" and gave it admin access on the repo. Added some labels though!

[2016-03-22 04:25] posborne commented on #325
I started looking at things a bit -- there are some legit test problems in ioctl and a few other places.  I started looking more at using [ctest]() to do the types of checks we are doing in some places (some of this need goes away with moving contants to `libc`, but some will likely need to remain).

I ended up bumping into https://github.com/rust-lang/cargo/issues/1430 and decided to take a break

[2016-03-22 05:37] posborne commented on #299
Passing now.

[2016-03-22 05:37] #299 closed

[2016-03-22 05:38] posborne commented on #258
Complete! :tada:

[2016-03-22 05:38] #258 closed

[2016-03-22 19:23] misuzu opened #329 "nix::sys::socket::InetAddr::from_std ignores sin6_flowinfo and sin6_scope_id"
sin6_flowinfo and sin6_scope_id is essential for link-local addresses.
Related: carllerche/mio#376

[2016-03-25 03:54] kench commented on #196
I'm interested in picking this up.  Stay tuned.

[2016-03-28 22:51] kamalmarhubi commented on #329
Hi @misuzu! Could you explain a bit more clearly what the issue is about? Is it adding APIs?

[2016-03-29 08:29] misuzu commented on #329
@kamalmarhubi
SocketAddrV6 have flowinfo and scope_id: https://doc.rust-lang.org/std/net/struct.SocketAddrV6.html
InetAddr::from_std only uses address and port so flowinfo and scope_id is lost after conversion: https://github.com/nix-rust/nix/blob/master/src/sys/socket/addr.rs#L44
There is also no way to manually create InetAddr with flowinfo and scope_id.

[2016-03-29 19:13] kamalmarhubi commented on #254
Synonyms will not be allowed as variants. This results in [`E0081`](https://doc.rust-lang.org/error-index.html#E0081):

[code]
―[playground](http://is.gd/WeOZbd)

[2016-03-29 19:21] kamalmarhubi commented on #254
We may be able to do something like this:

[code]
―[playground](http://is.gd/2cbXJD)

(Note ability to pattern match using `BAZ`!)

[2016-03-29 21:12] kamalmarhubi opened #334 "Implement an RFC process"
We have a couple of issues that are important to how nix will play out but which are kind of idle. In particular, I'm thinking of:

- [#190 Figure out the future of nix][issue-190]
- [#221 Revisit passing of strings: redesign and replace NixPath][issue-221]

In both of those issues, there's a discussion that's been going on in fits and starts for several months. There's no consistently updated "he

[2016-03-29 21:12] kamalmarhubi commented on #334
ping @nix-rust/nix-maintainers

[2016-03-29 23:38] kamalmarhubi commented on #329
Thanks for the clarification! I just opened #335 to fix it.

[2016-03-30 06:39] fiveop commented on #329
I suggest @misuzu review's the fixing PR.

[2016-03-30 15:12] kamalmarhubi commented on #329
Great idea!

[2016-03-31 06:38] #329 closed

[2016-03-31 21:07] kamalmarhubi commented on #334
maybe that ping didn't work. ping @posborne @fiveop @utkarshkukreti @arcnmx @carllerche :-)

[2016-03-31 21:19] kamalmarhubi opened #338 "Decide on conventions for using #[inline]"
Raised by @fiveop in [a comment on #332](https://github.com/nix-rust/nix/pull/332#issuecomment-203785555).

I think we can safely agree that any time we simply do

[code]

that the function can be safely marked `#[inline]`. In #332, I marked our `fork()` wrapper as `#[inline]` which does slightly more work.

Given the purpose of nix, I feel that we should be able to mark almost every function in i

[2016-04-01 10:08] fiveop commented on #338
As a rule, I would suggest that "we mark every function `#[inline]`, that only calls a libc function and wraps the result in a rust idomatic fashion." This will cover probably every function we have, but I don't mind.

[2016-04-01 10:13] fiveop commented on #334
Do I understand it correctly, that the final RFCs would be the documentation of the decisions and their content. Because that might be a bit hard to wade through as a contributor. I would prefer if we see the final RFCs as documentation of the decision, but that we also document what was decided in the appropriate place (like the CONVENTIONS.md). These places can and would be edited for quickly fi

[2016-04-01 13:25] kamalmarhubi commented on #338
Does the "idiomatic Rust fashion" part cover what we do in `fork()`?

[2016-04-01 13:28] JohanLorenzo opened #339 "Nix doesn't compile anymore on rust nightly-2016-03-30 due to an LLVM error"
Thanks for this library!

When you compile nix on [nightly-2016-03-30](https://static.rust-lang.org/dist/2016-03-30/index.html), you get the failure on the way to be fixed by #337.
Once this small nit is fixed, you get a more serious error:
[code]

I got this failure locally, and I also noticed it appears in #337, see [this line](https://travis-ci.org/nix-rust/nix/jobs/119784553#L491).

I believe

[2016-04-01 13:54] JohanLorenzo commented on #339
After bisecting rustc locally, you can build the current master  (4ca407db6b29a0559ed781841c65c4e85222a0a7) with [2016-03-18](https://static.rust-lang.org/dist/2016-03-18/index.html) but with not [2016-03-18](https://static.rust-lang.org/dist/2016-03-20/index.html).

That matches the results stored on Travis:
* [Last passing](https://travis-ci.org/nix-rust/nix/jobs/117036606) on master
* [First fa

[2016-04-01 17:42] fiveop commented on #338
That part refers to the result (or `Result` :)) and not the code creating the result. That's a different problem. Of course, we always want to write idiomatic rust, but whether we achieve it is another matter.

[2016-04-01 17:43] fiveop commented on #339
Did you report a bug against rust as well? I am pretty sure that triggering an assertion in llvm is a bug in the compiler itself.

[2016-04-01 18:06] kamalmarhubi commented on #338
:-)

[2016-04-01 18:08] kamalmarhubi commented on #339
@JohanLorenzo thanks for the issue and the investigation!

[2016-04-01 23:41] posborne commented on #338
Sounds reasonable to me as a general (but not absolute rule).  As things evolve, I'm sure we'll run across some exceptions.

[2016-04-04 09:00] JohanLorenzo commented on #339
I haven't yet. I'm trying to narrow down the code so the bug will be actionable by the rustc devs. @pnkfelix helped to get suitable debug traces.

[2016-04-04 17:31] pnkfelix commented on #339
Here is some information that may or may not be useful for fixing this issue, but I thought was worth noting since it may be a sign of problems elsewhere.

While investigating this I determined that the [gettid](https://github.com/nix-rust/nix/blob/c2f8bb71110b894cf165967a20ee321a5766e7fb/src/unistd.rs#L65) code in `unistd.rs` seems to be related in some weird ways.

`gettid` is a very short funct

[2016-04-04 17:52] kamalmarhubi opened #341 "Remove or revamp sys::syscall module"
This came up in [a comment from @pnkfelix on #339](https://github.com/nix-rust/nix/issues/339#issuecomment-205407123).

This module appears to be Linux specific. It declares

[code]

for all architectures, with `Syscall` being architecture dependent alias that is `c_long` on all listed architectures.

On Linux, [`syscall(2)`][syscall] should return a `long`, so this declaration is incorrect. We sh

[2016-04-04 17:53] kamalmarhubi commented on #339
@pnkfelix thanks for the observations! Not relevant to the compiler error, but the `sys::syscall` function should go away at some point (#264).

Looking at [`syscall(2)`] on Linux, it should return a `long`. On FreeBSD, it returns an `int`. This needs fixing. Filed #341 to track.

[2016-04-04 18:15] pnkfelix commented on #339
I'm stashing the state of my attempt to narrow the problem down in the following gist:

https://gist.github.com/pnkfelix/727d5533e16f40b5f55068fec4a8e17b

(I've gotten the test case down to a single 4.7K line file. It is a semi-mechanical process to continue removing unused code, i.e. replacing function bodies with `loop { }` and checking whether the compiler still assert-fails, and eventually rem

[2016-04-05 11:38] pnkfelix commented on #339
eddyb says that https://github.com/rust-lang/rust/pull/32742 will fix this once it lands (see discussion in #32740)

[2016-04-05 15:18] kamalmarhubi commented on #339
yay!

[2016-04-07 09:09] JohanLorenzo commented on #339
The latest nightly contains rust-lang/rust#32742. I confirm you can compile nix again!

Closing the issue.

[2016-04-07 09:09] #339 closed

[2016-04-07 15:05] tailhook opened #343 "Expose termination signal option in clone"
I'm talking about this commit:
https://github.com/nix-rust/nix/commit/53cae89c6892b1f125ef69a769ed8147fcba4d92

The issue is that according to a [man page](http://linux.die.net/man/2/clone) you need to mix a signal name to a flags in clone function, like this:
[code]

But with bitflags you can't do it. E.g. `CloneFlags::from_bits(SIGCHLD)` returns `None`.

Any good idea how to fix it? Revert the c

[2016-04-07 17:22] fiveop commented on #343
I would prefer to change the signature of clone to take two parameters, which we then combine in the function. This way we can have our cake and eat it too :)

[2016-04-07 19:00] fiveop commented on #325
I made a patch for libc, that adds ucontext for linux-musl ( rust-lang/libc#255 ). That should resolve this.

[2016-04-07 19:10] tailhook commented on #343
@fiveop, well, in the docs there are variable argument list for the `clone` system call. So adding an argument might confuse users.

Maybe some another type, like `struct CloneConfig(CloneFlags, i32)` ? Or just a tuple?

[2016-04-07 19:38] fiveop commented on #343
Our wrapper does not pass any additional arguments currently. And even if we did, I would prefer not to create a type for that. However, documentation for our wrapper would certainly help. Lamentably, this holds for pretty much all of nix-rust.

[2016-04-07 20:41] tailhook commented on #343
Sure. I mean if I see `clone(a, b, c, d)` I believe that I can just look at `man clone` to find out what the arguments mean. I don't think it's reasonable to make documentation better than linux man, so people will always look at man pages on system calls to reason how this system call work.

[2016-04-08 03:34] szagi3891 opened #346 "Warning when compiling"
[code]

can you fix it?

[2016-04-08 04:27] posborne commented on #346
@szagi3891 What version of rustc?

[2016-04-08 06:26] fiveop commented on #346
This is the relevant Rust issue: https://github.com/rust-lang/rust/issues/19925 .

[2016-04-08 06:32] szagi3891 commented on #346
It is the latest version. Today installed.  Nightly  (1.9)

[code]

[2016-04-12 17:25] kamalmarhubi commented on #334
@fiveop thanks for commenting, those are some really useful suggestions. Based on what you're saying, how about a process where:

- we have an rfcs repo where discussions happen on pull requests as in https://github.com/rust-lang/rfcs
- an RFC is created as a pull request on the rfcs repo
- once accepted by consensus from the core team, updates are made to the CONVENTIONS.md file or other relevant

[2016-04-13 06:41] fiveop commented on #334
Yes, go ahead. And we could retroactivly convert our decisions about our conventions in accepted RFCs in that repository, for completeness sake.

[2016-04-13 13:27] posborne commented on #334
I'm on board 👍

[2016-04-14 09:16] domenkozar commented on #76
We also have rust integration for Nix(OS), so this will yield some really bad UX in the future :)

https://github.com/NixOS/nixpkgs/blob/master/pkgs/top-level/rust-packages.nix

[2016-04-14 16:45] shadowcat-mst commented on #76
@carllerche the nix package manager has been going a long time - quite possibly longer than rust has existed - so expecting them to rename at this point seems a little silly.

How about renaming this package to 'starnix' ?

[2016-04-14 16:45] nox commented on #76
@carllerche I'm not sure what your intent was by trying to contact the Nix package manager author… Did you want to ask them to rename their project? This crate being called Nix is highly confusing.

[2016-04-14 16:46] nox commented on #76
What about kleenix, playing both on the Kleene star and the fact that such abstractions make us cry less? (Kleenex as in tissue)

[2016-04-14 16:50] nathan7 commented on #76
If anyone is in the possession of a time machine to the year 2003, we might be able to get Nix, nixpkgs, and NixOS renamed. But I'm afraid I don't have one of those laying around.

[2016-04-14 17:04] shadowcat-mst commented on #76
@wycats basically from my point of view it's "don't confuse the sysadmin", and nix is a well established name at this point among people who've been paying attention to 'doing systems level stuff better'. I'm not claiming their choice of name is perfect, but that ship sailed ten years ago whereas we can avoid causing problems here, now.

[2016-04-15 04:59] fiveop commented on #325
musl does not implement the functions working on ucontext structs (http://wiki.musl-libc.org/wiki/Open_Issues#ucontext.h), so let's see how far the struct gets us.

[2016-04-16 08:37] mkollaro opened #355 "Sigaction doesn't set the mask"
This code fails on the assertion, the mask isn't set. The signal handler seems to work fine though.

    let mut mask = signal::SigSet::empty();
    mask.add(signal::SIGCHLD).unwrap();
    let action = signal::SigAction::new(signal::SigHandler::Handler(signal_handler),
                                        signal::SaFlags::empty(),
                                        mask);
    unsafe {

[2016-04-16 19:02] felippemr commented on #306
Hi!
I'd like to help you with this issue, how can I get started?

[2016-04-16 20:14] crertel commented on #76
I'd like to humbly second the vote for "starnix".

[2016-04-17 00:40] posborne commented on #76
@nbp

I fail to see how the name will cause conflicts in package management systems but am willing to listen if there is an angle I am missing.  To my knowledge, distros are very good at prefixing library code with the name of the language (e.g. [python-*](https://packages.debian.org/search?keywords=python-&searchon=names&suite=jessie&section=all) in debian).  Is this not the case for nixos?

The

[2016-04-17 14:22] shadowcat-mst commented on #76
On Sat, Apr 16, 2016 at 05:40:30PM -0700, Paul Osborne wrote:

I suggest that the answer is both. Or, more precisely -

1) nix renames itself to something less confusing

2) do a final release of nix on crates.io explaining the fuckup and the new name

3) NixOS related packages use nixos, nix-the-package-manager packages use
nixpkg or similar for their name.

(the 'nix' package manager is absolute

[2016-04-17 14:34] nox commented on #76
[Packages have already been renamed in the past, it's nothing new.](https://github.com/diwic/dbus-rs/issues/9)

[2016-04-17 14:51] rrichardson commented on #76
How about posix-rs? Or rust-posix?  Soon Windows will have POSIX support,
so it's not just *nixes :). Yes the support of the current nix is broader
than POSIX, but it gets the point across that it is a wrapper around UNIX
system functions.

On Sun, Apr 17, 2016, 10:34 AM Anthony Ramine <notifications@github.com>
wrote:

[2016-04-17 22:11] tbu- commented on #76
https://crates.io/crates/posix is already taken.

[2016-04-17 22:40] rrichardson commented on #76
It hasn't been updated in a year.  It looks like its author has moved on to
other things. We could probably acquire rights to the crate name :)

On Sun, Apr 17, 2016 at 6:11 PM tbu- <notifications@github.com> wrote:

[2016-04-18 00:13] kamalmarhubi commented on #343
On #348, we came to the conclusion that directly following libc's `flags | termination_signal` parameter doesn't make sense, even though it's possible via `std::ops::BitOr`. [@posborne said it very clearly](https://github.com/nix-rust/nix/pull/348#issuecomment-210947781):

[2016-04-18 00:23] kamalmarhubi commented on #343
In terms of "maximal Rustiness", at least for matching the APIs in libstd, I think something like this would work:

[code]

This would get used like this:

[code]

[2016-04-18 00:24] kamalmarhubi commented on #343
NB I *don't* think this fits in our current API style, but does fit a vision that @carllerche for either base nix or a higher level crate on top.

[2016-04-18 01:24] kamalmarhubi commented on #346
Fixed by #353.

[2016-04-18 01:24] #346 closed

[2016-04-18 08:21] szagi3891 commented on #346
Cool :)

[2016-04-18 10:07] tailhook commented on #343
Well, I don't think we should make it so complex. From #348 it looks like most people are comfortable with a separate argument. I think we should do it and move on.

[2016-04-19 17:23] arcnmx opened #360 "clone() is broken and unsafe with CLONE_VM flag"
`clone()` has a few issues when used with `CLONE_VM`, unless it is used together with `CLONE_VFORK`.

1. it takes a `Box<FnMut>` by value, which will be moved, dropped, and destroyed when the function returns back to the caller.
    - essentially means it will unconditionally segfault when passed `CLONE_VM`
2. Even if it did work, the mutable borrow of the stack will end once the `clone()` call re

[2016-04-21 07:58] fiveop commented on #355
Quoting the man page:

So you would need to run your assert in the handler.

[2016-04-21 07:58] #355 closed

[2016-04-21 08:03] fiveop commented on #306
This is already being tackled by #349 at the moment. Though, it is not clear whether that change will get into the tree in its current form. I'd still suggest starting with another bug. In particular the two other issues marked as good-first-bug provide lots of work.

[2016-04-21 08:06] fiveop commented on #343
Which I implemented in my #344.

[2016-04-21 08:44] mkollaro commented on #355
Oh, sorry...I misunderstood the manual.

[2016-04-21 14:21] #343 closed

[2016-04-22 00:30] kamalmarhubi commented on #306
Removed the labels for now.

[2016-04-27 23:27] petevine commented on #218
@kamalmarhubi I've just confirmed the latest `nix/mio` combo works on ARM; I'd like to update dependencies of the parity project but `nix 0.5.0` looks 2 months old already - should I use it anyway or wait for the next release?

[2016-04-28 01:31] kamalmarhubi opened #363 "Release procedure and policy"
As far as I know, only @carllerche can make releases. We need to figure out a procedure that works for the active maintainers.

We should also come up with a release schedule. There have been over 100 commits since the last release, which was less than two months ago, so we're probably averaging ~10 commits per week.

@fiveop proposed every other week or so in https://github.com/nix-rust/nix/issue

[2016-04-28 01:32] kamalmarhubi commented on #218
If 0.5.0 works, use it. We haven't yet figured out how to do releases without @carllerche. Filed #363 to track the unreleasability.

[2016-04-28 01:32] kamalmarhubi commented on #218
(@petevine forgot to mention you)

[2016-04-28 05:07] posborne commented on #363
I'm in favor of a faster release cycle, particularly when users report issues and work to get a PR merged.  In those cases, the reporter has probably already been inconvenienced by bumping into the issue and it is nice to provide a release in a timely fashion.  Doing releases more frequently reduce the overall impact of cutting a release (smaller deltas).

I think we should try to follow semantic

[2016-04-29 15:59] carllerche commented on #363
Happy to do whatever, let me know

[2016-05-02 02:20] kamalmarhubi commented on #334
I've created the [RFCs repo](https://github.com/nix-rust/rfcs) and [the first RFC](https://github.com/nix-rust/rfcs/pull/1) to bootstrap the process. Please take a look!

[2016-05-02 21:50] kamalmarhubi commented on #221
In #365 we're discussing `mkstemp(3)`, which takes and mutates a (conceptual) `&mut CStr`. See https://github.com/nix-rust/nix/pull/365#issuecomment-216374309

[2016-05-07 02:51] posborne commented on #363
@nix-rust/nix-maintainers Any other thoughts?  I'm currently in favor of granting co-named ownership to @kamalmarhubi and team ownership to @nix-rust/nix-maintainers.  Any objections?

[2016-05-10 20:00] kamalmarhubi commented on #363
I have no thoughts other than let's be able to make releases! @carllerche can you run at least the following command:

[code]
?

[2016-05-16 20:44] posborne commented on #363
Agreed.  We need to cut a release.  @carllerche I aggree with @kamalmarhubi that getting the maintainers access should be enough to get the ball rolling.

[2016-05-17 11:53] kamalmarhubi commented on #363
@carllerche gave it a shot, but was not having luck with GitHub permissions. I opened up the nix-rust org but I don't think he had a chance to try it again. This is a crates.io usability pain point for sure.

[2016-05-20 17:39] kamalmarhubi opened #373 "Stamp out transmute except in certain cases"
nix is currently a bit too liberal with `mem::transmute`, using it in situations where some casts would suffice. I'd like to reduce these to a minimum because [`transmute` is a scarily big hammer](https://doc.rust-lang.org/nightly/nomicon/transmutes.html).

[2016-05-31 17:48] tomsiwik opened #375 "Cross compilation for target mipsel-unknown-linux-musl fails"
Cross compiling for target mipsel-unknown-linux-musl on a package with your dependency (mioco) fails with command:

`cargo rustc --release --target=mipsel-unknown-linux-musl -- -C link-args=-s -Z no-landing-pads`

With message:
[code]

I cleaned up the error message to a minimum. Hope i can help to fix the issue. The platform isn't supported yet, is it? I'm trying it on open-wrt.

Greetings
Tom

[2016-05-31 21:53] posborne commented on #375
We would love help getting this fixed up.  We test (but have known failures) for a similar platform, mipsel-unknown-linux-gnu: https://travis-ci.org/nix-rust/nix/jobs/133233037.  I haven't had a chance to dig into things deeply, but think there are some actual bugs that need to be addressed in nix for those platforms.

Changes very welcome!

[2016-06-01 13:07] tomsiwik commented on #375
Nix 0.5.1-pre compiles successfully however. That's the weird part. I will look into it in my spare time. I'm just not good at rust though.

[2016-06-03 12:10] fiveop commented on #320
My comment on #374 is wrong. I can't see the changes of c1334f5. Something is missing. However the new repo is certainly correct.

[2016-06-03 14:56] posborne commented on #320
I feel it might make sense to just move the docs to Github Pages?  I have used that quite successfully in the past.

[2016-06-03 15:04] fiveop commented on #320
Can we automate that it some way?

[2016-06-03 22:30] posborne commented on #320
@fiveop Yes, travis-cargo looks like it would be useful here: https://github.com/huonw/travis-cargo.  Previously, I have just done something like this: https://github.com/rust-embedded/rust-sysfs-gpio/blob/master/.travis.yml#L27.  To make that work, you need to setup a key in github http://stackoverflow.com/questions/23277391/how-to-publish-to-github-pages-from-travis-ci

[2016-06-05 11:47] #375 closed

[2016-06-10 16:21] kamalmarhubi commented on #363
We can now release! I just put up a v0.6.0 at current master + changes to make the release. (Actual changes in #378. This was important because we were blocking a Rust change (https://github.com/rust-lang/rust/pull/34198#issuecomment-225207519)

Not sure how best to actually do the release dance, but at least now we can!

[2016-06-29 17:30] fiveop commented on #373
All occurences. We can discuss each case and tick them off.

[code]

- [ ] https://github.com/nix-rust/nix/blob/9c6c71a9f5fa4a64d8e5c2996988a93ff5f724c8/src/sched.rs#L195
- [ ] https://github.com/nix-rust/nix/blob/9c6c71a9f5fa4a64d8e5c2996988a93ff5f724c8/src/sched.rs#L210
- [ ] https://github.com/nix-rust/nix/blob/9c6c71a9f5fa4a64d8e5c2996988a93ff5f724c8/src/sys/quota.rs#L116
- [ ] https://github.

[2016-06-29 17:32] fiveop commented on #334
You bootstraped it. Now we write the rfcs ;)

[2016-06-29 17:32] #334 closed

[2016-06-30 17:06] #325 closed

[2016-07-01 19:19] Infining opened #382 "Build fails on arm-linux-androideabi"
Using
[code]
I am getting the following error during build for arm-linux-androideabi
[code]
as well as
[code]

[2016-07-01 19:26] posborne commented on #382
See also https://github.com/nix-rust/nix/issues/313 and https://github.com/nix-rust/nix/issues/298 as well as CI failures: https://github.com/nix-rust/nix/issues/298

@Infining Changes are very welcome here if you want to take a shot at things.  I probably won't have a shot to look at anything for a few days at a minimum.

[2016-07-01 19:53] fiveop commented on #382
Looking at #313 and #298, I close this issue, as it is essentially a duplicate. Patches that solve the problems would still be very much appreciated! :)

[2016-07-01 19:53] #382 closed

[2016-07-04 06:47] fiveop commented on #363
#383 reminded me: keeping a change log for breaking changes, seperate from the commit history, would would be helpful for users of the library

[2016-07-10 04:52] posborne commented on #363
Agreed.  I'm fine with either trying to maintain this along the way (as  a part of PRs) or gathering it up at release time (some amount of work will already be required at this stage).  That is, I probably wouldn't gate PRs on updating the release notes (especially for new contributors).  Here's an example of what I try to maintain on my projects: https://github.com/rust-embedded/rust-sysfs-gpio/b

[2016-07-11 06:41] fiveop commented on #363
Excellent, now we only need an RFC, aprove it, adjust the CONVETIONS, and create an initial change log(prefereably, already going back to the first version).

[2016-07-12 20:54] fiveop commented on #363
Additional point that came up in rust-lang/libc#333: We should use the Github version of libc for development and a fixed version for releases.

[2016-07-12 23:18] alexcrichton commented on #363
Ah and just to clarify, I don't mind making a libc release whenever. I figured it'd just be easier where if nix changes require also landing libc changes to not block on a libc release. That way nix could use the git version of libc for the latest-and-greatest APIs, and then whenever it's time for a nix release we can make sure to make a libc release.

[2016-07-14 09:59] kamalmarhubi commented on #363
@fiveop

This sounds a bit ambitious! There are [25 versions](https://crates.io/crates/nix/versions)... I think we can probably pull together something for 0.4.x -> 0.5 and onwards, which is 3 versions. In https://github.com/rust-lang/rust/pull/34198#issuecomment-225283945 it was revealed that only one published crate had a dependency on 0.3.x, so going that far back isn't really worth the effort

[2016-07-14 11:04] fiveop commented on #363
I agree.

[2016-07-16 21:05] petevine commented on #218
Is this issue still relevant?

[2016-07-17 13:25] kamalmarhubi commented on #218
We have released a 0.6 since the last activity on this issue. If it's no longer affecting your projects, we can close it out. I'll leave that to you. :-)

[2016-07-17 13:26] #218 closed

[2016-07-18 17:57] tbu- opened #388 "Doesn't build for NetBSD"
I installed the stdlib for NetBSD with rustup. `nix` compilation fails:
[code]

Maybe the CI could also check alternative platforms.

[2016-07-18 19:40] posborne commented on #388
Hi @tbu-, I don't have any NetBSD experience but we would love to have contributions to fix NetBSD (part of that might be contributing changes to libc).  The CI infrastructure is pretty flexible and runs docker containers -- there might be some way to fit into that framework with some changes to support NetBSD (might want to look at what libc does).

[2016-07-18 23:13] kamalmarhubi opened #390 "Tracking issue for keeping a change log (RFC 3)"
https://github.com/nix-rust/rfcs/blob/master/text/0003-use-changelog.md
https://github.com/nix-rust/rfcs/pull/3

Items from RFC:
- [ ] add initial CHANGELOG.md, going back to 0.5.0 per https://github.com/nix-rust/nix/issues/363#issuecomment-232621388
- [x] add section to CONRTIBUTING.md
- [x] add section to new RELEASE_PROCEDURE.md file

[2016-07-19 10:19] fiveop commented on #388
Does #389 fix it? In that case we can close the issue.

[2016-07-19 16:04] tbu- commented on #388
It does.

[2016-07-19 16:04] #388 closed

[2016-07-21 12:26] fiveop commented on #363
One small point for our release procedures: bump the version in README.md.

[2016-07-21 15:25] kamalmarhubi commented on #363
Yeah. Also there's a bit of a double commit dance for the Cargo.toml version at the moment: bump to remove -dev, and bump again to add -dev. And tagging, also important.

[2016-08-04 06:45] fiveop opened #393 "tempdir 0.3.5 breaks build"
The latest PR build failed, because we use tempdir 0.3 the newest version (0.3.5) of which does not build on rust 1.1 anymore.

We can no either use a specific version of tempdir, or stop supporting rust 1.1.

Given that it is a dev dependency, I would not mind to use a specific version.

[2016-08-07 21:13] posborne commented on #393
This is fixed as of #395

[2016-08-07 21:13] #393 closed

[2016-08-08 13:19] fourbytes commented on #268
Attempting to compile this on FreeBSD 10.3, I'm getting

[code]

Not sure if this belongs in another issue or not so posting here for now.

[code]

[2016-08-08 13:21] fourbytes commented on #268
Looks like it's being sorted in #396

[2016-08-26 06:43] fiveop opened #408 "CHANGELOG entry for #405 and #407."
So that I don't forget.

[2016-08-27 07:08] dariusc93 opened #409 "Error building on FreeBSD"
Been getting the following while with nix

[code]

[2016-08-27 07:12] dariusc93 commented on #409
Looks like the issue is fixed in 0.6.1-pre.

[2016-08-27 07:12] #409 closed

[2016-08-28 07:20] #408 closed

[2016-08-31 19:21] fiveop opened #411 "Provide read and write accessors for events in `PollFd`."
The motivation is given in #399.

[2016-09-01 23:13] alexcrichton opened #412 "Consider opt-in dependencies for semver/rustc_version"
Not all crates end up needing the apparent 1.6 compatibility, perhaps these dependencies could be optional?

[2016-09-02 09:45] lambda-fairy opened #413 "Add syslog APIs"
The [syslog interfaces](http://linux.die.net/man/3/syslog) are useful for writing daemons and such. It would be nice to have bindings to them.

[2016-09-02 11:10] lfairy commented on #413
I've published a preliminary set of bindings on [my fork](https://github.com/lfairy/nix/blob/syslog/src/syslog.rs). There are a few issues with it so far:

* According to the [Linux documentation](http://linux.die.net/man/3/syslog), the `ident` argument to `openlog()` should have a static lifetime. I have modeled this using `&'static CStr`, which is correct but kind of fiddly.

* The interface of

[2016-09-02 13:30] fiveop commented on #413
I think is the correct way to expose it safely.

I have not encountered a good way of dealing with foreign functions with a variable number of arguments. When strings are involved, it only gets messier.

[2016-09-03 09:10] lfairy commented on #413
A syntax extension would work, but I think that would be overkill for this crate.

[2016-09-05 15:41] oconnor663 opened #414 "pipe2 doesn't set flags atomically?"
It looks like the `pipe2` function is implemented as a call to regular `pipe` followed by separate calls to `fcntl` (for compatibility with systems that don't support `pipe2`?). I think that's fine for O_NONBLOCK, but not for O_CLOEXEC. If a multithreaded program forks in between the creation of a pipe and when O_CLOEXEC is set, the child will inherit pipes that it isn't supposed to.

Is it possib

[2016-09-06 00:45] posborne commented on #414
I have no objection to this.  Mind opening up a PR?

[2016-09-06 14:12] oconnor663 commented on #414
I'd love to put it together, but I could use your advice about the right way to do it. Rust's [libstd uses](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/pipe.rs#L33) some kind of [weak binding](https://github.com/rust-lang/rust/blob/master/src/libstd/sys/unix/weak.rs#L78) backed by function called `dlsym`. I'm don't know much about what that function's doing under the covers,

[2016-09-06 15:08] posborne commented on #414
Personally, at least for the first pass, I am OK only supporting linux 2.6.27+ in nix as long as we make a note that further work would be required to support older kernels.  Alternatively, borrowing that macro/logic from libstd might also be an acceptable solution.

`dlsym` in this context is just seeing if the libc in used contains specific symbols at runtime.

[2016-09-06 15:19] oconnor663 commented on #414
Interesting, it looks like musl already implements a similar fallback: http://git.musl-libc.org/cgit/musl/tree/src/unistd/pipe2.c

[2016-09-06 15:45] beatgammit commented on #268
This now works for me. I've built and run my code on FreeBSD 10.3-RELEASE that uses `mio` and the latest master works for me. Another has commented in the `mio` repository that it also works on 11-CURRENT, so I think FreeBSD compat is covered for now.

How do I request a release? Should I open a separate issue for making a release a la #269?

[2016-09-06 22:10] posborne opened #417 "Cut Release 0.6.1/0.7.0 (based on semver)"
There have been several requests for this in a few places, so I think it's time (or past time).  I can take the lead on cutting this release (probably later tonight).

Any objections?  CC @nix-rust/nix-maintainers

[2016-09-07 07:38] fiveop commented on #417
Yes please. If you could document the procedure in RELEASE_PROCEDURE.md, it would be even better.

One think that comes to mind is, that we should ask for a fresh libc release, which we then refer to in Cargo.toml in the release version.

[2016-09-07 16:02] kamalmarhubi commented on #417
No objections here. I'll write  up a quick draft of what I did for 0.6.

[2016-09-07 16:16] posborne commented on #417
Sounds good.  Didn't get to it last night, but hopefully soon.

[2016-09-08 00:08] kamalmarhubi commented on #417
Just checked, and latest libc is missing a couple of definitions. Filed https://github.com/rust-lang/libc/issues/385 to get a new release.

[2016-09-08 00:53] posborne commented on #417
Thanks @kamalmarhubi

[2016-09-09 06:11] fiveop commented on #417
Now is a good time to do it! I can do it this evening (UTC+2), if it hasn't happend by then.

[2016-09-09 15:05] sdroege opened #421 "Add support for MSG_CMSG_CLOEXEC MsgFlag"
See summary. This is Linux-only, but useful when sending file descriptors around to ensure that they're not leaked

[2016-09-18 07:04] fiveop commented on #414
If I understand it, the situation cannot be improved, from where your PR got us. Can we close this now?

[2016-09-18 07:05] fiveop commented on #417
And we have a release.

[2016-09-18 07:05] #417 closed

[2016-09-18 15:38] oconnor663 commented on #414
Yep. Closing.

Does `libc` have any plans to support pipe2 on BSD platforms? What's the broader future of detecting this sort of thing dynamically?

[2016-09-18 15:38] #414 closed

[2016-09-18 22:32] posborne commented on #417
Thanks for taking the lead on this release @fiveop.  I had good intentions to do some more work on that Nix but it wasn't in the cards.

[2016-09-30 11:31] nox commented on #363
Why do we need the `-pre` version at all? No other projects do that and they seem to do just fine.

[2016-10-02 13:11] fiveop commented on #363
The idea is, that only the repository state that gets released as a proper version in it. I am not sure, whether it helps much, but I don't think that it hurts either.

[2016-10-02 13:12] fiveop commented on #363
Btw. can we close this now? We have a documentation on how to get a release. If we want to discuss any other subject related to this topic, for example a schedule, we should open a fresh issue anyway.

[2016-10-02 14:39] nox commented on #363
This is the only crate behaving this way, so I would say the fact that no other crates ever needed this show that this is just unnecessary ceremony. Plus, that means we can never `[replace]` this dependency with a PR of it or whatever, given it will have a different version number as the crate released on crates.io.

[2016-10-03 16:26] fiveop opened #432 "Drop support for anything but stable, beta, (nightly)"
libc's CI only tests against stable, beta and nighlty (and a single build seems to run against 1.0.0 for some reason). Since we are a wrapper for libc, I would like to drop support for anything but stable, beta (and working towards getting nighlty green).

If others are not comfortable with this, I would suggest to altenatively only support the n latest releases (in addition to beta and nightly),

[2016-10-07 14:45] luser opened #434 "`waitpid` loses `PTRACE_EVENT` stop info from status"
The `ptrace(2)` docs say:

Currently `waitpid` decodes the signal with `status::stop_signal`, but loses this info. Maybe `WaitStatus::Stopped` could have an extra `Option<PtraceEvent>` field, where `PtraceEvent` could be an enum for the `PTRACE_EVENT_*` values?

I did some cursory investigation on how `ptrace` works on non-Linux platforms and couldn't find any equivalent usage here, so I guess thi

[2016-10-07 14:49] luser commented on #434
Apparently this PR implements support for this: https://github.com/nix-rust/nix/pull/273

[2016-10-07 21:44] fiveop opened #435 "Build failure in i686 beta"
In recent builds for i686 and rust beta, there have been build failures do to linking problems. See for example:

https://travis-ci.org/nix-rust/nix/builds/165124003
https://travis-ci.org/nix-rust/nix/builds/164470698
https://travis-ci.org/nix-rust/nix/builds/164422919

[2016-10-07 21:47] fiveop commented on #435
I tried to recreate the issue on my machine by installing beta-i686-linux-unknown-gnu and running the build. However, the build runs through. This makes investigating the failure difficult.

@posborne, as the (usually) knowledgeable when it comes to builds, do you have any ideas?

[2016-10-09 16:29] posborne commented on #435
Hmm, interesting.  Looks like it is failing to link basically everything provided by `std`.  I am suspicious of whether something might have changed with TravisCI but will need to do some more digging to say anything for certain.

[2016-10-15 14:21] fiveop commented on #435
For reference: The build has the same problem, if I use the same scripts and environment as libc: https://travis-ci.org/fiveop/nix-rust/jobs/167885171

[2016-10-15 15:05] fiveop commented on #435
The build problem occurs since beta went from 1.12.0-beta.6 to 1.13.0-beta.1. The prerelease version was bumped less than a day ago (https://github.com/rust-lang/rust/commit/3ebfbdb3e50bf2d5d9bfe2bfaad6ece86067cd46), so I am suggest waiting for 1.13.0-beta.2, since someone mentioned that there were linker problems in beta and nightly.

[2016-10-15 18:41] fiveop opened #437 "Build failure in osx 1.20"
The build problem occurs starting with build #1025:

[code]

I looked at the build logs. The only thing the logs reveal is a changed pip version (messages are slightly different), though that probably has nothing to do with this error.

[2016-10-16 22:04] chaosagent opened #439 "ptrace: Ptrace{Requests, Events, Options} are not in an enum"
https://github.com/nix-rust/nix/blob/master/src/sys/ptrace.rs#L14-L63

From CONVENTIONS.md:

[code]

[2016-10-18 20:59] TimNN commented on #435
This is probably rust-lang/rust#36793, I think.

(This has been fixed by rust-lang/rust#36866 on nightly, however the fix does not seem to have been include in 1.13.0-beta.2)

[2016-10-19 06:07] fiveop commented on #435
I suggest ignoring the beta build failure until 1.13.0-beta.3 (or newer) is released, so that work can continue.

[2016-10-21 06:47] fiveop commented on #437
Does this have something to do with alexcrichton/gcc-rs#111?

[2016-10-22 09:19] fiveop commented on #437
This stopped working between builds 1024 and 1025:

https://travis-ci.org/nix-rust/nix/jobs/164470714 (2016-10-02T18:43:19Z)
https://travis-ci.org/nix-rust/nix/jobs/165123419 (2016-10-05T02:22:39Z)

The logs differ in no significant way till the error occurs.

[2016-10-22 14:04] mkollaro opened #441 "Not possible to call kill(pid, 0)"
According to the man page:

_If sig is 0, then no signal is sent, but error checking is still performed; this can be used to check for the existence of  a process ID or process group ID._

The current signature is `pub fn kill(pid: pid_t, signal: Signal)`, and I think it should use `Option<Signal>`.

[2016-10-24 19:09] fiveop commented on #432
Closed in favour of #444.

[2016-10-24 19:09] #432 closed

[2016-10-24 19:09] fiveop commented on #437
#444 makes it unnecessary to look at this.

[2016-10-24 19:10] #437 closed

[2016-10-25 14:38] zethra opened #447 "Add tcsetpgrp function"
Could the `tcsetpgrp` function please be added?  Thank you.

[2016-10-25 16:01] kamalmarhubi commented on #221
#444 drops support for Rust < 1.7, which means we can get the `AsRef<Cstr>` impls that @arcnmx added many moons ago in https://github.com/rust-lang/rust/pull/30616.  I will give it some thought after Rust Belt Rust, and aim to put up an RFC draft in the next few weeks. My recent revisiting of (`mount` #446) reminded me how horrible `NixPath` is...

[code]
―https://github.com/nix-rust/nix/blob/mast

[2016-10-25 20:11] posborne commented on #447
Certainly, would you mind taking a shot at implementing?  I believe this one would be added to [unistd.rs](https://github.com/nix-rust/nix/blob/master/src/unistd.rs).  Probably would want to have `tcgetpgrp` added as well.

Doing this would require two changes:
1. Add the raw FFI definitions to the [libc crate](https://github.com/rust-lang/libc).  This would expose and unsafe interface.
2. Add fun

[2016-10-28 13:47] zethra commented on #447
Okay, I'm on it

[2016-10-28 15:04] kamalmarhubi opened #450 "Add mentored documentation bugs"
Inspired by the docs talk at Rust Belt Rust, and @posborne's #449 adding docs.

[2016-10-28 15:13] posborne commented on #447
Excellent, thanks for the update @zethra

[2016-11-02 11:25] fiveop commented on #435
The build features do not occur anymore, so we can revert the changes.

[2016-11-04 16:58] kamalmarhubi commented on #447
@zethra are you interested in adding it to nix as well? We can walk you through the process!

[2016-11-04 17:06] kamalmarhubi commented on #439
Thanks for the report! Saw your #438 as well. Going to comment there.

[2016-11-04 17:15] kamalmarhubi commented on #441
Thanks for the report. This is being handled in #445, which is close to done.

[2016-11-04 20:28] zethra commented on #447
I've added them to my fork of nix. I'm just working on the documentation. But I'll happily except any help you're willing to give!

[2016-11-04 20:57] kamalmarhubi commented on #447
Excellent! Feel free to open a PR from your fork and we'll take a look :-)

[2016-11-04 20:59] kamalmarhubi commented on #447
I'm doing so poorly at keeping track. You already opened #451. Taking a look.

[2016-11-06 19:34] chaosagent opened #458 "Clarify policy on breaking changes"
Theres no general policy on breaking changes in CONTRIBUTING.md; I think it'd be useful to have one.

[2016-11-06 20:12] chaosagent opened #459 "signal::SigFlags should be enum instead of bitflags."
http://man7.org/linux/man-pages/man3/pthread_sigmask.3.html

`SigFlags` represents the `how` parameter of pthread_sigmask, which takes 3 mutually exclusive options, which should be represented by an enum. The `SigFlags` name is pretty confusing too, as the underlying value is an option, not a flag.

[2016-11-06 20:15] chaosagent commented on #459
Fixing this would require some breaking changes, but I don't know what the policy on that is.

[2016-11-07 18:56] fiveop commented on #458
I think the current consensus is, that breaking things in order to make the code follow CONVENTIONS.md or to fix some problem (not necessarily a bug, see #445 for example) is fine. When we start to think about a 1.0 version, that will change. Feel free to write a paragraph stating that as a PR, that we can then further discus. If you don't, I might get around to it next week.

[2016-11-07 18:59] posborne commented on #458
Yep, at this point we don't want to break APIs unless there is a good reason.  But if there is a good reason, then I think it still makes sense to do so (and semver will change accordingly).

[2016-11-09 01:45] #265 closed

[2016-11-09 01:46] kamalmarhubi commented on #238
As of #444 we support 1.7.0+. We should RFCify our policy before another bump, probably.

[2016-11-09 01:48] kamalmarhubi commented on #238
Actually closing this in favour of discussing it on the RFCs repo at https://github.com/nix-rust/rfcs/issues/4.

[2016-11-09 01:48] #238 closed

[2016-11-09 01:49] kamalmarhubi commented on #458
Thanks for asking about this. We should definitely figure this out.

[2016-11-09 01:51] kamalmarhubi commented on #459
A big part of the motivation for a changelog is to at least make it possible to see what has changed. Pre-1.0 we're fairly happy to make changes for API improvements. This is fixing the semantics of an API and should certainly be allowed, IMO.

[2016-11-09 01:53] kamalmarhubi commented on #459
For more on this parameter: http://man7.org/linux/man-pages/man2/sigprocmask.2.html#DESCRIPTION

Certainly agree this should be an enum.

[2016-11-13 16:26] roblabla opened #464 "Passing multiple FD over an Unix Socket in a single Control Message doesn't work"
For some reason, passing multiple FD over a Unix Domain Socket doesn't seem to work. Below is some test code that is supposed to send two fd over a Unix Socket along with 8 bytes of data. For some reason, only one FD is sent though, the other is lost in the void.

[code]

The output is `paneid = [1, 2, 3, 4, 5, 6, 7, 8], fds = [6]`

[2016-11-13 17:22] roblabla commented on #464
Similarly, sending multiple control messages doesn't seem to work either. The following code panics at runtime on the `sendmsg` line, with the error `thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: Sys(EBADF)', src/libcore/result.rs:788` :

[code]

[2016-11-14 22:42] #441 closed

[2016-11-15 07:48] fiveop commented on #412
#454 removed the dependencies.

[2016-11-15 07:48] #412 closed

[2016-11-15 07:50] fiveop commented on #459
#460 is merged, so this issue can be closed.

[2016-11-15 07:50] #459 closed

[2016-11-15 07:55] fiveop opened #468 "Let's get rid of the -pre suffix."
As @nox stated in #363, no one else does it, and it apparently might cause, problems I don't fully understand, yet. Since, I don't see an advantage in having the pre in the repository all the time, I don't mind.

In addition, I would like to fix the next version to currently 0.(prev + 1).0 and not 0.prev.1, if we ever want to release a hotfix, we can do so in a separate branch with a 0.current.1 v

[2016-11-15 07:55] fiveop commented on #363
I opened issue #468 for @nox's concerns and close this issue now.

[2016-11-15 07:55] #363 closed

[2016-11-16 04:59] posborne commented on #468
I agree that dropping the pre should be fine within the context of the Rust/Cargo.  If user's are using a pre-release version they are pointing to git and Cargo.lock will be dealing with things appropriately.

[2016-11-16 05:00] #435 closed

[2016-11-16 21:41] fiveop opened #472 "Build for Beta i686 and Nightlies"
Looking at the build failures, that start here https://travis-ci.org/nix-rust/nix/builds/176399263, and given that there was a beta release on that day (from 1.13.0-beta.3 to 1.14.0-beta.1), the beta build failures are probably due to that update (or something related to it).

The build failures on nightly also look like they are due to some changes in Rust. (And indeed they are: https://github.co

[2016-11-17 07:12] fiveop commented on #472
As quickly as they came, they seem to be gone.

[2016-11-17 07:12] #472 closed

[2016-11-17 22:55] larsbergstrom commented on #313
Per https://github.com/servo/servo/issues/14171#issuecomment-261392270, changes to support Android would unfortunately probably need to go into nix itself instead of being reflected through libstd.

[2016-11-23 10:56] zethra opened #476 "No libc::signal"
There doesn't seem to be any function in nix that calls `libc::signal` but there is a signal module.  Is this deliberate or has it just not been added yet.  If the latter than should I add it to `nix::sys::signal` ?

[2016-11-23 11:05] fiveop commented on #476
It is in all likelihood the latter; probably, because no one needed it yet. If you do, feel free to add it.

[2016-11-23 11:12] zethra commented on #476
Okay I will, Thanks.

[2016-11-24 19:58] fiveop commented on #476
great

[2016-12-01 08:29] hicqu opened #479 "no `EpollFlags` in `nix::sys::epoll`"
I am working on a epoll program. But after I try to import EpollFlags from nix, error reported like this:
error[E0432]: unresolved import `nix::sys::epoll::EpollFlags`
  --> src/task/mod.rs:12:44
   |
12 | use nix::sys::epoll::{EpollOp, EpollEvent, EpollFlags};
   |                                            ^^^^^^^^^^ no `EpollFlags` in `nix::sys::epoll`

how to deal with that?

[2016-12-01 08:54] hicqu commented on #479
I checked nix source code in my $HOME/.cargo/.../nix-0.7.0.
I found that there is no EpollFlags but EpollEventKind instead!
So could you offer  a online document of latest released version instead of master branch?
It's very friendly for new comers!

Thanks a lot!

[2016-12-01 15:35] hicqu opened #480 "How to pass a null ptr to some functions?"
look at this function:

`fn epoll_ctl(epfd: RawFd, op: EpollOp, fd: RawFd, event: &mut EpollEvent)`

if EpollOp == EpollDel, the event could be a NULL in C. But how to pass a NULL ptr to epoll_ctl in rust?

[2016-12-02 01:35] shahn opened #481 "Provide clearenv?"
Can clearenv() be supported, with a workaround of environ = NULL where it's not supported?

[2016-12-02 13:46] fiveop commented on #480
This is a missing feature of our interface. We had a similar problem with `kill` (see #445). Feel free to create a PR to fix this. We will incorporate it, even if it is a breaking change. We should probably check in the new implementation of `epoll_ctl`, whether `event` may be `None` (or `NULL` in C) depending on the other arguments.

[2016-12-02 13:50] fiveop opened #482 "Publish documentation of last release (instead of current HEAD?)"
Created instead of #479.

[2016-12-02 13:51] fiveop commented on #479
Closed in favour of #482.

[2016-12-02 13:51] #479 closed

[2016-12-02 13:55] fiveop commented on #481
Certainly (at least for the first part). You would need to add bindings for `clearenv` to the project [libc](https://github.com/rust-lang/libc) and then add a wrapper to nix.

As for the latter part, you would need to figure out (for each platform) how to implement `clearenv` given the capabilities provided by libc.

[2016-12-03 03:56] posborne commented on #482
I think it is probably reasonable to link to docs.rs for this: https://docs.rs/nix/0.7.0/nix/.  This even allows for viewing docs for several different platforms.

[2016-12-03 04:32] hicqu commented on #480
OK, I think we can define these two functions in mio. Here is a simple test:

[code]

What do you think?

[2016-12-09 06:34] dpc opened #487 "`#[derive(PartialEq, Eq)]` for `nix::Errno`?"
[code]

produces:

[code]

I'm not exactly sure if I do the matching the best way.

[2016-12-10 19:35] #482 closed

[2017-01-06 21:04] Roguelazer opened #493 "All fields in ucred struct are private"
I'm using `PeerCredentials` functionality to extract the remote end of a unix domain socket, but all of the fields in the resulting `ucred` struct are private. I can work around this by doing an unsafe reinterepret cast (err, `transmute`) to a  #struct of my own definition with the same fields and layout, but would it be reasonable to just redefine `struct ucred` to have public fields?

[2017-01-07 00:38] Roguelazer opened #494 "From<std::time::Duration> for nix::sys::time::TimeVal?"
It might be more ergonomic to be able to pass `std::time::Duration` objects in place of timevals. Reasonable to send in a PR for?

[2017-01-07 10:43] SdNssr opened #495 "Realtime signals"
Realtime signals seem to be missing from `nix::sys::signal::Signal`, and quite a few functions seem to panic on receiving realtime signals:

- `nix::sys::signal::SigSet::wait`
- `nix::sys::wait::waitpid` (when the child died because of a realtime signal)
- and probably many others that I haven't yet used

So is this something that won't be supported, or is it just incomplete?

[2017-01-10 19:02] fiveop commented on #495
It is just incomplete. Feel free to add them. You might need to add the constants to libc first.

[2017-01-11 12:30] #480 closed

[2017-01-11 12:34] fiveop commented on #494
Not as a replacement, but implementing `TimeValLike` for `std::time::Duration` is probably a good idea.

Please do make a PR.

[2017-01-11 12:38] fiveop commented on #493
The definition of `ucred` in `nix` is pretty old. We usually wrap the definition in rust-lang/libc in a new struct (here, we might name it `UserCredentials`) and then provide accessor functions as needed. See for example `SigSet`.

[2017-01-27 09:54] SwagColoredKitteh opened #500 "TUN/TAP support"
It would be nice to have support for TUN/TAP devices. I guess this would involve adding a few ioctls and structs? I wouldn't mind implementing this myself, but would like some pointers for how to get started.

[2017-01-28 20:20] posborne commented on #500
I would be open to considering adding TUN/TAP support to nix; It would definitely be good to have support for these types of devices in the Rust ecosystem.

Initially, I think it might be a better approach to consider adding the support as a separate crate outside of nix itself as it is a little bit more specific than what we typically handle.  If there are specific system calls that need to be ex

[2017-01-30 14:57] oconnor663 opened #502 "document EINTR handling for functions like waitpid"
The standard library wraps calls to `libc::waitpid` so that they automatically retry if it returns EINTR. Should `nix` do the same? This question might apply to a bunch of other system calls too; `waitpid` is just the first one I looked at.

[2017-01-30 15:35] posborne commented on #502
Hi @oconnor663, I believe the answer for nix is no.

One of the primary goals for nix providing a more thin wrapping of libc is to not significantly limit where it can be used and not exposing `EINTR` would hide a potential case that some users might want to use.  I also think this retry behavior would be hard to make gel with flags like `WNOHANG` where we definitely would not want the retry behav

[2017-01-30 16:48] oconnor663 commented on #502
Cool, let me know if there's a discussion that's already happened somewhere else, so that I don't clutter things up here.

The man page for `waitpid` say that it returns `EINTR` if "`WNOHANG` was not set and an unblocked signal or a SIGCHLD was caught." So it might be that the `WNOHANG` question is moot. But if we assumed that it could happen, then I think almost all no-hang callers actually _shou

[2017-02-01 12:34] fiveop commented on #502
I agree with @posborne, and want to clearify that the intent is to provide a idiomatic wrapper that is as thin as possible while providing safe interfaces (if that is possible at all).

We could provide a macro that retries a given function call on `EINTR`. I like the idea.

[2017-02-01 14:34] oconnor663 commented on #502
After reading http://250bpm.com/blog:12 I have a better idea of the kind of callers who actually need to handle EINTR instead of always retrying it. Good to know.

[2017-02-01 18:19] gcp opened #504 "kill does not allow 0 as a signal"
"If sig is 0, then no signal is sent, but error checking is still performed; this can be used to  check
       for the existence of a process ID or process group ID."

signal.rs seems to explicitly disallow the signal value to be 0, i.e.:

[code]

[2017-02-05 23:29] jonas-schievink opened #505 "Provide a sysinfo wrapper"
Looks like a straight forward thing to implement.

[2017-02-09 02:12] alexreg opened #507 "Error building nix 0.6.0 on FreeBSD 10.3 (latest Rust nightly)"
[code]

[2017-02-10 04:45] posborne commented on #507
Hi @alexreg, can you verify that this occurs on the latest from git as well.  Also, is this failure only with nightly?

[2017-02-10 14:45] alexreg commented on #507
Actually, I've just verified it only occurs with nix 0.6 (and maybe earlier). Fixed from 0.7 onwards. So perhaps making a new 0.6 release and yanking the old one is the right way to go. :)

Sent from my iPhone

[2017-02-13 21:39] vishvananda opened #509 "CloneFlags doesn't include the new CLONE_NEWCGROUP flag"
linux 4.6 added a new clone flag CLONE_NEWCGROUP but it is not available in the CloneFlags struct.

[2017-02-13 21:42] vishvananda commented on #509
Sorry for the noise, looks like it was added in 5624ddb5

[2017-02-13 21:42] #509 closed

[2017-02-14 06:03] kamalmarhubi commented on #507
@alexreg does this error come up on stable Rust? Trying to narrow down the variables a bit.

Also, this raises an interesting question: how far back do we want to support.

[2017-02-15 03:44] alexreg commented on #507
Yep, happens on stable Rust too. The fix should be relatively straightforward in this case, although the code has been restructured quite significantly, it seems.

[2017-02-15 10:34] fiveop commented on #502
@oconnor663 Can we close this issue?

[2017-02-15 10:38] fiveop commented on #504
We have not released it yet, but in the next version you can pass None to `kill` in order to pass no signal. (see #441 and #445).

[2017-02-15 10:38] #504 closed

[2017-02-15 13:08] oconnor663 commented on #502
I've retitled this as a docs issue, though my original question is certainly answered, and if you'd prefer to close it out that's fine with me.

[2017-02-16 15:41] berkowski opened #514 "Provide baud constants for cfsetispeed and family"
`cfgetospeed`, `cfgetispeed`, `cfsetospeed`, and `cfsetispeed` all work with the type `speed_t`, which is aliased to `c_uint`.

However the baud speeds are not their numerical value but system-defined constants.  For example, 9600 on linux is defined as `B9600 = 15`.

Knowing what these constants are defined as on the target system is required to use these functions, but `nix` provides none and re

[2017-02-16 19:03] Susurrus opened #516 "Use Duration for all timeout arguments"
It looks like there may be other work on this area from perusing the existing issues and PRs, so maybe this is covered by that work already, but I wanted to use a Duration (or equivalent) for `poll::poll()`. Looks like there are a number of functions that could use this type treatment:

  * `poll::poll()`
  * `event::kevent()` (though this looks like a backcompat issue)
  * `epoll::epoll_wait()`

[2017-02-16 19:08] Susurrus opened #517 "Add support for ppoll()"
`poll()` is already included, but `ppoll()` would be nice too. Since there's a PR for `pselect()` I figured `ppoll()` would be suitable for inclusion as well.

[2017-02-17 04:33] posborne commented on #514
Hey @berkowski.  We would definitely prefer to have an enum that matches to the right constants.  Would you be willing to put together a PR for this?

[2017-02-17 13:59] berkowski commented on #514
Sure, no problem.

[2017-02-22 20:32] steveklabnik opened #519 "Any plans for 0.8.0?"
It's been five months and almost 200 commits since 0.7.0, just curious if/when 0.8.0 would get cut. Thanks!

[2017-02-22 20:36] posborne commented on #519
Yeah, it is overdue.  I think we just go ahead and cut one now.  Thought @kamalmarhubi @fiveop @nix-rust/nix-maintainers ?

[2017-02-22 21:10] kamalmarhubi commented on #519
I'm tempted to ask for a libc release, and then there's a tiny improvement we can get to one recently merged PR that I can't find right now :/

[2017-02-22 21:48] kamalmarhubi commented on #519
@posborne let's wrap up a few outstanding PRs that are really close, then release? And no later than Friday...

[2017-02-23 13:35] kamalmarhubi commented on #517
@Susurrus it'd certainly be welcome! Any chance you'd be interested in adding it? I could walk you through it if so.

[2017-02-23 13:39] kamalmarhubi commented on #516
I think part of the rationale was wanting to support old versions of Rust. `Duration` was only added in 1.3.0, and for a long time we supported back to 1.1.0. I think we now support ~1.7.0 so this could be revisited. @nix-rust/nix-maintainers thoughts?

[2017-02-23 17:41] arcnmx commented on #516
If the type is stable in all supported Rust versions, definite +1 to using proper time/duration types as arguments.

[2017-02-23 18:02] Susurrus commented on #517
Yeah, I'd like to get this added, but it looks like I'll first need to add `ppoll()` to libc.

Also, what should the function definition be? Given the consensus in #516 I would like to do:
`fn ppoll(fds: &mut [PollFd], timeout: Duration) -> Result<libc::c_int>`. Does that work?

[2017-02-23 18:03] Susurrus commented on #517
I can file an addition PR for #516 that will synchronize everything on using Duration, but I'm assuming the API discrepency will be acceptable in the short term?

[2017-02-23 18:25] Susurrus commented on #517
Just filed a PR for this for libc, but it'll probably take a couple of revisions nailing down what platforms actually support this (rust-lang/libc#537).

[2017-02-23 19:59] posborne commented on #516
Yeah, no objection from me.

[2017-02-23 20:04] Susurrus commented on #516
This brings up an interesting point, both for users and developers, that the minimum supported rust version isn't explicitly stated anywhere, though your CI only tests Rust 1.7. Can this be added to the readme?

[2017-02-24 00:34] Susurrus opened #521 "Remove revents argument from PollFd::new"
The `revents` field for the `PollFd` struct is an output-only field. Given that it a) isn't public and b) is written to by functions that consume it, it doesn't make sense to have it as an argument for `new()`. That argument will (should?) always be `EventFlags::empty()`.

[2017-02-24 18:09] posborne commented on #516
That seems reasonable. I do believe we have tried to make a note of any changes to supported version in the changelog.

[2017-02-24 19:11] kamalmarhubi commented on #516
1.7 is the current minimum, I believe.

Re taking `Duration`, I'd suggest taking `Into<Duration>` or perhaps `Into<TimeVal>` / `Into<TimeSpec>` as appropriate for the function.

[2017-02-24 19:30] kamalmarhubi commented on #519
Ok, I propose we let the following PRs get merged then cut 0.8:
- #518 (`BaudRate` enum), waiting on https://github.com/rust-lang/libc/pull/530 which also looks close
- #520 (`ppoll(2)`), waiting on https://github.com/rust-lang/libc/pull/537 which looks close to done
- #522 (README mentions Rust version requirement)

[2017-02-25 04:50] Susurrus opened #523 "Add cfsetspeed and cfmakeraw"
There are termios functions.

[2017-02-25 06:02] kamalmarhubi commented on #519
Those libc PRs are merged. Asked for a release in https://github.com/rust-lang/libc/issues/539

[2017-02-25 16:36] fiveop commented on #521
I don't see a problem with that. Feel free to send a PR.

[2017-02-25 16:45] fiveop commented on #519
In the future, anyone of us should feel free to bump the version whenever a few changes have accumulated. Given how we seem to work on this project in spurts, this will not happen more often than once a month anyway :)

[2017-02-25 17:05] Susurrus commented on #521
Along this same line, why is `PollFd::revents()` return an `Option` type? Since `EventFlags` contains the idea of `None` (as `empty()`), isn't this redundant?

[2017-02-25 19:49] #514 closed

[2017-02-25 20:11] Susurrus commented on #516
Why not just use Duration everywhere? #511 shows that if helper methods are desired they can just be implemented for Duration instead of introducing a new type. Or am I missing something and it's inappropriate or unergonomic in some cases?

[2017-02-26 13:00] fiveop commented on #521
It returns None if revents has a flag set that is not defined (see from_bits method in the bigflags! macro documentation). That should probably not be possible. But this way we are safe.

[2017-02-26 17:43] posborne opened #529 "TRUST CI: i686-unknown-linux-musl build hang"
This might be a spurious failure or related to the build in general taking too long on travis.  Creating this as a general tracking item.

Changes to fix would go into `new-ci/master` branch for now.

Instance: https://travis-ci.org/berkowski/nix/jobs/205534671

[2017-02-26 17:45] posborne opened #530 "TRUST CI: x86_64-unknown-linux-musl SIGSEGV"
[code]

https://travis-ci.org/berkowski/nix/jobs/205534672

[2017-02-26 17:47] posborne opened #531 "TRUST CI: x86_64-unknown-freebsd compilation error - Baud Rates"
https://travis-ci.org/berkowski/nix/jobs/205534682

CC @berkowski

[2017-02-26 17:48] posborne opened #532 "TRUST CI: x86_64-unknown-netbsd build errors (multiple)"
https://travis-ci.org/berkowski/nix/jobs/205534686

[2017-02-26 17:50] posborne opened #533 "TRUST CI: mips(el)-unknown-linux-gnu Multiple Tests Failing"
https://travis-ci.org/berkowski/nix/jobs/205534694

[2017-02-26 17:51] posborne opened #534 "TRUST CI: powerpc-unknown-linux-gnu Compilation Errors"
https://travis-ci.org/berkowski/nix/jobs/205534698

[2017-02-26 17:52] posborne opened #535 "TRUST CI: Nightly Builds for Linux/MacOS are Failing"
https://travis-ci.org/berkowski/nix/jobs/205534701
https://travis-ci.org/berkowski/nix/jobs/205534702

[2017-02-26 20:13] berkowski commented on #531
Looking into this there are a lot of constants defined in `sys/termios.rs` that should use their "upstream" versions from `libc`.  For example we shouldn't be defining

[code]
but instead

[code]

[2017-02-26 20:14] posborne commented on #531
Agreed.  We have been working on updating these, but there are clearly some that have not yet been updated.

[2017-02-26 21:07] posborne commented on #529
Running locally using `cross test --target=i686-unknown-linux-musl`, it appear that some of the AIO tests might be hanging...

[code]

CC @asomers.  Note that this is prior to your most recent PR.

[2017-02-26 21:57] asomers commented on #529
https://github.com/japaric/cross says that QEMU "gets upset when you spawn several threads".  Those tests technically do spawn several threads, because glibc implements POSIX AIO using threads.  It could be a QEMU bug.  However, the two tests that hang are the only two that use signals, which suggests that something involving signal delivery is screwed up.  In either case, it would be easier to de

[2017-02-26 22:03] asomers commented on #519
Can we please wait for the release until after PR #506 finishes?  That PR changes an API that was introduced after 0.7.0.

[2017-02-26 22:58] posborne commented on #529
MUSL binaries should be statically linked, so you should be able to run them in a standard linux environment.

[2017-02-27 01:20] posborne commented on #529
Ok, I did a little more digging on this one and the problem with the new CI is one that we have had in the past relating to concurrency.

By default, cargo will run multiple tests in parallel.  When I changed things locally to run with `RUST_TEST_THREADS=1`, I saw consistent passes with this target.  Due to the type of testing we have to do in nix, I will make the change to define this environment

[2017-02-27 02:33] #532 closed

[2017-02-27 04:00] Susurrus commented on #517
Closed by 5d4967ee9af8b2feeffd18534eef433066ad36c5

[2017-02-27 04:00] #517 closed

[2017-02-27 04:29] #529 closed

[2017-02-27 04:56] posborne commented on #530
Reproduced locally... Here's the backtrace.  Seems to be in `__aio_get_queue()`.  A lot of stuff optimized out, but it's something to start with.  For linux a lot of the AIO functionality is implemented in libc, so this is quite likely some different (and possibly a bug compared with) glibc.

[code]

[2017-02-28 01:56] kamalmarhubi commented on #519
Quick status update: libc release is blocked on https://github.com/rust-lang/libc/pull/538 (unrelated but soon-to-be-merged).

[2017-02-28 03:59] kamalmarhubi commented on #519
Selfishly going to add #540 and #541 to the blocking list.

[2017-02-28 18:21] berkowski commented on #533
Started on a PR but ran into lots of incorrectly defined constants (same with #534).  Instead of throwing `#cfg` blocks everywhere I started a rust-lang/libc#543 to fill in some of the constants missing from `libc`.  If that lands it should ease things here.

[2017-02-28 18:36] Susurrus commented on #519
I'd also like to nominate #527 which is done and just waiting on CI to finish.

[2017-02-28 21:44] Susurrus opened #543 "Expose fields of Termios struct"
I have need of directly manipulating the fields within the `Termios` struct. Right now that's impossible because the `Termios` struct just hides the underlying `libc::termios::termios` struct. Given the existence of `OutputFlags` and friends it seems like adding a `control_flags()` getter and `set_control_flags()` setter were originally planned?

[2017-02-28 21:48] Susurrus opened #544 "Derive Eq and Debug for Termios struct"
This may play into a larger issue of deriving these for more structs. Having `PartialEq`, `Eq`, `Copy`, and `Debug` would probably not cause problems for nearly all structs and yet be useful.

Tracking issue for libc, which would need to implement this as well is in rust-lang/libc#544

[2017-03-01 02:59] Susurrus commented on #531
This issue should be resolved with #527 which switches to using clib for all constants.

[2017-03-01 03:06] Susurrus opened #545 "Expose strerror and friends"
I'm refactoring some code of mine to use nix where possible but right now I can't get a string description for low-level errors. I used to use `errno`, but you can't do that easily with `nix` because once you have an `Errno` there's no way to get the underlying `i32` and pass that to `libc::strerror`. Instead of supporting extracting this integer, it'd be useful having a safe wrapper around `strer

[2017-03-01 14:30] kamalmarhubi commented on #519
@Susurrus I think you'll get your chance: yesterdays' S3 outage delayed https://github.com/rust-lang/libc/pull/538... :-)

[2017-03-02 04:54] kamalmarhubi commented on #519
@Susurrus I'm going to push a PR to bump to v0.8.0 now. We'll get your changes in soon. There's no reason we went five months between releases; it's certainly not a policy!

[2017-03-02 06:37] Susurrus commented on #519
@kamalmarhubi Ack.

[2017-03-02 12:45] #519 closed

[2017-03-02 16:02] kamalmarhubi commented on #519
This is now [tagged](https://github.com/nix-rust/nix/releases/tag/v0.8.0) and [published](https://crates.io/crates/nix/0.8.0). Need to figure out how to get the changelog in the github release page some time.

[2017-03-03 17:21] fiveop commented on #545
You want a function `strerror(Errno) -> SomeStringType`? Sounds good to me. And it does belong in `src/string.rs` as you suggest.

[2017-03-03 22:22] Susurrus commented on #545
So it looks like this behavior already exists in `Errno::desc()`. I've used it in my own library to make sure it works correctly, and it does, so I'll just use that instead. I don't see a good reason to expose `strerror()` or `strerror_r()` given that that functionality exists, but there should be a way for people trying to use those functions to find the `Errno` struct and related functionality.

[2017-03-06 04:51] chaosagent opened #550 "PTRACE_O_TRACESYSGOOD flag is interpreted as part of a signal"
In sys::wait, if waitpid returns a status originating from ptrace and PTRACE_O_TRACESYSGOOD is set, the seventh (0x80) bit of the status will be flipped. This causes status parsing to fail.

The flag technically isn't a ptrace event either, but I feel like that would be the best place to put it. Alternatively, a TRACESYSGOOD-status could be its own unique kind of status, or a boolean entry could b

[2017-03-06 13:45] kamalmarhubi commented on #545
You can do this via a cast: `my_errno_value as i32`. It may be nicer to provide a method, however.

[2017-03-06 16:42] Susurrus commented on #545
I don't need this functionality anymore since discovering `Errno::desc`. Should I close this or leave it open as a TODO item?

[2017-03-06 17:07] kamalmarhubi commented on #545
We can convert it to a doc issue :-)

[2017-03-06 21:20] Susurrus commented on #521
Closed by 80453b9139d5a035efaac2e963838676dcd04c37

[2017-03-06 21:20] #521 closed

[2017-03-08 16:47] Susurrus commented on #545
If you have a suggestion for how to document this, I can submit a PR for it. I just don't know where this should go.

[2017-03-09 22:42] kamalmarhubi opened #554 "Become contributors"
@asomers @Susurrus this one is for you! You've both been doing a fair amount of thoughtful contribution lately. As you've probably see, the current maintainers do work on the project in spurts. Having a couple more people will hopefully give us a more consistent cadence over all. What do you think?

cc @nix-rust/nix-maintainers

[2017-03-09 22:44] kamalmarhubi commented on #550
@chaosagent thanks for the report. What's the platform / architecture this happens on?

[2017-03-09 23:02] chaosagent commented on #550
This only happens on Linux, and I can confirm it happens on x86_64, but the Linux man page says that it might not work on all platforms.

The name of the flag is PTRACE_O_TRACESYSGOOD btw; I'll changethe issue title to reflect.

[2017-03-10 03:48] asomers commented on #554
Does it come with a two week training session at a corporate retreat in Tahiti?

Joking aside, ... maybe.  What does it entail to be a maintainer of nix?  I've never maintained a single github project until earlier this week.

[2017-03-10 04:40] Susurrus commented on #554
I agree, we're going to need a two-week Tahiti trip to really sort out the details!

I'm interested in being a maintainer, but I agree with @asomers I would like to know a little bit about what you guys are hoping for in terms of recruiting additional maintainers. Are you guys on IRC together ever, I'd be happy to jump on and I can meet the existing team and get a sense of your guys plan for the l

[2017-03-14 22:40] hniksic opened #555 "Allocation in execv, execvp, and execve"
The `exec` family of functions replace the current process with the new one, thus programs that wish to spawn a child normally call `exec*()` soon after a `fork()`. Unfortunately, fork [interacts badly with threads](http://www.linuxprogrammingblog.com/threads-and-fork-think-twice-before-using-them), because of which [POSIX restricts](http://pubs.opengroup.org/onlinepubs/009695399/functions/fork.ht

[2017-03-15 21:31] Susurrus commented on #554
@kamalmarhubi Are you guys on IRC or anything? Would love to talk to you and maybe some of the other maintainers.

[2017-03-16 16:53] raphaelcohn opened #557 "nix's Cargo.toml refers to the git head version of libc"
The 0.8.0 release of nix refers to the git head version of libc, rather than a version (eg "0.2.x"). I my builds, this makes nix's reexport of libc incompatible with other creates I'm using...

[2017-03-17 12:03] fiveop commented on #557
We failed to update that line, when making the release. I guess a simple 0.8.1 release with the correct libc version, should fix this.

[2017-03-17 12:05] fiveop commented on #554
So far, almost all communication I had with @posborne and @kamalmarhubi happend in issue and PR threads.

[2017-03-17 15:58] Susurrus commented on #554
What about starting a gitter for nix? I tried to jump on yesterday to see if there is one, but there isn't. The `gtk-rs` organization has one and it's pretty helpful.

[2017-03-17 15:59] Susurrus commented on #554
But I'll become a maintainer. Would definitely love to help get this CI stuff sorted out.

[2017-03-19 06:58] kamalmarhubi commented on #554
Hi! Sorry for the delay, was on vacation. Re what it entails, I think roughly: responding to issues and code reviews, engaging in discussion of project direction and conventions, helping keep the project ticking—CI, releases, and so on.

[2017-03-19 07:00] kamalmarhubi commented on #554
As for synchronous communications: we have an IRC channel that nobody responds to. I'm a bit wary of having another medium with an expectation of quick responses and failing to actually do that—it's kind of a crappy experience for whoever's looking for help. But I'm not against trying it out!

[2017-03-19 07:26] kamalmarhubi commented on #545
@Susurrus maybe module level docs on `nix::error`?

[2017-03-19 07:30] kamalmarhubi commented on #555
Thanks for raising this. I need to read up a bit more on the restrictions post-fork.

[2017-03-19 07:33] kamalmarhubi commented on #557
Ah this was my fault as I made the release. I actually got it right in the tagged version; I must have failed at the publish step. I'll take a look tomorrow or Monday if nobody else has by then. Sorry about this!

[2017-03-20 10:30] raphaelcohn commented on #557
That's OK. I did a fork and tried out a change to a specific libc version, and it seems to fix the issue I was experiencing.

[2017-03-20 14:29] kamalmarhubi commented on #557
@raphaelcohn I don't actually see this in the package on crates.io. Can you verify in a new project, and check that you don't have any overrides in `.cargo/config`?

[2017-03-21 08:21] raphaelcohn commented on #557
Which package on crates.io? I'm a bit befuddled.

[2017-03-22 20:35] Susurrus commented on #554
That's fine by me. We can keep the current async comms going unless we find something better. Let me know if there's anything else you want from me for this.

[2017-03-24 10:14] tailhook opened #560 "No sendfile on OS X / MacOS"
I guess this is just not implemented yet, right? Not something that's impossible or inviable to implement.

The problem might be that the system call is very different on OS X and linux. So should it be implemented on each system as is? Or should some common denominator be in nix? (given that syscall exists in libc for both platforms with different signature)

[2017-03-25 07:19] Mic92 commented on #560
Here is how go handle this: https://golang.org/search?q=sendfile

[2017-03-26 02:03] Susurrus commented on #516
@posborne @kamalmarhubi Any comments on this?

[2017-03-26 03:06] posborne commented on #516
I agree that taking `Duration` would be more ergonomic and would be in favor of taking `Into<Duration>` (which will work just fine with a `Duration` due to reflexivity).  The only minor downside would be that we might need to do conversions more frequently if a syscall is made frequently (but even then the conversion overhead is approximately nothing compared to the syscall in most cases).

[2017-03-26 03:12] posborne commented on #554
Yeah, I wouldn't be opposed to moving to gitter from IRC.  I'm not great at having the chat client up all the time and the notification from gitter can be handy.

[2017-03-26 03:17] Susurrus commented on #554
What's the IRC channel? That should definitely be mentioned in the README if there is a dedicated one (the same applies to gitter if that's the direction this is going).

[2017-03-26 03:19] Susurrus commented on #516
Would Rust be able to optimize across `Into<Duration>`? So we can have keep the nix-specific `TimeVal` and it contains the most common representation and if the `Duration` is converted back before use within a function, then Rust could optimize that out and no conversion would be done if you do back-to-back calls?

[2017-03-26 03:21] posborne commented on #554
`#irc` on irc.mozilla.org.  I haven't been on in ages.  I agree that there isn't much point in having an IRC/Gitter channel if it isn't mentioned.

[2017-03-26 14:57] Susurrus commented on #545
Re https://github.com/nix-rust/nix/issues/545#issuecomment-284399321 would it be accepted to add `impl From<i32> for Errno` which I think is more ergonomic than a cast? This could possibly replace the `from_i32()` method as well.

Also, do you mean I should add docs to `nix::errno`? `nix::error` doesn't exist though the type `nix::Error` does.

[2017-03-29 16:10] Susurrus commented on #554
@posborne @fiveop @kamalmarhubi You guys still planning to move ahead with this? I'm willing to become a maintainer. I see the top priorities as:
  1. Get `trust` working for testing `nix` across all supported platforms
  2. Work on RFCs (if that is still the desired approach) to resolve issues like `Duration`/`TimeValLike`/etc. and if the return value of functions should be `String`.
  3. Work th

[2017-04-02 01:56] alexreg opened #567 "Nix 0.8.0 fails to build on FreeBSD 10.3"
Here's the error log.

[code]

[2017-04-02 02:00] posborne commented on #554
I don't think I have heard any objections, so I think we should move forward.  @kamalmarhubi or @carllerche have the permissions to make this official.

[2017-04-02 15:25] Susurrus commented on #507
@alexreg You also opened #567, which makes me think this issue is outdated. If so, please close this.

[2017-04-02 15:36] alexreg commented on #507
Well, this one seemed to be solved (I think?), but some new similar errors appeared.

[2017-04-02 15:36] #507 closed

[2017-04-03 21:15] berkowski commented on #567
Compile errors should be fixed by #553, though the PR appears stalled.

[2017-04-04 00:41] alexreg commented on #567
Okay, great. Mind pinging me a new release is made, then I can test?

[2017-04-05 00:15] kamalmarhubi commented on #554
I'm sorry for the delay! I've invited @Susurrus to the org and maintainers group.

@asomers what say you?

[2017-04-05 00:16] kamalmarhubi commented on #554
@Susurrus I enjoy your list!

[2017-04-05 04:45] asomers commented on #554
I'm afraid that my time is too limited to be a general maintainer ATM.  But I'm happy to maintain select areas, like AIO and FreeBSD.  Feel free to assign bugs to me.

[2017-04-06 03:45] asomers commented on #554
I'm afraid that my time is too limited to be a general maintainer ATM.  But I'm happy to maintain select areas, like AIO and FreeBSD.  Feel free to assign bugs to me.

[2017-04-06 04:32] asomers commented on #554
Let me clarify: please do make me a maintainer.  I don't think I can be assigned bugs otherwise, nor can I review PRs; only comment on them.

[2017-04-06 14:50] kamalmarhubi commented on #341
This PR is related: https://github.com/rust-lang/libc/pull/374

[2017-04-07 17:48] vishvananda opened #570 "Is it possible to change the license for nix to MIT/APACHE?"
I'm hoping to use the apache license for some code that uses this library. While it is possible to use mit licensed code in an apache project, it is simpler if both licenses are allowed. The majority of the rust ecosystem allows for both licenses.

[2017-04-07 19:45] agrover opened #571 "Use of ioctl!() in a crate with [warn(missing_docs)]"
We'd like to enable `[warn(missing_docs)]` for our crate that uses nix, but when doing so we get this warning:
[code]
I don't see a way in my nix-using crate to silence this (without disabling the warning, of course!) Thanks.

[2017-04-07 23:11] Susurrus commented on #570
MIT is a more permissive license than Apache2, so there's no problem using this code with Apache2, but IANAL. You shouldn't be prevented from doing what you want based on a license change.

cc @nix-rust/nix-maintainers Any thoughts here?

[2017-04-07 23:45] kamalmarhubi commented on #554
@Susurrus @asomers one tiny thing: we use @homu to handle merging, so when accepting a PR write something like

This will run the tests on the merged result, and automatically merge when they pass. Benefits of us not having to poll the CI to know when to merge, and also testing the result of the merge instead of the branch being merged in.

[2017-04-07 23:46] kamalmarhubi commented on #554
You can undo an approval with

and get the tests retried with

[2017-04-07 23:48] kamalmarhubi commented on #571
@agrover thanks for the report. I'm not too familiar with the `ioctl` stuff, so I can't answer immediately. In the meantime, does putting `#[allow(missing_docs)]` on that declaration work?

[2017-04-07 23:49] kamalmarhubi commented on #570
IANAL either. My unfounded belief is we'd need to get approval from every one of the ~100 contributors to relicense their work. @carllerche do you have thoughts?

[2017-04-07 23:51] kamalmarhubi commented on #560
Sorry for the delayed response. I think the right way to handle this in nix is to have each platforms syscall implemented as-is, wrapping the libc implementations. Happy to accept a PR!

[2017-04-07 23:53] kamalmarhubi commented on #567
This seems bad. I'm going to try and make a point release to include the build fix this weekend. Will ping when done.

[2017-04-07 23:56] kamalmarhubi commented on #557
@raphaelcohn https://crates.io/crates/nix

Please do let us know if there's any issue with the latest released version.

[2017-04-07 23:57] Susurrus commented on #567
Note that a lot of this termios stuff is fixed in my stalled PR #527. There is a lot of stuff now in `libc` that we should rely on instead of reimplementing things. @kamalmarhubi You may find it useful to pick out the upstreamed stuff from that instead of just changing the `nix` definitions of all these constants.

Also, with the work ongoing in #536 we should try to add FreeBSD in there if we don

[2017-04-08 00:00] Susurrus commented on #567
Also, according to the changes in #536 all this work is already done in the `new-ci` branch. (see build results here: https://travis-ci.org/nix-rust/nix/builds/219888273). Maybe we should push on getting that merged instead of doing any extra work?

[2017-04-08 16:47] Susurrus commented on #557
This shouldn't actually be possible, to release a crate that doesn't have a version declared for all dependencies. Git versions and local paths aren't allowed for released crates. @raphaelcohn Are you using the current git or are you pulling from crates.io.

[2017-04-08 16:51] Susurrus commented on #534
This is now fixed by work in #536.

[2017-04-08 16:51] #534 closed

[2017-04-08 16:51] Susurrus commented on #531
This has also been fixed in #536.

[2017-04-08 16:51] #531 closed

[2017-04-08 17:53] singron opened #572 "Can't mount cgroups"
Mounting cgroupsv2 in linux requires passing NULL as the data parameter of the mount syscall. NixPath coerces None into an empty string instead. Constructing a null CStr is a little tricky and requires unsafe.

You can see the check in [kernel/cgroup/cgroup.c](https://github.com/torvalds/linux/blob/24c534bb161b8c95f261b34cbe44bbd043e829fc/kernel/cgroup/cgroup.c#L1800). Mount returns EINVAL and the

[2017-04-12 07:01] beamspease opened #573 "Additional examples for ioctl"
Some additional examples for ioctl would be very helpful. It's taken me a bit to figure out how I'm supposed to do BLKSZGET. Thanks.

[2017-04-12 15:32] Susurrus commented on #573
Since you've already figured out how to use ioctl for `BLKSZGET` and have code for it, would you be willing to submit something as an example?

[2017-04-13 03:09] Susurrus commented on #535
This is resolved in #536. I'm closing this in favor of tracking that PR instead.

[2017-04-13 03:09] #535 closed

[2017-04-14 00:34] sailfish009 opened #574 "how do i use ISR with nix?"
Can i use Interrupt Service Routine with nix?
without using #naked functions.

[2017-04-14 03:37] asomers commented on #574
You mean in kernel level code?  It's really cool that you're doing that, but I don't think that nix is for you.  Nix's purpose is to wrap common Unix (userland) APIs in a Rust-friendly way.  I don't think you'll find much here that's of use within the kernel.  Or did you have some specific component in mind?

[2017-04-14 03:41] asomers opened #575 "AioCb should work with refcounted buffers"
The `AioCb` structure contains a reference (actually just a PhantomData) to a slice.  This makes it impossible to use in situations where the borrow checker can't prove that the slice will outlive the `AioCb`, such as with Tokio.  There should be a way to create `AioCb`s that use reference counted buffers instead.

[2017-04-14 03:49] sailfish009 commented on #574
take look at this question:
https://stackoverflow.com/questions/43389196/rust-compiler-support-for-interrupts

[2017-04-14 03:53] asomers commented on #574
signals and interrupts are not the same thing.  Signals happen in userland.  Interrupts happen in the kernel, if there is a kernel.  Which are you actually trying to use?

[2017-04-14 04:26] sailfish009 commented on #574
i don't use, i want to know how to accesss ISR with nix.

[2017-04-14 14:05] asomers commented on #574
The answer is that you can't.  Nix has no features that help with writing ISRs.

[2017-04-14 14:05] #574 closed

[2017-04-14 15:37] code-ape opened #577 "Ability to add custom socket options"
I was looking to do the following code except using nix instead of libc:

[code]

However nix currently doesn't support this, which is fine. However, nix doesn't expose an easy way to use it's internal macros to construct the SO_ATTACH_FILTER command. I wanted to file an issue to suggest exposing this. I'll also look into contributing my use case to nix so it's added t the library for future users

[2017-04-15 04:44] mmokhi commented on #567
Sorry for ping on this,
Any release (at least because of this fix :smile:) is planned in near future? (or even merging this in current 0.8.0 release)

[2017-04-15 04:56] asomers commented on #567
It's fixed in the new-ci/master branch.  Finishing that branch and merging it is our highest priority ATM.  But in the meantime, you can use it.  The last known bug only concerns musl.

[2017-04-15 05:00] mmokhi commented on #567
I'm not using it directly.
I'm building another project (on FreeBSD) that uses Cargo, and it's downloading the 0.8.0 as far as I understood.
Anyway to modify that behavior of cargo?

[2017-04-15 05:04] asomers commented on #567
I haven't found a good way to do it.  What I do is clone the project locally and modify its Cargo.toml file to point to the branch I want.  Then I modify my project's Cargo.toml file to point to my local clone of the intermediate project using a path directive, like `mio = { path = "/home/somers/src/rust/mio" }`

[2017-04-15 05:15] mmokhi commented on #567
Good hint.
I'll try it, thanks :wink:

[2017-04-15 14:34] kamalmarhubi commented on #567
I'm sorry I failed to get to this last week. Is this fixed in nix/master?

[2017-04-15 15:54] asomers commented on #567
@kamalmarhubi do you mean new-ci/master?  Yes, it is.

[2017-04-15 17:45] Susurrus commented on #567
My plan is to finalize `new-ci/master` today and leave all failing architectures (which are new architectures to testing) as `allow_failures`. Then we can release a new version. Though since there was an API break, we should do a 0.9.0 release.

[2017-04-15 18:17] asomers opened #578 "tests should protect concurrent access to signal handlers"
tests/sys/test_aio.rs has two separate tests that install handlers for SIGUSR2.  This was probably the root cause of #529 .  It should've been fixed by 0e3ef36, but we still sometimes see related failures.  Instead of globally restricting the thread count to 1, those tests should use a mutex to protect access to signal handlers.  So far, there are no tests outside of that file that also use SIGUSR

[2017-04-15 21:22] kamalmarhubi opened #580 "New maintainers can't approve PRs"
[Noted by @Susurrus](https://github.com/nix-rust/nix/pull/536#issuecomment-294316385).

I'm considering attempting to move us to [bors-ng](https://github.com/bors-ng/bors-ng) which has some additional features on top of bors / homu:
- it's actively maintained
- it can batch PRs to merge multiple with one CI run

[2017-04-15 21:23] kamalmarhubi commented on #580
@Susurrus

Maybe! Give it a shot, unless the permissions are not to your liking.

[2017-04-15 21:25] kamalmarhubi commented on #567
@asomers

Actually I meant the build failure on FreeBSD. If it's fixed, does anyone know which PR fixed it?

[2017-04-15 21:28] Susurrus commented on #567
#531

[2017-04-15 21:37] Susurrus commented on #567
Sorry, about #536. I've added it to the CHANGELOG in #581

[2017-04-15 21:57] kamalmarhubi commented on #557
In that case, I'm closing this. Please reopen if you see something though!